Chap1/1_2_VERY_QUICKSTART.json
{
  "name": "1_2_VERY_QUICKSTART",
  "nodes": [
    {
      "parameters": {
        "content": "![](https://raw.githubusercontent.com/2innnnn0/assets/refs/heads/master/image/datapopcorn_logo_50px.png)\n## 매우 빠른 퀵스타트\n\n이 워크플로는 [very quick quickstart](https://docs.n8n.io//try-it-out/quickstart/) 튜토리얼에 사용되는 불완전한 워크플로입니다.\n\n1. 하단에 Test Workflow를 누릅니다.\n2. 각 노드별로 하나씩 눌러보며 노드의 설정을 살펴보고 Input, Ouput이 어떻게 나왔는지 한번 살펴봅시다.\n3. 본 워크플로우는 고객 데이터스토어 노드에서 데이터를 로드한 다음 필드 편집을 통해 데이터를 변환합니다.",
        "height": 331,
        "width": 496
      },
      "id": "92384e4e-e003-4028-b158-2d8dd8c35525",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -140,
        -200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Get fake sample data**",
        "height": 220,
        "width": 220
      },
      "id": "c7252ccd-c08f-4ae9-b90b-0f6c500adc40",
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        140,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Extract data and prepare it for use in the next node**",
        "height": 220,
        "width": 200
      },
      "id": "6eaa301b-1d60-4a62-a88a-41858ee9c2d2",
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "2c31e28d-a1eb-4b3d-8373-ba5dc6c1d23c",
      "name": "When clicking \"Test Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -20,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "customerId": "={{ $json.customer_id }}",
        "message": "=Hi {{$json.customer_name}},  Your description is {{$json.customer_description}}"
      },
      "id": "e300ab3b-84a2-42e1-a6fa-a63579f69ada",
      "name": "Customer Messenger (n8n training)",
      "type": "n8n-nodes-base.n8nTrainingCustomerMessenger",
      "typeVersion": 1,
      "position": [
        640,
        220
      ]
    },
    {
      "parameters": {
        "operation": "getAllPeople",
        "returnAll": true
      },
      "id": "80e5a597-8893-4754-b1f5-7524b1146a8c",
      "name": "Customer Datastore (1st)",
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "position": [
        200,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df041e3c-fc09-4ba2-8e6b-37f2c6a02526",
              "name": "customer_id",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "bf288953-4fef-4f55-a45f-c223714919c0",
              "name": "customer_name",
              "type": "string",
              "value": "={{ $json.name }}"
            },
            {
              "id": "1cff0b21-6740-4697-9d2c-9bcb045af0be",
              "name": "customer_description",
              "type": "string",
              "value": "={{ $json.notes }}"
            }
          ]
        },
        "options": {}
      },
      "id": "42eee0fd-9686-4d31-8c88-5b9d670ef692",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        440,
        220
      ],
      "typeVersion": 3.3
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Test Workflow\"": {
      "main": [
        [
          {
            "node": "Customer Datastore (1st)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Datastore (1st)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Customer Messenger (n8n training)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6ff45ddb-91e9-47ee-9ba4-317ca899e682",
  "meta": {
    "instanceId": "0c3df53d06f8e98b76dce975edff00f3b3bb54cd4a475a425a4806301153f7bf"
  },
  "id": "ojOejmOiVfqNuyhT",
  "tags": [
    {
      "createdAt": "2025-04-24T07:21:45.484Z",
      "updatedAt": "2025-04-24T07:21:45.484Z",
      "id": "jqWurvS7xJkHjdlh",
      "name": "inflearn"
    }
  ]
}