workflows/[2-12]-google-analytics4(ga4)-api.json
{"updatedAt":"2025-09-19T07:23:57.308Z","createdAt":"2025-09-19T06:41:06.991Z","id":"upN5s0HyzGotBDo9","name":"[2-12] Google Analytics4(GA4) API","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"424d5983-b920-4db8-89b5-3f638b3187f2","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[304,320],"typeVersion":1},{"parameters":{"content":"# Aggregate Google Analytics data and Email the results\n\nThis workflow will check for country views, page engagement and google search console results. It will take this week's data and compare it to last week's data.\n\n[Credit to Keith Rumjahn for the original workflow, which I modified.](https://rumjahn.com/how-i-used-a-i-to-be-an-seo-expert-and-analyzed-my-google-analytics-data-in-n8n-and-make-com/)","height":209.13454984057833,"width":1270.4518485107694,"color":6},"id":"2590b177-6ca1-4bdb-b683-3cf2d780ca8b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[496,-272],"typeVersion":1},{"parameters":{"content":"## Property ID\n\n1. Create your [Google Analytics Credentials](https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/?utm_source=n8n_app&utm_medium=credential_settings&utm_campaign=create_new_credentials_modal)\n2. Enter your [property ID](https://developers.google.com/analytics/devguides/reporting/data/v1/property-id) or Choose from the List of Properties.","height":745.919853945687,"width":1269.8517211291685,"color":4},"id":"581e29ce-f712-4351-b9c9-00d1773b6758","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[496,-32],"typeVersion":1},{"parameters":{"propertyId":{"__rl":true,"value":"479264177","mode":"list","cachedResultName":"latpeed","cachedResultUrl":"https://analytics.google.com/analytics/web/#/p479264177/"},"metricsGA4":{"metricValues":[{"listName":"active28DayUsers"},{"listName":"eventCount"},{"listName":"checkouts"},{"listName":"sessions"}]},"dimensionsGA4":{"dimensionValues":[{"listName":"country"}]},"returnAll":true,"simple":false,"additionalFields":{"keepEmptyRows":true}},"id":"b8aa2db2-075f-452c-82b4-8b69cc270d76","name":"Get Page Engagement Stats for this week","type":"n8n-nodes-base.googleAnalytics","position":[576,112],"typeVersion":2},{"parameters":{"propertyId":{"__rl":true,"value":"479264177","mode":"list","cachedResultName":"latpeed","cachedResultUrl":"https://analytics.google.com/analytics/web/#/p479264177/"},"dateRange":"custom","startDate":"={{$today.minus({days: 14})}}","endDate":"={{$today.minus({days: 7})}}","metricsGA4":{"metricValues":[{"listName":"other","name":"screenPageViews"},{"listName":"other","name":"activeUsers"},{"listName":"other","name":"screenPageViewsPerUser"},{"listName":"other","name":"eventCount"}]},"dimensionsGA4":{"dimensionValues":[{"listName":"other","name":"unifiedScreenName"}]},"returnAll":true,"simple":false,"additionalFields":{"keepEmptyRows":true}},"id":"21bc04a6-7606-4cd7-b919-12af00841f26","name":"Get Page Engagement Stats for prior week","type":"n8n-nodes-base.googleAnalytics","position":[976,112],"typeVersion":2},{"parameters":{"propertyId":{"__rl":true,"value":"489727585","mode":"list","cachedResultName":"n8n-datapopcorn","cachedResultUrl":"https://analytics.google.com/analytics/web/#/p489727585/"},"metricsGA4":{"metricValues":[{"listName":"other","name":"activeUsers"},{"listName":"other","name":"engagedSessions"},{"listName":"other","name":"engagementRate"},{"listName":"other","name":"eventCount"},{"listName":"other","name":"organicGoogleSearchAveragePosition"},{"listName":"other","name":"organicGoogleSearchClickThroughRate"},{"listName":"other","name":"organicGoogleSearchClicks"},{"listName":"other","name":"organicGoogleSearchImpressions"}]},"dimensionsGA4":{"dimensionValues":[{"listName":"other","name":"landingPagePlusQueryString"}]},"simple":false,"additionalFields":{"keepEmptyRows":false}},"id":"e5568002-7aca-43c6-b84e-880666b84794","name":"Get Google Search Results for this week","type":"n8n-nodes-base.googleAnalytics","position":[1376,112],"typeVersion":2},{"parameters":{"propertyId":{"__rl":true,"value":"479264177","mode":"list","cachedResultName":"latpeed","cachedResultUrl":"https://analytics.google.com/analytics/web/#/p479264177/"},"metricsGA4":{"metricValues":[{"listName":"other","name":"activeUsers"},{"listName":"other","name":"newUsers"},{"listName":"other","name":"engagementRate"},{"listName":"other","name":"engagedSessions"},{"listName":"other","name":"eventCount"},{"listName":"other"},{"listName":"other","name":"sessions"}]},"dimensionsGA4":{"dimensionValues":[{"listName":"other","name":"country"}]},"returnAll":true,"simple":false,"additionalFields":{"keepEmptyRows":true}},"id":"72be36cf-76fd-448c-b08a-3ff704577912","name":"Get Country views data for this week","type":"n8n-nodes-base.googleAnalytics","position":[976,320],"typeVersion":2},{"parameters":{"content":"# GA4 자동리포트 워크플로우\n\n*Original : https://n8n.io/workflows/2549-automate-google-analytics-reporting/\n*Credit : AlexK1919 ","height":986,"width":296,"color":6},"id":"3a3f57a2-d77f-4668-8ec2-4cb2b681d740","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[176,-272],"typeVersion":1},{"parameters":{"jsCode":"// Helper function to decode and parse a URL-encoded JSON string\nfunction decodeUrlString(urlString) {\n    try {\n        const decoded = JSON.parse(decodeURIComponent(urlString));\n        console.log('Decoded URL string:', JSON.stringify(decoded, null, 2));\n        return decoded;\n    } catch (error) {\n        console.log('Error decoding URL string:', error.message);\n        return [];\n    }\n}\n\n// Main function to aggregate data\nfunction aggregateData(items) {\n    // Extract each urlString from the input\n    const data = items[0]?.json; // Get the first JSON object from input\n\n    if (!data) {\n        console.log('No data found in input items.');\n        return {};\n    }\n\n    // Decode each urlString\n    const engagementStatsThisWeek = decodeUrlString(data.urlString1 || '');\n    const engagementStatsPriorWeek = decodeUrlString(data.urlString2 || '');\n    const searchResultsThisWeek = decodeUrlString(data.urlString3 || '');\n    const searchResultsLastWeek = decodeUrlString(data.urlString4 || '');\n    const countryViewsThisWeek = decodeUrlString(data.urlString5 || '');\n    const countryViewsLastWeek = decodeUrlString(data.urlString6 || '');\n\n    // Aggregate the decoded data into a structured object\n    const aggregatedData = {\n        engagementStats: {\n            thisWeek: engagementStatsThisWeek,\n            priorWeek: engagementStatsPriorWeek,\n        },\n        searchResults: {\n            thisWeek: searchResultsThisWeek,\n            lastWeek: searchResultsLastWeek,\n        },\n        countryViews: {\n            thisWeek: countryViewsThisWeek,\n            lastWeek: countryViewsLastWeek,\n        },\n    };\n\n    console.log('Final Aggregated Data:', JSON.stringify(aggregatedData, null, 2));\n    return aggregatedData;\n}\n\n// Get input data from all nodes\nconst items = $input.all();\nconsole.log('Input items to Aggregate Data:', JSON.stringify(items, null, 2));\n\n// Perform aggregation\nconst aggregatedResult = aggregateData(items);\n\n// Output the aggregated result for downstream processing\nreturn { json: aggregatedResult };\n"},"id":"d3ab07b8-6468-49ab-a0d5-1bc3c89e53cb","name":"Aggregate Data","type":"n8n-nodes-base.code","position":[784,512],"typeVersion":2},{"parameters":{"propertyId":{"__rl":true,"value":"479264177","mode":"list","cachedResultName":"latpeed","cachedResultUrl":"https://analytics.google.com/analytics/web/#/p479264177/"},"dateRange":"custom","startDate":"={{$today.minus({days: 14})}}","endDate":"={{$today.minus({days: 7})}}","metricsGA4":{"metricValues":[{"listName":"other","name":"activeUsers"},{"listName":"other","name":"engagedSessions"},{"listName":"other","name":"engagementRate"},{"listName":"other","name":"eventCount"},{"listName":"other","name":"organicGoogleSearchAveragePosition"},{"listName":"other","name":"organicGoogleSearchClickThroughRate"},{"listName":"other","name":"organicGoogleSearchClicks"},{"listName":"other","name":"organicGoogleSearchImpressions"}]},"dimensionsGA4":{"dimensionValues":[{"listName":"other","name":"landingPagePlusQueryString"}]},"returnAll":true,"simple":false,"additionalFields":{"keepEmptyRows":true}},"id":"74496200-105b-42c0-9827-c8d50e4d6ad4","name":"Get Google Search Results for prior week","type":"n8n-nodes-base.googleAnalytics","position":[576,320],"typeVersion":2},{"parameters":{"propertyId":{"__rl":true,"value":"479264177","mode":"list","cachedResultName":"latpeed","cachedResultUrl":"https://analytics.google.com/analytics/web/#/p479264177/"},"dateRange":"custom","startDate":"={{$today.minus({days: 14})}}","endDate":"={{$today.minus({days: 7})}}","metricsGA4":{"metricValues":[{"listName":"other","name":"activeUsers"},{"listName":"other","name":"newUsers"},{"listName":"other","name":"engagementRate"},{"listName":"other","name":"engagedSessions"},{"listName":"other","name":"eventCount"},{"listName":"other"},{"listName":"other","name":"sessions"}]},"dimensionsGA4":{"dimensionValues":[{"listName":"other","name":"country"}]},"returnAll":true,"simple":false,"additionalFields":{"keepEmptyRows":true}},"id":"983f0318-0aa9-4e42-bf7c-3e85d4bcacb1","name":"Get Country views data for prior week","type":"n8n-nodes-base.googleAnalytics","position":[1376,320],"typeVersion":2},{"parameters":{"jsCode":"function transformToUrlString(items) {\n    // Debug logging\n    console.log('Input items:', JSON.stringify(items, null, 2));\n    \n    // Check if items is an array and has content\n    if (!Array.isArray(items) || items.length === 0) {\n        console.log('Items is not an array or is empty');\n        throw new Error('Invalid data structure');\n    }\n\n    // Check if first item exists and has json property\n    if (!items[0] || !items[0].json) {\n        console.log('First item is missing or has no json property');\n        throw new Error('Invalid data structure');\n    }\n\n    // Get the analytics data\n    const analyticsData = items[0].json;\n    \n    // Check if analyticsData has rows\n    if (!analyticsData || !Array.isArray(analyticsData.rows)) {\n        console.log('Analytics data is missing or has no rows array');\n        throw new Error('Invalid data structure');\n    }\n    \n    // Map each row to a simplified object\n    const simplified = analyticsData.rows.map(row => {\n        if (!row.dimensionValues?.[0]?.value || !row.metricValues?.length) {\n            console.log('Invalid row structure:', row);\n            throw new Error('Invalid row structure');\n        }\n        \n        return {\n            page: row.dimensionValues[0].value,\n            pageViews: parseInt(row.metricValues[0].value) || 0,\n            activeUsers: parseInt(row.metricValues[1].value) || 0,\n            viewsPerUser: parseFloat(row.metricValues[2].value) || 0,\n            eventCount: parseInt(row.metricValues[3].value) || 0\n        };\n    });\n    \n    // Convert to JSON string and encode for URL\n    return encodeURIComponent(JSON.stringify(simplified));\n}\n\n// Get input data and transform it\nconst urlString = transformToUrlString($input.all());\n\n// Return the result\nreturn { json: { urlString } };"},"id":"5f435ce7-893a-43e8-8b41-68312e4ec27b","name":"Parse - Get Page Engagement This Week","type":"n8n-nodes-base.code","position":[784,112],"typeVersion":2},{"parameters":{"jsCode":"function transformToUrlString(items) {\n    // Debug logging\n    console.log('Input items:', JSON.stringify(items, null, 2));\n    \n    // Check if items is an array and has content\n    if (!Array.isArray(items) || items.length === 0) {\n        console.log('Items is not an array or is empty');\n        throw new Error('Invalid data structure');\n    }\n\n    // Check if first item exists and has json property\n    if (!items[0] || !items[0].json) {\n        console.log('First item is missing or has no json property');\n        throw new Error('Invalid data structure');\n    }\n\n    // Get the analytics data\n    const analyticsData = items[0].json;\n    \n    // Check if analyticsData has rows\n    if (!analyticsData || !Array.isArray(analyticsData.rows)) {\n        console.log('Analytics data is missing or has no rows array');\n        throw new Error('Invalid data structure');\n    }\n    \n    // Filter out invalid rows and map each valid row to a simplified object\n    const simplified = analyticsData.rows\n        .filter(row => {\n            // Check if row is valid and its properties exist\n            const isValid = row \n                && row.dimensionValues \n                && row.dimensionValues[0] \n                && row.dimensionValues[0].value \n                && row.metricValues \n                && row.metricValues.length > 0;\n            \n            if (!isValid) {\n                console.log('Ignoring invalid or null row:', row);\n            }\n            return isValid;\n        })\n        .map(row => ({\n            page: row.dimensionValues[0].value,\n            pageViews: parseInt(row.metricValues[0].value) || 0,\n            activeUsers: parseInt(row.metricValues[1]?.value) || 0,\n            viewsPerUser: parseFloat(row.metricValues[2]?.value) || 0,\n            eventCount: parseInt(row.metricValues[3]?.value) || 0\n        }));\n    \n    // Convert to JSON string and encode for URL\n    return encodeURIComponent(JSON.stringify(simplified));\n}\n\n// Get input data and transform it\nconst urlString = transformToUrlString($input.all());\n\n// Return the result\nreturn { json: { urlString } };\n"},"id":"f134518d-5a45-4de3-8f57-994ff0f54f4e","name":"Parse - Get Page Engagement Prior Week","type":"n8n-nodes-base.code","position":[1184,112],"typeVersion":2},{"parameters":{"jsCode":"function transformToUrlString(items) {\n    // Check if items is an array and get the JSON property\n    const data = items[0]?.json;\n\n    if (!data || !Array.isArray(data.rows)) {\n        console.log('No valid data found');\n        return encodeURIComponent(JSON.stringify([]));\n    }\n\n    try {\n        // Process each row, skipping invalid or null entries\n        const simplified = data.rows\n            .filter(row => {\n                // Skip null rows or rows without dimensionValues or metricValues\n                const isValid = row && row.dimensionValues && Array.isArray(row.metricValues);\n                if (!isValid) {\n                    console.log('Skipping invalid row:', row);\n                }\n                return isValid;\n            })\n            .map(row => ({\n                page: row.dimensionValues[0]?.value || 'Unknown',\n                activeUsers: parseInt(row.metricValues[0]?.value) || 0,\n                engagedSessions: parseInt(row.metricValues[1]?.value) || 0,\n                engagementRate: parseFloat(row.metricValues[2]?.value) || 0.0,\n                eventCount: parseInt(row.metricValues[3]?.value) || 0,\n                avgPosition: parseFloat(row.metricValues[4]?.value) || 0.0,\n                ctr: parseFloat(row.metricValues[5]?.value) || 0.0,\n                clicks: parseInt(row.metricValues[6]?.value) || 0,\n                impressions: parseInt(row.metricValues[7]?.value) || 0\n            }));\n\n        // Encode the simplified data as a URL-safe string\n        return encodeURIComponent(JSON.stringify(simplified));\n    } catch (error) {\n        console.log('Error processing data:', error.message);\n        throw new Error('Invalid data structure');\n    }\n}\n\n// Get the input data\nconst items = $input.all();\n\n// Process the data\nconst result = transformToUrlString(items);\n\n// Return the result\nreturn { json: { urlString: result } };\n"},"id":"8324ad8e-d850-4baf-85f7-75f0e277ae36","name":"Parse - Get Google Search This Week","type":"n8n-nodes-base.code","position":[1584,112],"typeVersion":2},{"parameters":{"jsCode":"function transformToUrlString(items) {\n    // Ensure the input is valid and contains data\n    const data = items[0]?.json;\n\n    if (!data || !Array.isArray(data.rows)) {\n        console.log('No valid data found');\n        return encodeURIComponent(JSON.stringify([]));\n    }\n\n    try {\n        // Process each row, skipping null or invalid rows\n        const simplified = data.rows\n            .filter(row => {\n                // Skip null rows\n                const isValid = row && row.dimensionValues && Array.isArray(row.metricValues);\n                if (!isValid) {\n                    console.log('Skipping invalid or null row:', row);\n                }\n                return isValid;\n            })\n            .map(row => ({\n                page: row.dimensionValues[0]?.value || 'Unknown',\n                activeUsers: parseInt(row.metricValues[0]?.value) || 0,\n                engagedSessions: parseInt(row.metricValues[1]?.value) || 0,\n                engagementRate: parseFloat(row.metricValues[2]?.value) || 0.0,\n                eventCount: parseInt(row.metricValues[3]?.value) || 0,\n                avgPosition: parseFloat(row.metricValues[4]?.value) || 0.0,\n                ctr: parseFloat(row.metricValues[5]?.value) || 0.0,\n                clicks: parseInt(row.metricValues[6]?.value) || 0,\n                impressions: parseInt(row.metricValues[7]?.value) || 0\n            }));\n\n        // If no valid rows, return an empty array\n        if (simplified.length === 0) {\n            console.log('No valid rows to process');\n            return encodeURIComponent(JSON.stringify([]));\n        }\n\n        // Encode the simplified data as a URL-safe string\n        return encodeURIComponent(JSON.stringify(simplified));\n    } catch (error) {\n        console.log('Error processing data:', error.message);\n        throw new Error('Invalid data structure');\n    }\n}\n\n// Get the input data\nconst items = $input.all();\n\n// Process the data\nconst result = transformToUrlString(items);\n\n// Return the result\nreturn { json: { urlString: result } };\n"},"id":"33d18c5e-e963-4c5b-b2bf-379eea4a74fb","name":"Parse - Get Google Search Prior Week","type":"n8n-nodes-base.code","position":[784,320],"typeVersion":2},{"parameters":{"jsCode":"function transformToUrlString(items) {\n    // In n8n, we need to check if items is an array and get the json property\n    const data = items[0].json;\n    \n    if (!data || !data.rows) {\n        console.log('No valid data found');\n        return encodeURIComponent(JSON.stringify([]));\n    }\n    \n    try {\n        // Process each row\n        const simplified = data.rows.map(row => ({\n            country: row.dimensionValues[0].value,\n            activeUsers: parseInt(row.metricValues[0].value) || 0,\n            newUsers: parseInt(row.metricValues[1].value) || 0,\n            engagementRate: parseFloat(row.metricValues[2].value) || 0,\n            engagedSessions: parseInt(row.metricValues[3].value) || 0,\n            eventCount: parseInt(row.metricValues[4].value) || 0,\n            totalUsers: parseInt(row.metricValues[5].value) || 0,\n            sessions: parseInt(row.metricValues[6].value) || 0\n        }));\n        \n        return encodeURIComponent(JSON.stringify(simplified));\n    } catch (error) {\n        console.log('Error processing data:', error);\n        throw new Error('Invalid data structure');\n    }\n}\n\n// Get the input data\nconst items = $input.all();\n\n// Process the data\nconst result = transformToUrlString(items);\n\n// Return the result\nreturn { json: { urlString: result } };"},"id":"32fc2d42-dc1e-4553-8e96-f1f1559f2a86","name":"Parse - Country Views This Week","type":"n8n-nodes-base.code","position":[1184,320],"typeVersion":2},{"parameters":{"jsCode":"function transformToUrlString(items) {\n    // Ensure the input is valid and contains data\n    const data = items[0]?.json;\n\n    if (!data || !Array.isArray(data.rows)) {\n        console.log('No valid data found');\n        return encodeURIComponent(JSON.stringify([]));\n    }\n\n    try {\n        // Process each row, skipping invalid or null rows\n        const simplified = data.rows\n            .filter(row => {\n                // Skip null rows or rows without required properties\n                const isValid = row && row.dimensionValues && Array.isArray(row.metricValues);\n                if (!isValid) {\n                    console.log('Skipping invalid or null row:', row);\n                }\n                return isValid;\n            })\n            .map(row => ({\n                country: row.dimensionValues[0]?.value || 'Unknown',\n                activeUsers: parseInt(row.metricValues[0]?.value) || 0,\n                newUsers: parseInt(row.metricValues[1]?.value) || 0,\n                engagementRate: parseFloat(row.metricValues[2]?.value) || 0.0,\n                engagedSessions: parseInt(row.metricValues[3]?.value) || 0,\n                eventCount: parseInt(row.metricValues[4]?.value) || 0,\n                totalUsers: parseInt(row.metricValues[5]?.value) || 0,\n                sessions: parseInt(row.metricValues[6]?.value) || 0\n            }));\n\n        // If no valid rows, return an empty array\n        if (simplified.length === 0) {\n            console.log('No valid rows to process');\n            return encodeURIComponent(JSON.stringify([]));\n        }\n\n        // Encode the simplified data as a URL-safe string\n        return encodeURIComponent(JSON.stringify(simplified));\n    } catch (error) {\n        console.log('Error processing data:', error.message);\n        throw new Error('Invalid data structure');\n    }\n}\n\n// Get the input data\nconst items = $input.all();\n\n// Process the data\nconst result = transformToUrlString(items);\n\n// Return the result\nreturn { json: { urlString: result } };\n"},"id":"6994310e-9f98-469e-a418-21907b9e4346","name":"Parse - Country Views Prior Week","type":"n8n-nodes-base.code","position":[1584,320],"typeVersion":2},{"parameters":{"assignments":{"assignments":[{"id":"93efb02f-f2f2-4e52-aa7a-3ccd1fb171cc","name":"urlString1","type":"string","value":"={{ $('Parse - Get Page Engagement This Week').first().json.urlString }}"},{"id":"5dea3377-0af2-48da-8666-5ee9452e25c5","name":"urlString2","type":"string","value":"={{ $('Parse - Get Page Engagement Prior Week').first().json.urlString }}"},{"id":"c6aa5d4d-d1e5-4493-96fd-60b2298ff6da","name":"urlString3","type":"string","value":"={{ $('Parse - Get Google Search This Week').first().json.urlString }}"},{"id":"711cb4fa-3e8c-4ad6-9b25-e2447d7492d1","name":"urlString4","type":"string","value":"={{ $('Parse - Get Google Search Prior Week').first().json.urlString }}"},{"id":"775bc64a-7986-48fb-a36d-4101158b83f0","name":"urlString5","type":"string","value":"={{ $('Parse - Country Views This Week').first().json.urlString }}"},{"id":"a6ae27a0-89b5-4a6f-8328-327750835c8d","name":"urlString6","type":"string","value":"={{ $('Parse - Country Views Prior Week').first().json.urlString }}"}]},"options":{}},"id":"fa44a809-48cb-4a76-9033-7607638fffa3","name":"Set urlStrings","type":"n8n-nodes-base.set","position":[576,512],"typeVersion":3.4},{"parameters":{"jsCode":"const input = $input.first().json;\n\n// Extract data\nconst engagementStats = input.engagementStats || {};\nconst searchResults = input.searchResults || {};\nconst countryViews = input.countryViews || {};\n\n// Helper function to safely format float numbers\nfunction formatNumber(value) {\n    return typeof value === 'number' ? value.toFixed(2) : 'N/A';\n}\n\n// Helper function to generate HTML for a table\nfunction generateTable(headers, rows, color) {\n    let table = `<table border=\"1\" style=\"border-collapse:collapse; width:100%; border:1px solid ${color};\">`;\n    // Add table headers\n    table += `<thead style=\"background-color:${color}; color:white;\"><tr>`;\n    headers.forEach(header => {\n        table += `<th style=\"padding:8px; text-align:left; border:1px solid ${color};\">${header}</th>`;\n    });\n    table += '</tr></thead>';\n    // Add table rows\n    table += '<tbody>';\n    rows.forEach(row => {\n        table += '<tr>';\n        row.forEach(cell => {\n            table += `<td style=\"padding:8px; border:1px solid ${color};\">${cell}</td>`;\n        });\n        table += '</tr>';\n    });\n    table += '</tbody></table>';\n    return table;\n}\n\n// Get today's date\nconst today = new Date();\nconst formattedDate = today.toLocaleDateString(undefined, {\n    year: 'numeric',\n    month: 'long',\n    day: 'numeric',\n});\n\n// Generate HTML content\nconst title = `GA Report for ${formattedDate}`;\nlet htmlContent = `<h1 style=\"text-align:center; color:#333;\">${title}</h1>`;\n\n// Colors for each segment\nconst engagementColor = '#4CAF50';\nconst searchColor = '#2196F3';\nconst countryColor = '#FF9800';\n\nhtmlContent += `<h2 style=\"color:${engagementColor};\">Engagement Stats</h2>`;\nhtmlContent += `<h3 style=\"color:#333;\">This Week</h3>`;\nif (engagementStats.thisWeek?.length) {\n    const headers = ['Page', 'Page Views', 'Active Users', 'Views per User', 'Event Count'];\n    const rows = engagementStats.thisWeek.map(stat => [\n        stat.page || 'N/A',\n        stat.pageViews ?? 'N/A',\n        stat.activeUsers ?? 'N/A',\n        formatNumber(stat.viewsPerUser),\n        stat.eventCount ?? 'N/A',\n    ]);\n    htmlContent += generateTable(headers, rows, engagementColor);\n} else {\n    htmlContent += `<p style=\"color:${engagementColor};\">No data available for this week.</p>`;\n}\n\nhtmlContent += `<h3 style=\"color:#333;\">Prior Week</h3>`;\nif (engagementStats.priorWeek?.length) {\n    const headers = ['Page', 'Page Views', 'Active Users', 'Views per User', 'Event Count'];\n    const rows = engagementStats.priorWeek.map(stat => [\n        stat.page || 'N/A',\n        stat.pageViews ?? 'N/A',\n        stat.activeUsers ?? 'N/A',\n        formatNumber(stat.viewsPerUser),\n        stat.eventCount ?? 'N/A',\n    ]);\n    htmlContent += generateTable(headers, rows, engagementColor);\n} else {\n    htmlContent += `<p style=\"color:${engagementColor};\">No data available for prior week.</p>`;\n}\n\nhtmlContent += `<h2 style=\"color:${searchColor};\">Search Results</h2>`;\nhtmlContent += `<h3 style=\"color:#333;\">This Week</h3>`;\nif (searchResults.thisWeek?.length) {\n    const headers = ['Page', 'Active Users', 'Engaged Sessions', 'Engagement Rate', 'Event Count', 'Avg Position', 'CTR', 'Clicks', 'Impressions'];\n    const rows = searchResults.thisWeek.map(result => [\n        result.page || 'N/A',\n        result.activeUsers ?? 'N/A',\n        result.engagedSessions ?? 'N/A',\n        formatNumber(result.engagementRate),\n        result.eventCount ?? 'N/A',\n        formatNumber(result.avgPosition),\n        formatNumber(result.ctr),\n        result.clicks ?? 'N/A',\n        result.impressions ?? 'N/A',\n    ]);\n    htmlContent += generateTable(headers, rows, searchColor);\n} else {\n    htmlContent += `<p style=\"color:${searchColor};\">No data available for this week.</p>`;\n}\n\nhtmlContent += `<h3 style=\"color:#333;\">Last Week</h3>`;\nif (searchResults.lastWeek?.length) {\n    const headers = ['Page', 'Active Users', 'Engaged Sessions', 'Engagement Rate', 'Event Count', 'Avg Position', 'CTR', 'Clicks', 'Impressions'];\n    const rows = searchResults.lastWeek.map(result => [\n        result.page || 'N/A',\n        result.activeUsers ?? 'N/A',\n        result.engagedSessions ?? 'N/A',\n        formatNumber(result.engagementRate),\n        result.eventCount ?? 'N/A',\n        formatNumber(result.avgPosition),\n        formatNumber(result.ctr),\n        result.clicks ?? 'N/A',\n        result.impressions ?? 'N/A',\n    ]);\n    htmlContent += generateTable(headers, rows, searchColor);\n} else {\n    htmlContent += `<p style=\"color:${searchColor};\">No data available for last week.</p>`;\n}\n\nhtmlContent += `<h2 style=\"color:${countryColor};\">Country Views</h2>`;\nhtmlContent += `<h3 style=\"color:#333;\">This Week</h3>`;\nif (countryViews.thisWeek?.length) {\n    const headers = ['Country', 'Active Users', 'New Users', 'Engagement Rate', 'Engaged Sessions', 'Event Count', 'Total Users', 'Sessions'];\n    const rows = countryViews.thisWeek.map(view => [\n        view.country || 'N/A',\n        view.activeUsers ?? 'N/A',\n        view.newUsers ?? 'N/A',\n        formatNumber(view.engagementRate),\n        view.engagedSessions ?? 'N/A',\n        view.eventCount ?? 'N/A',\n        view.totalUsers ?? 'N/A',\n        view.sessions ?? 'N/A',\n    ]);\n    htmlContent += generateTable(headers, rows, countryColor);\n} else {\n    htmlContent += `<p style=\"color:${countryColor};\">No data available for this week.</p>`;\n}\n\nhtmlContent += `<h3 style=\"color:#333;\">Last Week</h3>`;\nif (countryViews.lastWeek?.length) {\n    const headers = ['Country', 'Active Users', 'New Users', 'Engagement Rate', 'Engaged Sessions', 'Event Count', 'Total Users', 'Sessions'];\n    const rows = countryViews.lastWeek.map(view => [\n        view.country || 'N/A',\n        view.activeUsers ?? 'N/A',\n        view.newUsers ?? 'N/A',\n        formatNumber(view.engagementRate),\n        view.engagedSessions ?? 'N/A',\n        view.eventCount ?? 'N/A',\n        view.totalUsers ?? 'N/A',\n        view.sessions ?? 'N/A',\n    ]);\n    htmlContent += generateTable(headers, rows, countryColor);\n} else {\n    htmlContent += `<p style=\"color:${countryColor};\">No data available for last week.</p>`;\n}\n\n// Output the title and formatted HTML\nreturn {\n    json: {\n        title,\n        htmlContent,\n    }\n};"},"id":"fa51c22b-ec5f-4588-92e1-facef7f66a54","name":"Format Data","type":"n8n-nodes-base.code","position":[576,848],"typeVersion":2},{"parameters":{"jsCode":"console.log($input.all());\nreturn $input.all();\n"},"id":"861977b4-a346-44d4-9a14-a3138573e37b","name":"Input All","type":"n8n-nodes-base.code","position":[976,512],"typeVersion":2},{"parameters":{"content":"## Format the data and Email","height":295.7350020039967,"width":1264.897623827279,"color":5},"id":"cb57e2bc-d301-4347-bd1a-95488bb66358","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[496,752],"typeVersion":1},{"parameters":{"sendTo":"datapopcorn@gmail.com","subject":"=KBB {{ $json.title }}","message":"={{ $json.htmlContent }}","options":{"senderName":"Alex Kim"}},"id":"9fa546e3-fb5c-4663-aac1-80c04843c34a","name":"Email the Report","type":"n8n-nodes-base.gmail","position":[784,848],"webhookId":"80d4d964-449a-4599-b2de-bca9c8822bbd","typeVersion":2.1},{"parameters":{"content":"## GA4 Sample HOME https://analytics.google.com/analytics/web/#/p479264177/reports/intelligenthome?params=_u..nav%3Dmaui","height":200,"width":480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1792,384],"id":"c3fa0ae9-3c3c-4760-98c2-62bb97d6127c","name":"Sticky Note2"},{"parameters":{"content":"## GA4 API Notion  https://www.notion.so/datapopcorn/GA4-2072a185e5ce80019b43c85be3eaf0b0","height":200,"width":488},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1792,128],"id":"dafe1f3b-e5d5-4361-87be-32b3406caae7","name":"Sticky Note3"},{"parameters":{"propertyId":{"__rl":true,"value":"479264177","mode":"list","cachedResultName":"latpeed","cachedResultUrl":"https://analytics.google.com/analytics/web/#/p479264177/"},"metricsGA4":{"metricValues":[{"listName":"active1DayUsers"}]},"dimensionsGA4":{"dimensionValues":[{}]},"additionalFields":{}},"type":"n8n-nodes-base.googleAnalytics","typeVersion":2,"position":[304,112],"id":"d3467b8e-b587-4e57-8365-d41683d9e595","name":"Get a report"},{"parameters":{"content":"![](https://raw.githubusercontent.com/2innnnn0/assets/refs/heads/master/image/datapopcorn_logo_50px.png)\n## [Google Analytics 4 (GA4) API](https://wikidocs.net/291174)\n### GA4 API란?\n- GA4 API는 Google Analytics 4 속성의 데이터를 프로그래밍 방식으로 조회하고 분석할 수 있는 API다.  \n- n8n과 연동하면 사용자 행동 데이터, 이벤트, 전환 데이터를 쿼리하고 자동화 워크플로우에 활용할 수 있다.  \n\n### 주요 기능\n- 실시간 및 히스토리컬 데이터 조회\n- 사용자/세션/이벤트 지표 분석\n- 맞춤 리포트 생성\n- Audience 및 Property 메타데이터 확인\n- CSV/JSON 결과 반환\n\n### 1. Google Cloud 계정 생성\n- [Google Cloud Console](https://console.cloud.google.com/) 접속  \n- 새 프로젝트 생성 (예: `n8n-ga4-test`)  \n\n### 2. GA4 API 활성화\n- **API & Services → Library**  \n- **Google Analytics Data API** 검색 후 **Enable**  \n\n### 3. 서비스 계정(Service Account) 생성\n- **IAM & Admin → Service Accounts**  \n- 새 서비스 계정 생성 → 이름/설명 입력  \n- 역할(Role) 선택:  \n\n✅ Viewer (데이터 조회 전용)\n✅ Editor (데이터 읽기/쓰기 필요 시)\n✅ Owner (전체 권한 필요 시)\n\n- 서비스 계정 생성 후 **JSON 키 파일** 다운로드  \n\n### 4. GA4 속성 연결\n- [Google Analytics Admin](https://analytics.google.com/) → **속성(Property) 설정**  \n- **계정 액세스 관리**에서 서비스 계정 이메일 추가  \n- 역할: `Viewer` 이상 권한 부여  \n\n### 5. n8n 연동\n- n8n에서 **HTTP Request Node** 또는 **Google Analytics Node** 사용  \n- `Create a Credential` → 서비스 계정 JSON 업로드  \n- API 호출 시 `propertyId`를 포함해야 함 (예: `properties/123456789`)  \n\n### 6. 대표 쿼리 예시\n- 엔드포인트:  \n`POST https://analyticsdata.googleapis.com/v1beta/properties/{propertyId}:runReport`  \n\n- 요청 Body 예시:  \n```json\n{\n\"dimensions\": [{\"name\": \"city\"}],\n\"metrics\": [{\"name\": \"activeUsers\"}],\n\"dateRanges\": [{\"startDate\": \"2024-01-01\", \"endDate\": \"2024-01-31\"}]\n}\n\n\t•\t응답: 도시별 activeUsers 수치 반환\n\n7. n8n 활용 시나리오\n\t•\t매일 GA4에서 사용자 수/세션 수 집계 → Slack 알림 전송\n\t•\t특정 이벤트 전환율 추출 → Google Sheets 기록\n\t•\t광고 캠페인 데이터와 결합 → 주간 보고서 자동화\n\nGA4는 **Property ID와 서비스 계정 인증(JSON)** 두 가지가 핵심이다. 원하면 GA4 → BigQuery Export까지 붙여서 **대용량 분석 워크플로우** 예시도 정리해줄 수 있다.","height":1472,"width":672},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-528,-432],"id":"0b6b6bb4-09d2-4ce5-8ed0-c3213a30b1fb","name":"Sticky Note6"},{"parameters":{"rule":{"interval":[{}]}},"id":"388403c0-11ca-41c6-afb5-dcbbdafd05a2","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[304,512],"typeVersion":1.2,"disabled":true}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Get Page Engagement Stats for this week","type":"main","index":0}]]},"Get Page Engagement Stats for this week":{"main":[[{"node":"Parse - Get Page Engagement This Week","type":"main","index":0}]]},"Get Page Engagement Stats for prior week":{"main":[[{"node":"Parse - Get Page Engagement Prior Week","type":"main","index":0}]]},"Get Google Search Results for this week":{"main":[[{"node":"Parse - Get Google Search This Week","type":"main","index":0}]]},"Get Country views data for this week":{"main":[[{"node":"Parse - Country Views This Week","type":"main","index":0}]]},"Aggregate Data":{"main":[[{"node":"Input All","type":"main","index":0}]]},"Get Google Search Results for prior week":{"main":[[{"node":"Parse - Get Google Search Prior Week","type":"main","index":0}]]},"Get Country views data for prior week":{"main":[[{"node":"Parse - Country Views Prior Week","type":"main","index":0}]]},"Parse - Get Page Engagement This Week":{"main":[[{"node":"Get Page Engagement Stats for prior week","type":"main","index":0}]]},"Parse - Get Page Engagement Prior Week":{"main":[[{"node":"Get Google Search Results for this week","type":"main","index":0}]]},"Parse - Get Google Search This Week":{"main":[[{"node":"Get Google Search Results for prior week","type":"main","index":0}]]},"Parse - Get Google Search Prior Week":{"main":[[{"node":"Get Country views data for this week","type":"main","index":0}]]},"Parse - Country Views This Week":{"main":[[{"node":"Get Country views data for prior week","type":"main","index":0}]]},"Parse - Country Views Prior Week":{"main":[[{"node":"Set urlStrings","type":"main","index":0}]]},"Set urlStrings":{"main":[[{"node":"Aggregate Data","type":"main","index":0}]]},"Format Data":{"main":[[{"node":"Email the Report","type":"main","index":0}]]},"Input All":{"main":[[{"node":"Format Data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Get a report":[{"json":{"date":"20250804","active1DayUsers":"13"}},{"json":{"date":"20250803","active1DayUsers":"10"}},{"json":{"date":"20250731","active1DayUsers":"7"}},{"json":{"date":"20250801","active1DayUsers":"7"}},{"json":{"date":"20250802","active1DayUsers":"7"}},{"json":{"date":"20250805","active1DayUsers":"7"}},{"json":{"date":"20250730","active1DayUsers":"6"}},{"json":{"date":"20250806","active1DayUsers":"2"}}]},"versionId":"ede6690a-2602-4603-ae91-e613bb37437c","activeVersionId":null,"triggerCount":2,"shared":[{"updatedAt":"2025-09-19T06:41:06.991Z","createdAt":"2025-09-19T06:41:06.991Z","role":"workflow:owner","workflowId":"upN5s0HyzGotBDo9","projectId":"sjNgDrdbhRMMF6SK"}],"activeVersion":null,"tags":[{"updatedAt":"2025-09-19T05:46:22.728Z","createdAt":"2025-06-25T04:00:38.130Z","id":"EyGUZypc5DKHVUyY","name":"패스트캠퍼스_관리자"},{"updatedAt":"2025-11-19T08:47:47.381Z","createdAt":"2025-11-19T08:47:47.381Z","id":"iN3Q4ac9t0z2Kj1c","name":"active"}]}