workflows/[3-5]-rag-agent-with-supabase.json
{"updatedAt":"2025-11-06T02:06:33.435Z","createdAt":"2025-08-27T05:44:11.514Z","id":"6PwOxzbr8q0h7QF7","name":"[3-5] RAG Agent with supabase","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-560,592],"id":"8119fdb1-f901-45e0-98cb-0b50fd398167","name":"When chat message received","webhookId":"b1abaea1-014b-45db-b849-afbccf2ff9d2"},{"parameters":{"model":{"__rl":true,"value":"o3-mini-2025-01-31","mode":"list","cachedResultName":"o3-mini-2025-01-31"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-464,800],"id":"3c0faa42-a901-4a7f-9d20-90b908e9f73f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ledUugAWoH4Uadky","name":"(fastcampus)OpenAi account"}}},{"parameters":{"formTitle":"RAG documents","formFields":{"values":[{"fieldLabel":"pdf documents ","fieldType":"file","multipleFiles":false,"acceptFileTypes":"pdf","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-1328,880],"id":"61c7857c-0ca6-422c-9afd-5b0e9ec3a562","name":"On form submission","webhookId":"3e85ba3d-ff3d-46c9-b4bf-01dcdc230e17","disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-272,800],"id":"a8622bbd-27d7-49f4-82ad-0ebb094c15ff","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"TLS7jtD0Cpyom1Is","name":"n8n-fastcampus"}}},{"parameters":{"content":"## Supabase RAG 만들기","height":112,"width":368},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1408,352],"id":"c341a9d9-f515-484b-9905-11fd029e741f","name":"Sticky Note"},{"parameters":{"content":"## 1. 신규 문서 등록하기.","height":512,"width":768,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1408,496],"id":"9ba9eba1-2aa9-4657-8fb4-ca9e2f2a84a8","name":"Sticky Note1"},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-768,864],"id":"300bbbda-c105-476a-ade1-c5fc78899b08","name":"Default Data Loader"},{"parameters":{"content":"## 2. RAG Agent","height":560,"width":768,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-608,496],"id":"0bb147c8-f003-4109-9f38-6aaeec8725c9","name":"Sticky Note2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-368,592],"id":"1c06d4ec-ac31-4a37-b34d-a26f5653fafc","name":"RAG Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-112,912],"id":"8161fbb2-d342-48a7-84b9-4476ed7b681a","name":"text-embedding-3-small","credentials":{"openAiApi":{"id":"ledUugAWoH4Uadky","name":"(fastcampus)OpenAi account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1Cj4QL6Irx7haS9qPi-ds_3VhduIkVZiI","mode":"list","cachedResultName":"obsidian_drive","cachedResultUrl":"https://drive.google.com/drive/folders/1Cj4QL6Irx7haS9qPi-ds_3VhduIkVZiI"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1376,592],"id":"b105fa9e-df6a-4d42-8a9d-aa12926402fe","name":"File uploaded","credentials":{"googleDriveOAuth2Api":{"id":"DapyzERN9Buo346F","name":"(DP) Google Drive account"}},"disabled":true},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1168,592],"id":"8f21e1fb-7132-416f-9577-b1e4119cb4c1","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"DapyzERN9Buo346F","name":"(DP) Google Drive account"}},"disabled":true},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"애플 3분기 영업실적을 호출하기.","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-96,736],"id":"236e012b-1de6-401f-8089-7d0ff77ece84","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"M1oZmRyY3HTZpJtO","name":"Supabase account - n8n-fastcampus"}}},{"parameters":{"content":"## Try : 애플 3분기 실적 PDF 다운로드 받고 폼으로 업로드 해보기.\n- https://www.apple.com/kr/newsroom/2025/07/apple-reports-third-quarter-results/","height":144,"width":384},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1696,816],"id":"d22c278c-5767-4abe-9940-306b1b51d8ad","name":"Sticky Note3"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-944,624],"id":"fddd6416-490c-4bb9-acc4-58212d200f63","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"M1oZmRyY3HTZpJtO","name":"Supabase account - n8n-fastcampus"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1040,864],"id":"78fbc636-178c-48ae-a503-f479ab371b5b","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"ledUugAWoH4Uadky","name":"(fastcampus)OpenAi account"}}}],"connections":{"When chat message received":{"main":[[{"node":"RAG Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG Agent","type":"ai_languageModel","index":0}]]},"On form submission":{"main":[[{"node":"Supabase Vector Store1","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG Agent","type":"ai_memory","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store1","type":"ai_document","index":0}]]},"text-embedding-3-small":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"File uploaded":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Supabase Vector Store1","type":"main","index":0}]]},"Supabase Vector Store":{"ai_tool":[[{"node":"RAG Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:File uploaded":{"lastTimeChecked":"2025-09-02T05:17:37Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e8b57fe0-b4c6-4a27-a658-da58b1298b74","triggerCount":2,"shared":[{"updatedAt":"2025-08-27T05:44:11.514Z","createdAt":"2025-08-27T05:44:11.514Z","role":"workflow:owner","workflowId":"6PwOxzbr8q0h7QF7","projectId":"sjNgDrdbhRMMF6SK"}],"tags":[{"updatedAt":"2025-09-19T05:46:22.728Z","createdAt":"2025-06-25T04:00:38.130Z","id":"EyGUZypc5DKHVUyY","name":"패스트캠퍼스_관리자"}]}