workflows/[5W0QgdykUYgayvdX]my-workflow-250630.json
{"createdAt":"2025-09-03T02:28:03.221Z","updatedAt":"2025-09-03T02:28:03.221Z","id":"5W0QgdykUYgayvdX","name":"My workflow 250630","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"![](https://raw.githubusercontent.com/2innnnn0/assets/refs/heads/master/image/datapopcorn_logo_50px.png) \n\n## 이커머스: 상품 리뷰 워드클라우드 분석 자동화\n### Source : 네이버 영화 리뷰 데이터 https://github.com/e9t/nsmc/ \n\n- (수집) 리뷰 데이터 자동 수집 (쿠팡, 네이버쇼핑 등)\n- (전처리) 중복 제거, 불용어 제거, 명사/형용사 추출\n- (분석) OpenAI 감성 분석, 긍/부정 키워드 요약\n- (시각화) 긍/부정 워드클라우드 이미지 생성 \n\n\n- \"Schedule Trigger: 매일 오전 9시 실행\n- HTTP Request: 리뷰 데이터 수집\n- Function / Set: 중복 제거, 키워드 정제\n- OpenAI: 감성 분석 + 핵심 문장 추출\n- Function: 긍/부정 키워드 요약\n- Google Sheets / Notion: 결과 저장\n- SMTP / Gmail: 팀에 이메일 전송\"","height":540,"width":500},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"5ad11385-bd42-4a73-93cf-1e77e59e960c","name":"Sticky Note"},{"parameters":{"method":"POST","url":"https://quickchart.io/wordcloud","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Content-Disposition","value":"attachment; filename=\"wordcloud.png\""}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.output.wordcloudPayload }}","options":{"response":{"response":{"fullResponse":true,"responseFormat":"file","outputPropertyName":"positive.png"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1984,624],"id":"fc60adcb-b512-4c89-b049-1e7cfd7d4dce","name":"HTTP Request"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1648,672],"id":"33a62a1e-a71e-4168-878b-88c80b0501bf","name":"OpenAI Chat Model"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[64,768],"id":"05039d14-f2ce-4cd4-bf60-857e8ea4df99","name":"When clicking ‘Test workflow’"},{"parameters":{"jsCode":"const reviews = items.map(item => item.json);\n\nconst processedData = reviews.map(item => {\n  const text = item.data || '';\n  const stopWords = ['그리고', '싶다', '이다', '하다', '것', '수', '등', '및', '또는'];\n  \n  const words = text.split(/\\s+/).filter(word => word.trim() !== '');\n  const filteredWords = words.filter(word => !stopWords.includes(word));\n  const nounsAdjectives = filteredWords.filter(word => isNounOrAdjective(word));\n  \n  const processedText = nounsAdjectives.join(' ');\n  \n  // QuickChart API용 JSON 구조 생성\n  return {\n    // 워드클라우드 API용 페이로드\n    wordcloudPayload: {\n      format: \"png\",\n      width: 700,\n      height: 700,\n      fontFamily: \"sans-serif\",\n      fontScale: 18,\n      scale: \"linear\",\n      text: processedText,\n      backgroundColor: \"white\",\n      colorScheme: \"paired\",\n      maxWords: 100\n    },\n    // 디버깅용 정보\n    originalData: item.data,\n    processedText: processedText,\n    wordCount: nounsAdjectives.length,\n    words: nounsAdjectives\n  };\n});\n\nreturn processedData.map(item => ({ json: item }));\n\n// 기존 함수들...\nfunction isNounOrAdjective(word) {\n  if (word.length < 2) return false;\n  const tagged = tagPOS(word);\n  return tagged === 'N' || tagged === 'A';\n}\n\nfunction tagPOS(word) {\n  const techNouns = ['인공지능', '머신러닝', '딥러닝', '데이터분석', '빅데이터', '알고리즘', \n                   '프로그래밍', '파이썬', '자바', '웹개발', '모바일앱', '클라우드', '컴퓨팅'];\n  \n  if (techNouns.includes(word) || word.length >= 3) {\n    return 'N';\n  }\n  \n  return word.length > 2 ? 'N' : 'A';\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,608],"id":"872f2ee6-1e68-4244-a12e-822eef9d3737","name":"Preprocess Reviews _"},{"parameters":{"url":"https://raw.githubusercontent.com/2innnnn0/assets/refs/heads/master/text/ecommerce_reviews.json","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,768],"id":"b1423a7f-2755-465d-b6d9-0e59f968acbe","name":"Data Collect1"},{"parameters":{"assignments":{"assignments":[{"id":"6b117ec8-2e95-4874-982a-d8e706dd987a","name":"data","value":"={{ $json.data.parseJson() }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,768],"id":"1611edfe-fa80-436e-8b50-5bf64e6fa95f","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"fd3b988e-6744-48d0-8cf6-6a9d62f8216d","name":"data","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,768],"id":"6f0477fd-d8a2-4006-b348-1c91e07bfc86","name":"Edit Fields1"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[736,768],"id":"679f1109-70be-4b07-939a-0b42621c53fc","name":"Split Out"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"data"}]},"options":{"mergeLists":true}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1168,768],"id":"d1f36863-8d45-4d6c-98d3-ee020a124738","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"ebe5bc8d-a3b4-46a8-aaf5-01a1d3bdf01c","name":"data","value":"={{ $json.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1392,768],"id":"4052cf43-774f-4058-96a7-cbc5e61df681","name":"Edit Fields2"},{"parameters":{"jsonSchemaExample":"{\n  \"wordcloudPayload\": {\n    \"format\": \"png\",\n    \"width\": 700,\n    \"height\": 700,\n    \"fontFamily\": \"sans-serif\",\n    \"fontScale\": 18,\n    \"scale\": \"linear\",\n    \"text\": \"음질이 정말 좋아요 배송도 빠르고 가격 대비 성능이 훌륭합니다 추천합니다 디자인이 예쁘고 보호력도 좋네요 품질이 좋고 가격도 합리적이에요 배송 빨라서 만족합니다 타이핑 감이 정말 좋아요 소음도 적고 디자인도 깔끔합니다 강력 추천 충전 속도가 빠르고 품질이 좋네요 가격 대비 만족스럽습니다 음질이 최고예요 디자인도 세련되고 배송도 빨랐습니다 추천합니다 안정성이 좋고 각도 조절이 편해요 가격도 저렴하고 품질 만족 용량이 크고 충전 속도도 빨라요 디자인 깔끔하고 성능 좋습니다 화질이 선명하고 색감이 좋아요 가격 대비 성능이 훌륭합니다 추천 화질 좋고 설치 간단해요 가격도 합리적이고 배송 빨라서 만족 크기도 적당하고 재질이 부드러워요 디자인 예쁘고 품질 좋습니다 냉각 효과 좋고 소음도 적어요 가격 대비 성능 만족스럽습니다 보호력 좋고 디자인도 깔끔해요 배송 빠르고 품질 훌륭합니다 음질 좋고 착용감도 편해요 가격 저렴하고 성능 만족합니다 음질 최고이고 배터리 오래가요 디자인 좋고 성능 훌륭합니다 추천 충전 빠르고 발열 적어요 디자인 깔끔하고 가격 대비 좋습니다 음질 좋고 마이크 성능도 훌륭해요 착용감 편하고 추천합니다 품질 좋고 길이도 적당해요 가격 저렴하고\",\n    \"backgroundColor\": \"white\",\n    \"colorScheme\": \"paired\",\n    \"maxWords\": 100\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1776,704],"id":"fdd2b836-b98c-4878-b023-955fea687fb7","name":"Structured Output Parser"},{"parameters":{"content":"## TARGET\n- 메일로 발송","height":320,"width":220,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2592,608],"id":"af478b17-799e-4644-a23f-ba26187198fd","name":"Sticky Note1"},{"parameters":{"sendTo":"datapopcorn@gmail.com","subject":"Review Analysis Results","message":"Positive vs. Negative","options":{"attachmentsUi":{"attachmentsBinary":[{"property":"positive.png"},{"property":"negative.png"}]}}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2640,768],"id":"5a84d1f0-832d-41ea-b5d1-36ee46336b81","name":"Gmail","webhookId":"df40cfbe-7a10-427d-afd9-1ee204177a7e"},{"parameters":{"content":"## TASK\n### 긍정\n- QuickChart Wordcloud 변환","height":320,"width":540,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1568,368],"id":"ae9128ea-c0a3-45e4-b188-ead1c09a67b4","name":"Sticky Note2"},{"parameters":{"content":"## TASK\n- 데이터 전처리","height":360,"width":1100,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,576],"id":"24d0124b-944e-422e-824e-d8f0790427a9","name":"Sticky Note3"},{"parameters":{"content":"## TASK\n- 데이터 불러오기","height":320,"width":180,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[256,608],"id":"6f632944-3d2e-4bd5-9e0e-3c235cf2525c","name":"Sticky Note4"},{"parameters":{"content":"## TRIGGER\n- 매일 오전 9시 실행","height":340,"width":180,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[16,592],"id":"7bd5c189-6802-4030-bf72-465a5ca154b8","name":"Sticky Note5"},{"parameters":{"content":"![](https://github.com/2innnnn0/assets/blob/master/text/review_wordcloud.png?raw=true)","height":420,"width":420},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2144,320],"id":"0a59319c-eb86-4349-97c1-cc470658ee23","name":"Sticky Note6"},{"parameters":{"method":"POST","url":"https://quickchart.io/wordcloud","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Content-Disposition","value":"attachment; filename=\"wordcloud.png\""}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.output.wordcloudPayload }}","options":{"response":{"response":{"fullResponse":true,"responseFormat":"file","outputPropertyName":"negative.png"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1984,928],"id":"be3ed86b-5acd-4037-b16b-5988ccc2e871","name":"HTTP Request1"},{"parameters":{"content":"## TASK\n### 부정\n- QuickChart Wordcloud 변환","height":360,"width":560,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1568,720],"id":"c52c0326-226c-4c80-b704-b8063d0215bb","name":"Sticky Note7"},{"parameters":{"promptType":"define","text":"={{ $json.data }}","hasOutputParser":true,"options":{"systemMessage":"=✅ 시스템 프롬프팅 (부정 리뷰 전용 버전)\n\n⸻\n\n너는 워드클라우드 API에 사용할 JSON 형식의 출력값을 생성하는 시스템이다.\n\n입력값은 data라는 키에 문자열 배열 형태의 리뷰 목록이 포함되어 있다.\n이 리뷰들의 내용을 기반으로 부정적인 문장 또는 부정적인 의미의 표현만 선별하여 wordcloudPayload 객체를 생성하여 출력해야 한다.\n\n출력은 다음 JSON 형식이어야 한다:\n\n{\n  \"wordcloudPayload\": {\n    \"format\": \"png\",\n    \"width\": 700,\n    \"height\": 700,\n    \"fontFamily\": \"sans-serif\",\n    \"fontScale\": 18,\n    \"scale\": \"linear\",\n    \"text\": <입력된 리뷰에서 부정적인 표현만 추출하고 중복 포함하여 공백으로 연결한 문자열>,\n    \"backgroundColor\": \"white\",\n    \"colorScheme\": \"paired\",\n    \"maxWords\": 100\n  }\n}\n\n지침:\n\t•\ttext 필드에는 부정적인 표현들만 추출하여 중복 포함한 후 공백(” “)으로 연결한 문자열을 넣는다.\n\t•\t불만, 불편, 결함, 지연, 낮은 품질, 고객 불만족 등 부정적인 의미를 갖는 문장이나 단어만 추출한다.\n\t•\t긍정적이거나 중립적인 표현은 포함하지 않는다.\n\t•\t문맥상 부정이라면 완전한 문장이 아니어도 포함 가능하다 (예: “배송 느림”, “내구성 부족”, “불량”, “응답 지연”).\n\t•\t단일 JSON 객체만 출력하며, 설명 텍스트나 주석은 절대 포함하지 않는다.\n\t•\t표현이 반복되어 등장할수록 워드클라우드에서 더 강조되므로 중복은 제거하지 않는다.\n\t•\tJSON 포맷 오류가 없도록 정확하게 출력할 것."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1616,928],"id":"d980769c-95b1-45e0-a16f-61969dbb5318","name":"Negative"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2208,768],"id":"7d2df711-b4f5-4c67-b31e-cf0aae4dc51a","name":"Merge"},{"parameters":{"aggregate":"aggregateAllItemData","options":{"includeBinaries":true}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2432,768],"id":"5ad2bfbe-0362-40a1-92ca-e9c9e59d173e","name":"Aggregate1"},{"parameters":{"promptType":"define","text":"={{ $json.data }}","hasOutputParser":true,"options":{"systemMessage":"=✅ 시스템 프롬프팅 (QuickChart 강조 최적화 – 긍정 전용)\n\n너는 워드클라우드 API에 사용할 JSON 형식의 출력값을 생성하는 시스템이다.\n\n입력값은 `data`라는 키에 문자열 배열 형태의 리뷰 목록이 포함되어 있다.  \n이 리뷰들의 내용을 기반으로 **긍정적인 의미를 갖는 문장 또는 단어만 추출하여**, `wordcloudPayload` 객체를 생성하여 출력해야 한다.\n\n출력은 다음 JSON 형식이어야 한다:\n\n```json\n{\n  \"wordcloudPayload\": {\n    \"format\": \"png\",\n    \"width\": 700,\n    \"height\": 700,\n    \"fontFamily\": \"sans-serif\",\n    \"fontScale\": 18,\n    \"scale\": \"linear\",\n    \"text\": <긍정적인 문장들을 중복 포함하여 공백으로 연결한 값>,\n    \"backgroundColor\": \"white\",\n    \"colorScheme\": \"paired\",\n    \"maxWords\": 100\n  }\n}\n\n지침:\n\t•\ttext 필드에는 입력된 리뷰에서 긍정적인 의미를 가진 문장이나 구절을 그대로 추출한다.\n\t•\t중복은 제거하지 않으며, 같은 문장이 여러 번 등장하면 그대로 모두 포함한다.\n\t•\t각 긍정 문장은 마침표 없이 공백으로 구분하여 하나의 문자열로 결합한다.\n\t•\t예: \"배송이 빠릅니다 디자인이 마음에 들어요 배송이 빠릅니다 품질이 좋습니다 배송이 빠릅니다 추천합니다\"\n\t•\t긍정적인 문장 예시: “추천합니다”, “배송이 빠릅니다”, “음질이 좋습니다”, “가격 대비 훌륭합니다”\n\t•\t부정적이거나 중립적인 표현은 절대 포함하지 않는다.\n\t•\t반드시 JSON 포맷으로만 출력하며, 다른 텍스트나 주석은 포함하지 않는다.\n\n\n예시) \nText : 음질이 정말 좋아요 배송도 빠르고 가격 대비 성능이 훌륭합니다 추천합니다 디자인이 예쁘고 보호력도 좋네요 품질이 좋고 가격도 합리적이에요 배송 빨라서 만족합니다 타이핑 감이 정말 좋아요 소음도 적고 디자인도 깔끔합니다 강력 추천 충전 속도가 빠르고 품질이 좋네요 가격 대비 만족스럽습니다 음질이 최고예요 디자인도 세련되고 배송도 빨랐습니다 추천합니다 안정성이 좋고 각도 조절이 편해요 가격도 저렴하고 품질 만족 용량이 크고 충전 속도도 빨라요 디자인 깔끔하고 성능 좋습니다 화질이 선명하고 색감이 좋아요 가격 대비 성능이 훌륭합니다 추천 화질 좋고 설치 간단해요 가격도 합리적이고 배송 빨라서 만족 크기도 적당하고 재질이 부드러워요 디자인 예쁘고 품질 좋습니다 냉각 효과 좋고 소음도 적어요 가격 대비 성능 만족스럽습니다 보호력 좋고 디자인도 깔끔해요 배송 빠르고 품질 훌륭합니다 음질 좋고 착용감도 편해요 가격 저렴하고 성능 만족합니다 음질 최고이고 배터리 오래가요 디자인 좋고 성능 훌륭합니다 추천 충전 빠르고 발열 적어요 디자인 깔끔하고 가격 대비 좋습니다 음질 좋고 마이크 성능도 훌륭해요 착용감 편하고 추천합니다 품질 좋고 길이도 적당해요"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1616,496],"id":"c9fed0fa-65f3-426a-a6e0-98b8706dd7bf","name":"Positive"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":{"__rl":true,"value":"2innnnn0","mode":"list","cachedResultName":"2innnnn0","cachedResultUrl":"https://github.com/2innnnn0"},"repository":{"__rl":true,"value":"assets","mode":"list","cachedResultName":"assets","cachedResultUrl":"https://github.com/2innnnn0/assets"},"filePath":"data/smartphone_reviews_1000.csv","additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[288,1888],"id":"5e40177f-fb75-45b0-a8ca-8ca8c553cde3","name":"GitHub","webhookId":"2fbc394a-a1ef-4905-8541-d336b8f8068e"},{"parameters":{"url":"https://raw.githubusercontent.com/2innnnn0/assets/master/data/smartphone_reviews_1000.csv","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[64,1680],"id":"c49c73c3-ef7e-4f8e-a642-5095a90d3d2e","name":"HTTP Request2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[288,1680],"id":"cb502a9d-9861-46b5-af41-29df6999458d","name":"Extract from File"},{"parameters":{"assignments":{"assignments":[{"id":"5d4fe720-4242-4884-a314-7712eb98a372","name":"data","value":"={{ $json.review_text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[736,1776],"id":"183d16e9-4c5b-41fd-af9c-8ddc57a6bf6e","name":"Edit Fields3"},{"parameters":{"maxItems":500},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[512,1680],"id":"d6a87c45-2c7e-4f77-b1fd-58e074407f65","name":"Limit"},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[512,1888],"id":"f88bb677-7f2f-4148-958b-2590f2038a3e","name":"Extract from File1"},{"parameters":{"authentication":"oAuth2","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[2640,1008],"id":"204a6536-7508-4c77-805c-78f458f38557","name":"Send a message","webhookId":"4a4a017c-670f-4040-a291-bea4ef53a312","disabled":true},{"parameters":{"projectId":{"__rl":true,"mode":"list","value":""},"sqlQuery":"SELECT","options":{}},"type":"n8n-nodes-base.googleBigQuery","typeVersion":2.1,"position":[1728,1328],"id":"e2ca27a2-12e6-4304-9c61-61683bd53c36","name":"Execute a SQL query"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1520,1328],"id":"4a047f60-701d-4ccd-a67c-1a7117c27670","name":"Schedule Trigger"},{"parameters":{"authentication":"oAuth2","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1936,1328],"id":"276d4e41-7b7c-43f4-b416-35f0029d3e76","name":"Send a message1","webhookId":"488addef-44c3-42e5-89fd-8157fe0c2b4f"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1520,1168],"id":"873ceb25-915e-4935-a6f8-b0423cf2835b","name":"Schedule Trigger1"},{"parameters":{"operation":"insert","projectId":{"__rl":true,"mode":"list","value":""},"datasetId":{"__rl":true,"mode":"list","value":""},"tableId":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"n8n-nodes-base.googleBigQuery","typeVersion":2.1,"position":[1744,1168],"id":"2da232f9-7ce5-4b96-be82-275bb26224a9","name":"Insert rows in a table"}],"connections":{"HTTP Request":{"main":[[{"node":"Merge","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Positive","type":"ai_languageModel","index":0},{"node":"Negative","type":"ai_languageModel","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Data Collect1","type":"main","index":0}]]},"Data Collect1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Positive","type":"main","index":0},{"node":"Negative","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Positive","type":"ai_outputParser","index":0},{"node":"Negative","type":"ai_outputParser","index":0}]]},"HTTP Request1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Negative":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Gmail","type":"main","index":0},{"node":"Send a message","type":"main","index":0}]]},"Positive":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When clicking ‘Test workflow’":[{"json":{}}],"Preprocess Reviews _":[{"json":{"wordcloudPayload":{"format":"png","width":700,"height":700,"fontFamily":"sans-serif","fontScale":18,"scale":"linear","text":"[\"음질이 정말 좋아요 배송도 빠르고 가격 대비 성능이 훌륭합니다 추천합니다\",\"디자인이 예쁘고 보호력도 좋네요 다만 조금 두꺼운 감이 있어요\",\"품질이 좋고 가격도 합리적이에요 배송 빨라서 만족합니다\",\"성능은 괜찮은데 배터리 소모가 빨라요 가격은 저렴해서 좋습니다\",\"타이핑 감이 정말 좋아요 소음도 적고 디자인도 깔끔합니다 강력 추천\",\"충전 속도가 빠르고 품질이 좋네요 가격 대비 만족스럽습니다\",\"음질이 최고예요 디자인도 세련되고 배송도 빨랐습니다 추천합니다\",\"안정성이 좋고 각도 조절이 편해요 가격도 저렴하고 품질 만족\",\"용량이 크고 충전 속도도 빨라요 디자인 깔끔하고 성능 좋습니다\",\"화질이 선명하고 색감이 좋아요 가격 대비 성능이 훌륭합니다 추천\",\"화질 좋고 설치 간단해요 가격도 합리적이고 배송 빨라서 만족\",\"기능은 좋은데 발열이 조금 있어요 가격은 저렴해서 괜찮습니다\",\"크기도 적당하고 재질이 부드러워요 디자인 예쁘고 품질 좋습니다\",\"냉각 효과 좋고 소음도 적어요 가격 대비 성능 만족스럽습니다\",\"보호력 좋고 디자인도 깔끔해요 배송 빠르고 품질 훌륭합니다\",\"음질 좋고 착용감도 편해요 가격 저렴하고 성능 만족합니다\",\"착용감은 좋은데 내구성이 조금 아쉬워요 가격은 합리적입니다\",\"음질 최고이고 배터리 오래가요 디자인 좋고 성능 훌륭합니다 추천\",\"충전 빠르고 발열 적어요 디자인 깔끔하고 가격 대비 좋습니다\",\"음질 좋고 마이크 성능도 훌륭해요 착용감 편하고 추천합니다\",\"품질 좋고 길이도 적당해요 가격 저렴하고 배송 빨라서 만족\",\"기능은 괜찮은데 설치가 조금 복잡해요 가격은 합리적입니다\",\"각도 조절 편하고 안정성 좋아요 디자인 깔끔하고 품질 훌륭\",\"인쇄 품질 좋고 속도도 빨라요 가격 대비 성능 만족스럽습니다\",\"용량 크고 속도 빨라요 디자인 좋고 품질 훌륭합니다 추천\",\"타이핑 좋고 배터리 오래가요 디자인 깔끔하고 성능 만족\",\"조립이 조금 복잡하지만 완성하면 좋아요 가격은 적당합니다\",\"공간 넓고 쿨링 좋아요 디자인 멋지고 품질 훌륭합니다\",\"성능 최고이고 발열 관리도 좋아요 가격 대비 훌륭합니다 추천\",\"속도 빠르고 용량도 충분해요 품질 좋고 가격 합리적입니다\"]","backgroundColor":"white","colorScheme":"paired","maxWords":100},"originalData":"[\"음질이 정말 좋아요 배송도 빠르고 가격 대비 성능이 훌륭합니다 추천합니다\",\"디자인이 예쁘고 보호력도 좋네요 다만 조금 두꺼운 감이 있어요\",\"품질이 좋고 가격도 합리적이에요 배송 빨라서 만족합니다\",\"성능은 괜찮은데 배터리 소모가 좀 빨라요 가격은 저렴해서 좋습니다\",\"타이핑 감이 정말 좋아요 소음도 적고 디자인도 깔끔합니다 강력 추천\",\"충전 속도가 빠르고 품질이 좋네요 가격 대비 만족스럽습니다\",\"음질이 최고예요 디자인도 세련되고 배송도 빨랐습니다 추천합니다\",\"안정성이 좋고 각도 조절이 편해요 가격도 저렴하고 품질 만족\",\"용량이 크고 충전 속도도 빨라요 디자인 깔끔하고 성능 좋습니다\",\"화질이 선명하고 색감이 좋아요 가격 대비 성능이 훌륭합니다 추천\",\"화질 좋고 설치 간단해요 가격도 합리적이고 배송 빨라서 만족\",\"기능은 좋은데 발열이 조금 있어요 가격은 저렴해서 괜찮습니다\",\"크기도 적당하고 재질이 부드러워요 디자인 예쁘고 품질 좋습니다\",\"냉각 효과 좋고 소음도 적어요 가격 대비 성능 만족스럽습니다\",\"보호력 좋고 디자인도 깔끔해요 배송 빠르고 품질 훌륭합니다\",\"음질 좋고 착용감도 편해요 가격 저렴하고 성능 만족합니다\",\"착용감은 좋은데 내구성이 조금 아쉬워요 가격은 합리적입니다\",\"음질 최고이고 배터리 오래가요 디자인 좋고 성능 훌륭합니다 추천\",\"충전 빠르고 발열 적어요 디자인 깔끔하고 가격 대비 좋습니다\",\"음질 좋고 마이크 성능도 훌륭해요 착용감 편하고 추천합니다\",\"품질 좋고 길이도 적당해요 가격 저렴하고 배송 빨라서 만족\",\"기능은 괜찮은데 설치가 조금 복잡해요 가격은 합리적입니다\",\"각도 조절 편하고 안정성 좋아요 디자인 깔끔하고 품질 훌륭\",\"인쇄 품질 좋고 속도도 빨라요 가격 대비 성능 만족스럽습니다\",\"용량 크고 속도 빨라요 디자인 좋고 품질 훌륭합니다 추천\",\"타이핑 좋고 배터리 오래가요 디자인 깔끔하고 성능 만족\",\"조립이 조금 복잡하지만 완성하면 좋아요 가격은 적당합니다\",\"공간 넓고 쿨링 좋아요 디자인 멋지고 품질 훌륭합니다\",\"성능 최고이고 발열 관리도 좋아요 가격 대비 훌륭합니다 추천\",\"속도 빠르고 용량도 충분해요 품질 좋고 가격 합리적입니다\"]","processedText":"[\"음질이 정말 좋아요 배송도 빠르고 가격 대비 성능이 훌륭합니다 추천합니다\",\"디자인이 예쁘고 보호력도 좋네요 다만 조금 두꺼운 감이 있어요\",\"품질이 좋고 가격도 합리적이에요 배송 빨라서 만족합니다\",\"성능은 괜찮은데 배터리 소모가 빨라요 가격은 저렴해서 좋습니다\",\"타이핑 감이 정말 좋아요 소음도 적고 디자인도 깔끔합니다 강력 추천\",\"충전 속도가 빠르고 품질이 좋네요 가격 대비 만족스럽습니다\",\"음질이 최고예요 디자인도 세련되고 배송도 빨랐습니다 추천합니다\",\"안정성이 좋고 각도 조절이 편해요 가격도 저렴하고 품질 만족\",\"용량이 크고 충전 속도도 빨라요 디자인 깔끔하고 성능 좋습니다\",\"화질이 선명하고 색감이 좋아요 가격 대비 성능이 훌륭합니다 추천\",\"화질 좋고 설치 간단해요 가격도 합리적이고 배송 빨라서 만족\",\"기능은 좋은데 발열이 조금 있어요 가격은 저렴해서 괜찮습니다\",\"크기도 적당하고 재질이 부드러워요 디자인 예쁘고 품질 좋습니다\",\"냉각 효과 좋고 소음도 적어요 가격 대비 성능 만족스럽습니다\",\"보호력 좋고 디자인도 깔끔해요 배송 빠르고 품질 훌륭합니다\",\"음질 좋고 착용감도 편해요 가격 저렴하고 성능 만족합니다\",\"착용감은 좋은데 내구성이 조금 아쉬워요 가격은 합리적입니다\",\"음질 최고이고 배터리 오래가요 디자인 좋고 성능 훌륭합니다 추천\",\"충전 빠르고 발열 적어요 디자인 깔끔하고 가격 대비 좋습니다\",\"음질 좋고 마이크 성능도 훌륭해요 착용감 편하고 추천합니다\",\"품질 좋고 길이도 적당해요 가격 저렴하고 배송 빨라서 만족\",\"기능은 괜찮은데 설치가 조금 복잡해요 가격은 합리적입니다\",\"각도 조절 편하고 안정성 좋아요 디자인 깔끔하고 품질 훌륭\",\"인쇄 품질 좋고 속도도 빨라요 가격 대비 성능 만족스럽습니다\",\"용량 크고 속도 빨라요 디자인 좋고 품질 훌륭합니다 추천\",\"타이핑 좋고 배터리 오래가요 디자인 깔끔하고 성능 만족\",\"조립이 조금 복잡하지만 완성하면 좋아요 가격은 적당합니다\",\"공간 넓고 쿨링 좋아요 디자인 멋지고 품질 훌륭합니다\",\"성능 최고이고 발열 관리도 좋아요 가격 대비 훌륭합니다 추천\",\"속도 빠르고 용량도 충분해요 품질 좋고 가격 합리적입니다\"]","wordCount":223,"words":["[\"음질이","정말","좋아요","배송도","빠르고","가격","대비","성능이","훌륭합니다","추천합니다\",\"디자인이","예쁘고","보호력도","좋네요","다만","조금","두꺼운","감이","있어요\",\"품질이","좋고","가격도","합리적이에요","배송","빨라서","만족합니다\",\"성능은","괜찮은데","배터리","소모가","빨라요","가격은","저렴해서","좋습니다\",\"타이핑","감이","정말","좋아요","소음도","적고","디자인도","깔끔합니다","강력","추천\",\"충전","속도가","빠르고","품질이","좋네요","가격","대비","만족스럽습니다\",\"음질이","최고예요","디자인도","세련되고","배송도","빨랐습니다","추천합니다\",\"안정성이","좋고","각도","조절이","편해요","가격도","저렴하고","품질","만족\",\"용량이","크고","충전","속도도","빨라요","디자인","깔끔하고","성능","좋습니다\",\"화질이","선명하고","색감이","좋아요","가격","대비","성능이","훌륭합니다","추천\",\"화질","좋고","설치","간단해요","가격도","합리적이고","배송","빨라서","만족\",\"기능은","좋은데","발열이","조금","있어요","가격은","저렴해서","괜찮습니다\",\"크기도","적당하고","재질이","부드러워요","디자인","예쁘고","품질","좋습니다\",\"냉각","효과","좋고","소음도","적어요","가격","대비","성능","만족스럽습니다\",\"보호력","좋고","디자인도","깔끔해요","배송","빠르고","품질","훌륭합니다\",\"음질","좋고","착용감도","편해요","가격","저렴하고","성능","만족합니다\",\"착용감은","좋은데","내구성이","조금","아쉬워요","가격은","합리적입니다\",\"음질","최고이고","배터리","오래가요","디자인","좋고","성능","훌륭합니다","추천\",\"충전","빠르고","발열","적어요","디자인","깔끔하고","가격","대비","좋습니다\",\"음질","좋고","마이크","성능도","훌륭해요","착용감","편하고","추천합니다\",\"품질","좋고","길이도","적당해요","가격","저렴하고","배송","빨라서","만족\",\"기능은","괜찮은데","설치가","조금","복잡해요","가격은","합리적입니다\",\"각도","조절","편하고","안정성","좋아요","디자인","깔끔하고","품질","훌륭\",\"인쇄","품질","좋고","속도도","빨라요","가격","대비","성능","만족스럽습니다\",\"용량","크고","속도","빨라요","디자인","좋고","품질","훌륭합니다","추천\",\"타이핑","좋고","배터리","오래가요","디자인","깔끔하고","성능","만족\",\"조립이","조금","복잡하지만","완성하면","좋아요","가격은","적당합니다\",\"공간","넓고","쿨링","좋아요","디자인","멋지고","품질","훌륭합니다\",\"성능","최고이고","발열","관리도","좋아요","가격","대비","훌륭합니다","추천\",\"속도","빠르고","용량도","충분해요","품질","좋고","가격","합리적입니다\"]"]}}]},"versionId":"ba4079cb-50bc-419c-adf5-0162756983ee","triggerCount":0,"shared":[{"createdAt":"2025-09-03T02:28:03.221Z","updatedAt":"2025-09-03T02:28:03.221Z","role":"workflow:owner","workflowId":"5W0QgdykUYgayvdX","projectId":"sjNgDrdbhRMMF6SK"}],"tags":[{"createdAt":"2025-06-25T04:00:38.130Z","updatedAt":"2025-06-25T04:00:38.130Z","id":"EyGUZypc5DKHVUyY","name":"패스트캠퍼스"}]}