workflows/[g2p14jUBqqHRnMnO]slackbot-tutorial.json
{"createdAt":"2025-08-16T07:09:56.269Z","updatedAt":"2025-08-24T12:52:57.359Z","id":"g2p14jUBqqHRnMnO","name":"SlackBot Tutorial","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"n8n","options":{"responseCode":{"values":{"responseCode":204}}}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[320,32],"id":"f8d17b54-2263-4632-9ba6-40cf3dd6e9a7","name":"Webhook","webhookId":"1ededee4-8d9a-4b99-a8ca-0be824b81d21"},{"parameters":{"content":"## Webhook","height":240,"width":200,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[272,-48],"id":"3ec12997-8aff-43f0-8717-fd538a09e49e","name":"Sticky Note","disabled":true},{"parameters":{"content":"# 1. Slack Command\n- https://api.slack.com/ 에서 Slash Commands 를 입력\n- /n8n 명령어를 설정하기.","height":144,"width":580},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[272,-208],"id":"c30079b9-63aa-460a-9802-704908105af7","name":"Sticky Note4"},{"parameters":{"trigger":["app_mention"],"watchWorkspace":true,"options":{}},"type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[272,608],"id":"e0d65208-70d9-4ed2-ad58-0df9de579b21","name":"Slack Trigger","webhookId":"ca370f7b-bf5d-4957-a6e6-a58b8efb19f9"},{"parameters":{"method":"POST","url":"http://slack.com/api/chat.postMessage","authentication":"predefinedCredentialType","nodeCredentialType":"slackApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"channel","value":"={{ $('Slack Trigger').first().json.channel }}"},{"name":"thread_ts","value":"={{ $('Slack Trigger').first().json.ts }}"},{"name":"text","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1632,608],"id":"9916674f-8844-41dc-b231-8cca60319b69","name":"chat.postMessage"},{"parameters":{"content":"# 2. SlackBot\n\n- @n8n-agent-bot 태그해야만 사용가능.\n- 현재는 RAG없이 보편적인 답변만 주는 기능.","height":140,"width":420},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[256,432],"id":"64bc0b25-7cb6-48e3-9c9e-ac1e786cbaae","name":"Sticky Note5"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C435YGHAQ","mode":"list","cachedResultName":"general"},"text":"=prompt : {{ $('Webhook').item.json.body.text }}\noutput : {{ $json.output }}","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[944,32],"id":"15e13280-c7d7-41ce-a838-422573302b5e","name":"Send a message","webhookId":"8d480b45-6f92-4b37-8f3f-8e9bf438d64d"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[640,256],"id":"b759eb68-8906-4568-9998-ae5d73417833","name":"OpenAI Chat Model"},{"parameters":{"promptType":"define","text":"={{ $json.body.text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[544,32],"id":"254c00a2-d040-4496-bb95-8ce792396592","name":"AI Agent"},{"parameters":{"resource":"channel","operation":"replies","channelId":{"__rl":true,"value":"={{ $('Slack Trigger').item.json.channel }}","mode":"id"},"ts":"={{ $('Slack Trigger').item.json.thread_ts ||  $('Slack Trigger').item.json.ts }}","filters":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[720,608],"id":"edec9bc8-b645-4367-b833-12ad55b3c4cb","name":"Get a thread of messages posted to a channel","webhookId":"54d1a40e-59ec-4f3f-9b3b-abae4fdec4c3"},{"parameters":{"assignments":{"assignments":[{"id":"2750b75c-a097-4f58-b74b-b1a58ff65c75","name":"bot_id","value":"=A09938PN12R","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[496,608],"id":"991ccb49-db9c-4ad8-ae26-019093f94555","name":"BOT"},{"parameters":{"jsCode":"// 봇 ID 추출\nconst botId = $('BOT').first().json.bot_id;\n\n// 메시지 변환\nconst transformedMessages = $input.all().map(item => {\n  const msg = item.json;\n\n  return {\n    role: msg.user === botId ? \"assistant\" : \"user\",\n    content: msg.text?.replaceAll(`<@${botId}>`, '').trim() || ''\n  };\n}).filter(item => item.content); // 빈 메시지는 제거\n\nreturn {\n  messages: JSON.stringify(transformedMessages)\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[944,608],"id":"cde648f8-2a99-41b5-9d4c-4119f91df5bf","name":"Code"},{"parameters":{"operation":"search","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Text', ``, 'string') }}","returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","simple":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}","options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[1232,832],"id":"c0f284e2-8f2e-4f11-aead-80f081e01dd2","name":"Notion"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1056,816],"id":"d266b3d3-f4b2-4c89-a6c0-850ccc310cfe","name":"OpenAI Chat Model - 4.1 mini"},{"parameters":{"promptType":"define","text":"={{ $json.messages }}","options":{"systemMessage":"=당신은 n8n 자동화 전문 봇입니다. \n사용자의 질문에 친근하고 도움이 되는 방식으로 답변해주세요.\n   \n   사용자 질문: {{ $json.event.text.replace(/<@.*?>/g, '').trim() }}\n   사용자 이름: {{ $json.event.user }}\n   채널: {{ $json.event.channel }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[1200,608],"id":"252a001f-1d7b-485a-8082-1aaec1611b1e","name":"SlackBot AI Agent"},{"parameters":{"documentId":{"__rl":true,"value":"14XvsktecN18XAOPV-kBf1cZVxlgnBkxUOVcnI1i2dR8","mode":"list","cachedResultName":"Yes24 BestSeller","cachedResultUrl":"https://docs.google.com/spreadsheets/d/14XvsktecN18XAOPV-kBf1cZVxlgnBkxUOVcnI1i2dR8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"bestSeller","cachedResultUrl":"https://docs.google.com/spreadsheets/d/14XvsktecN18XAOPV-kBf1cZVxlgnBkxUOVcnI1i2dR8/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[1392,832],"id":"37aedd89-b54c-49c9-85b9-e12450bd6d67","name":"Get BestSeller Sheet"},{"parameters":{"toolDescription":"Makes an HTTP request and returns the response data\n\nINPUT KEYWORD에 들어갈 내용으로 검색해줘.\nURL : https://news.google.com/rss/search?q=<INPUT KEYWORD>&hl=ko&gl=KR&ceid=KR%3Ako","url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1536,832],"id":"88bb194a-e5c6-4ee3-80d2-748b2e15e602","name":"Google News"}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Slack Trigger":{"main":[[{"node":"BOT","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Get a thread of messages posted to a channel":{"main":[[{"node":"Code","type":"main","index":0}]]},"BOT":{"main":[[{"node":"Get a thread of messages posted to a channel","type":"main","index":0}]]},"Code":{"main":[[{"node":"SlackBot AI Agent","type":"main","index":0}]]},"Notion":{"ai_tool":[[{"node":"SlackBot AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model - 4.1 mini":{"ai_languageModel":[[{"node":"SlackBot AI Agent","type":"ai_languageModel","index":0}]]},"SlackBot AI Agent":{"main":[[{"node":"chat.postMessage","type":"main","index":0}]]},"Get BestSeller Sheet":{"ai_tool":[[{"node":"SlackBot AI Agent","type":"ai_tool","index":0}]]},"Google News":{"ai_tool":[[{"node":"SlackBot AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"datapopcorn.win","x-real-ip":"162.158.79.35","x-forwarded-for":"54.80.88.245, 162.158.79.35","x-forwarded-proto":"http","connection":"upgrade","content-length":"486","accept-encoding":"gzip, br","accept":"application/json,*/*","content-type":"application/x-www-form-urlencoded","x-slack-request-timestamp":"1754455388","cf-ray":"96abdf22896ed67b-IAD","x-slack-signature":"v0=6403173dd3691ff341b101e08dc2cdafd6837538adce00bb89946218d6d33bb5","user-agent":"Slackbot 1.0 (+https://api.slack.com/robots)","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"54.80.88.245","cf-ipcountry":"US","cf-visitor":"{\"scheme\":\"https\"}"},"params":{},"query":{},"body":{"token":"ATgNx3CRnaBQCFy11W4CyY6B","team_id":"T42C9CN8G","team_domain":"datapopcorn","channel_id":"C435YGHAQ","channel_name":"general","user_id":"U42D3C69F","user_name":"newturn_ceo","command":"/n8n","text":"Slack에 대해서 알려줄래.","api_app_id":"A09938PN12R","is_enterprise_install":"false","response_url":"https://hooks.slack.com/commands/T42C9CN8G/9327235138721/X1jXIMpxwQOvWN8MKiLnxiUH","trigger_id":"9327235138817.138417430288.c266c5bee1f9e5765dbf24f98721b139"},"webhookUrl":"https://datapopcorn.win/webhook/n8n","executionMode":"production"}}],"Slack Trigger":[{"json":{"user":"U42D3C69F","type":"app_mention","ts":"1756039297.303009","client_msg_id":"faeb8aff-3912-4727-8bec-2dfdcf0d0875","text":"<@U09951MJ62W> 구글 뉴스 가져와줘","team":"T42C9CN8G","blocks":[{"type":"rich_text","block_id":"bE6T+","elements":[{"type":"rich_text_section","elements":[{"type":"user","user_id":"U09951MJ62W"},{"type":"text","text":" 구글 뉴스 가져와줘"}]}]}],"channel":"C435YGHAQ","event_ts":"1756039297.303009"}}]},"versionId":"862d56c4-4b91-4bae-9e60-0e7be54d5156","triggerCount":2,"shared":[{"createdAt":"2025-08-16T07:09:56.269Z","updatedAt":"2025-08-16T07:09:56.269Z","role":"workflow:owner","workflowId":"g2p14jUBqqHRnMnO","projectId":"sjNgDrdbhRMMF6SK"}],"tags":[{"createdAt":"2025-06-25T04:00:38.130Z","updatedAt":"2025-06-25T04:00:38.130Z","id":"EyGUZypc5DKHVUyY","name":"패스트캠퍼스"}]}