workflows/[mcfJcf5chNvHcseP]3t-workflow-template.json
{"createdAt":"2025-06-26T22:11:33.571Z","updatedAt":"2025-07-03T04:44:17.821Z","id":"mcfJcf5chNvHcseP","name":"3T Workflow Template","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"![](https://raw.githubusercontent.com/2innnnn0/assets/refs/heads/master/image/datapopcorn_logo_50px.png)\n\n# 워크플로우 제목 |\n`[popcorn]_[Daily_NewsReport_Email]_[20250627].json`\n\n## 개요\n\n## (TRIGGER 트리거) 어느 조건에 자동화가 실행되는가. \n\n## (TASK 태스크) 자동화가 해야할 역할이 무엇인가 \n\n## (TARGET 도착지) 최종결과를 어디에 전달해야하는가?","height":540,"width":1140},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,-140],"id":"5c1a0c47-f105-4c06-a835-137c4c258256","name":"Sticky Note8"},{"parameters":{"content":"## TRIGGER","height":400,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,420],"id":"eccffeff-9982-4aae-b7f8-5cfdfc9247e2","name":"Sticky Note11"},{"parameters":{"content":"## TASK","height":400,"width":640,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[380,420],"id":"43288acd-5401-476f-881a-9eddc3bbc1de","name":"Sticky Note"},{"parameters":{"content":"## TARGET","height":400,"width":220,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,420],"id":"aedc217a-0d79-4496-9445-4509201c9dbf","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[180,580],"id":"1a375280-6b08-413e-9092-ad3134751e2f","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1100,580],"id":"8498f72a-359b-4ded-ac0b-ad4442b314dc","name":"No Operation, do nothing"},{"parameters":{"content":"![](https://raw.githubusercontent.com/2innnnn0/assets/refs/heads/master/image/datapopcorn_logo_50px.png)\n\n# 분석용 템플릿\n\n## 개요\n\n## (TRIGGER 트리거) 어느 조건에 자동화가 실행되는가. \n\n## (TASK 태스크) 자동화가 해야할 역할이 무엇인가 \n\n## (TARGET 도착지) 최종결과를 어디에 전달해야하는가?","height":460,"width":1140},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1860,-100],"id":"d040426a-eca8-4c84-98e3-5ef6264030cf","name":"Sticky Note9"},{"parameters":{"content":"## TRIGGER","height":400,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1860,400],"id":"eb8265ca-e829-43c0-85fa-4cf346010c36","name":"Sticky Note12"},{"parameters":{"content":"## TASK","height":400,"width":640,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2120,400],"id":"6422617c-f05a-4238-b77c-6d93aa4666ad","name":"Sticky Note2"},{"parameters":{"content":"## TARGET","height":400,"width":220,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2780,400],"id":"bfcd9285-35ff-447a-9d98-5ee1fffaeefb","name":"Sticky Note3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2840,560],"id":"152d6dde-e4ed-46c0-b1c4-f3e26bc0bf1a","name":"No Operation, do nothing1"},{"parameters":{"content":"![](https://raw.githubusercontent.com/2innnnn0/assets/refs/heads/master/image/datapopcorn_asset/250707%20Label%20Sticker.png)","height":820,"width":620},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-980,-120],"id":"41f8e335-15d6-45de-a17c-5ca34aa2c9a2","name":"Sticky Note4"},{"parameters":{"content":"# 수집 Agent","height":500,"width":560,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,900],"id":"f4d348f1-3f24-4c7b-bb91-5a6f606aa94d","name":"Sticky Note5"},{"parameters":{"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1520,620],"id":"07c152f1-68f8-44bd-9b3e-2e11cf7d208f","name":"Execute Workflow2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[160,980],"id":"e40d58c4-5188-4561-97d5-0df69d376fe0","name":"AI Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[360,1280],"id":"52e4463a-e89b-40b9-a577-baa0cd19dfd9","name":"Call n8n Workflow Tool"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[200,1160],"id":"8f077b1e-186b-4e4a-b7e5-7cb421d66f8d","name":"Simple Memory"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[40,1160],"id":"397b4fca-f269-450a-8770-07b51724b075","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Iy8nJTvO4bCB8mYA","name":"OpenAi account"}}},{"parameters":{"content":"# https://www.youtube.com/@nateherk ","height":80,"width":940},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-980,820],"id":"4f42bef9-5322-4668-ad54-a11672aebae9","name":"Sticky Note7"},{"parameters":{"content":"# https://www.youtube.com/watch?v=0iUNOmeU7O4","height":80,"width":940},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-980,720],"id":"7fe579a5-be14-48d7-ae5e-83f099b5c044","name":"Sticky Note10"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[560,580],"id":"4a9a131c-b2b9-42c0-aae0-8d6bb769ed8f","name":"AI Agent1"},{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,980],"id":"82589c9e-c0ea-48cd-aeaa-3831699a2cee","name":"When Executed by Another Workflow"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[420,880],"id":"a6609501-dbbb-4bb3-b159-31b1dd506040","name":"Import"},{"parameters":{"content":"# 수집 Agent (크롤링)\n","height":360,"width":560,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,1480],"id":"486fb3d2-8b04-4dc1-aeb1-361c974edb09","name":"Sticky Note6"},{"parameters":{"content":"# 전처리 Agent","height":360,"width":560,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,900],"id":"8f8cfa96-e8e7-4069-bde2-4d1d60abb4f7","name":"Sticky Note14"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[760,1000],"id":"7bc1e455-2798-4cda-a6a3-f50e03a3b908","name":"AI Agent2"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1000,1180],"id":"be88568b-771d-41e7-b520-0bdb2da5c4ae","name":"Call n8n Workflow Tool1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[840,1180],"id":"835bdf91-f498-4492-8e37-3c89c08691c8","name":"Simple Memory1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[680,1180],"id":"aa651c29-52fd-4886-ab90-36956cf51cd9","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"Iy8nJTvO4bCB8mYA","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[460,1160],"id":"b0a46d72-ebf8-4348-baad-1abde87636da","name":"MCP Client"},{"parameters":{"content":"# 분석 Agent","height":360,"width":560,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1260,900],"id":"bf1bd7c5-7a79-43f2-8d8a-bebbbd660870","name":"Sticky Note15"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1040,920],"id":"50523551-10ba-477d-9a8d-6d1c12b2ec8a","name":"Cleansing"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1380,1000],"id":"7b72dd83-7a18-458e-9224-91c6b7388a48","name":"AI Agent3"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1620,1180],"id":"7b643446-4900-495c-bb90-b4a7869a7910","name":"Call n8n Workflow Tool2"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1460,1180],"id":"684b5590-ca02-4834-976b-58ad620fe74a","name":"Simple Memory2"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1260,1180],"id":"54df8d3b-3b79-47d6-a314-7c2248a0faa5","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"Iy8nJTvO4bCB8mYA","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1660,920],"id":"5c719be0-6d16-4c56-bdba-c2be589bae0b","name":"Cleansing1"},{"parameters":{"content":"# 수집 Agent (DB)\n","height":360,"width":560,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,1880],"id":"1361fa3e-f417-4eca-bfc5-ac42dd79c6c8","name":"Sticky Note13"},{"parameters":{"projectId":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"n8n-nodes-base.googleBigQuery","typeVersion":2.1,"position":[40,1980],"id":"c939bd39-55a8-4a31-a407-15d58a1e5570","name":"Execute a SQL query"},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[120,1620],"id":"1667ad5f-ed9e-484e-ab8e-73d5e3ef7eac","name":"HTTP Request"},{"parameters":{"content":"# 리포트 Agent","height":360,"width":560,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1920,920],"id":"24c3a70c-e2b2-4d10-99a7-6d55f912c581","name":"Sticky Note16"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2040,1020],"id":"7f12484d-f47c-4dfc-a8d1-2797cda975a5","name":"AI Agent4"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2280,1200],"id":"8590f81f-f082-494f-975c-1a10742bdda1","name":"Call n8n Workflow Tool3"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2120,1200],"id":"a9fdef4b-e0aa-4e2a-ad20-c5d2517bf97f","name":"Simple Memory3"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1960,1200],"id":"a68854bf-b1a8-49a2-8c84-c7999d4d994f","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"Iy8nJTvO4bCB8mYA","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[2320,940],"id":"eb75633d-2378-43c8-8546-93212bc7928a","name":"Cleansing2"},{"parameters":{"model":"={{ model_selection }}","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1280,1380],"id":"41feb313-f835-431b-b760-6c51be2d6124","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"8Mn7IcG6GNbBBRV7","name":"OpenRouter account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1400,1260],"id":"77a29326-ae75-448a-9fdc-a0a52c97d533","name":"Anthropic Chat Model"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[340,1980],"id":"4c22a607-c942-4eee-9e7f-393514959954","name":"Code"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,2080],"id":"c2964028-2b35-41cd-91e4-1ab6390bb81e","name":"Code1","disabled":true},{"parameters":{"operation":"getAll","options":{}},"type":"n8n-nodes-base.awsS3","typeVersion":2,"position":[60,2120],"id":"0e6ee7fa-9c0d-4971-9371-acf41ffbe120","name":"Get many files"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[3860,380],"id":"c1d0f6d1-1037-4dba-a7ad-c89e1a632e85","name":"When chat message received","webhookId":"07eb1c16-3529-410d-9840-6e4c6e2a1385"},{"parameters":{"content":"# Single Agent + Tools","height":440,"width":580,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3820,280],"id":"d4531741-a545-43ec-89a0-93baa95d6132","name":"Sticky Note18"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4040,580],"id":"2bda853c-fc7d-4d46-9bd7-fcd474497e9e","name":"Simple Memory4"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3880,580],"id":"e6718361-5fc0-4aab-8600-5e433df17560","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"Iy8nJTvO4bCB8mYA","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[4040,380],"id":"a554af28-1ed5-4747-969d-f8916c60e4c2","name":"Single AI Agent"},{"parameters":{"content":"# Single Agent + MCP Servers + Tools","height":440,"width":580,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3820,780],"id":"2167be52-850f-4083-b930-e388ba438899","name":"Sticky Note19"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4040,1100],"id":"8c808f76-3aa5-4273-8b8f-95a0d6e30d50","name":"Simple Memory5"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3900,1100],"id":"00167246-8f07-4ede-a3fb-b18a3b1d0f58","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"Iy8nJTvO4bCB8mYA","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[4040,900],"id":"cc857160-5e93-4f96-8214-77c42bac9126","name":"Single AI Agent1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[4400,900],"id":"e408f8cd-8f07-4003-820c-125272d96885","name":"Respond to Webhook"},{"parameters":{"path":"0d371159-8fe6-4016-b804-497f8861be65","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[3840,900],"id":"d86d0a81-76e9-4cf9-9514-eb870598267e","name":"Webhook","webhookId":"0d371159-8fe6-4016-b804-497f8861be65"},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[4180,600],"id":"efd24df3-e3ff-46f3-ae6e-edd3a34c9fe7","name":"Get row(s) in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"eTKPx0KklAvNhSz3","name":"Google Sheets account"}}},{"parameters":{"calendar":{"__rl":true,"mode":"list","value":""},"additionalFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[4340,580],"id":"ccc7c595-e72f-417d-8379-907a01e16cc4","name":"Create an event in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"RRBFdkbGBHvDnUzE","name":"Google Calendar account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[4500,580],"id":"5bc06f8e-5726-49e9-ab94-ec31d0dd36c9","name":"Send a message in Gmail","webhookId":"ad5408f8-2bbf-406e-8bbd-697d0ecda5db"},{"parameters":{"content":"# Single Agent + Tools + Router","height":440,"width":1040,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3820,1300],"id":"3184c236-a16f-4707-a5a0-3aab4faaeba3","name":"Sticky Note20"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4040,1620],"id":"efb31a74-c0c1-47c7-86fd-8a604004dc9a","name":"Simple Memory6"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3900,1620],"id":"e912e3b1-5122-4e89-a6d3-3c001642d710","name":"OpenAI Chat Model6","credentials":{"openAiApi":{"id":"Iy8nJTvO4bCB8mYA","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[4040,1420],"id":"7bad30a1-44e3-4113-930f-77f0b1e04ae4","name":"Single AI Agent2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[4620,1320],"id":"9f3361c2-5683-44d8-a92e-1c207925a776","name":"Respond to Webhook1"},{"parameters":{"path":"0d371159-8fe6-4016-b804-497f8861be65","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[3840,1420],"id":"efd0ebf0-7c1b-407c-b6f6-8ef0262324aa","name":"Webhook1","webhookId":"0d371159-8fe6-4016-b804-497f8861be65"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"16bc0676-471c-4ca1-8063-26d6ceaaadf4","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4400,1420],"id":"21c9bed2-cd55-43cd-a4cf-7d04657dcd34","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[4680,1600],"id":"1a94f02b-ad77-4c1d-96af-f32d83f0a128","name":"Respond to Webhook2"},{"parameters":{"content":"# Single Agent + Human in the Loop + Tools","height":440,"width":1040,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3820,1840],"id":"78642b1b-6139-4258-8de4-e7d5f6d278d1","name":"Sticky Note21"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4040,2160],"id":"046b3771-a6cc-4279-821e-3b7255029224","name":"Simple Memory7"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3900,2160],"id":"b24b699b-8130-4be4-8c2c-a98bd0a2c268","name":"OpenAI Chat Model7","credentials":{"openAiApi":{"id":"Iy8nJTvO4bCB8mYA","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[4040,1960],"id":"252a6725-1b40-429d-93fc-d567eb3eaba8","name":"Single AI Agent3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[4980,1860],"id":"1da3561a-7d6d-4289-92a4-d71464b55eb6","name":"Respond to Webhook3"},{"parameters":{"path":"0d371159-8fe6-4016-b804-497f8861be65","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[3840,1960],"id":"8fa69b8a-d1a0-4f4a-9716-bd305c185596","name":"Webhook2","webhookId":"0d371159-8fe6-4016-b804-497f8861be65"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"16bc0676-471c-4ca1-8063-26d6ceaaadf4","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4680,2020],"id":"a6b3993e-70f8-4048-9938-661551265e37","name":"If1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[4980,2160],"id":"bc219c05-eea3-4b2a-96b0-b8a7518c2dfe","name":"Respond to Webhook4"},{"parameters":{"operation":"sendAndWait","user":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[4400,1960],"id":"4a9996d0-1a58-4319-80b9-f6b8f3e8f72e","name":"Send a message","webhookId":"be533144-141d-45a3-8e3e-31b4b0d81cdc"},{"parameters":{"content":"# Single Agent + Call Other Agents","height":440,"width":1040,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3820,2380],"id":"2a7e7d7d-3ca3-4504-8002-f0c53b6a9887","name":"Sticky Note22"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4040,2700],"id":"cb997954-1ffc-47bf-9c82-22431d84376b","name":"Simple Memory8"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3900,2700],"id":"5205bfcb-e0db-438c-ac82-ce060d944645","name":"OpenAI Chat Model8","credentials":{"openAiApi":{"id":"Iy8nJTvO4bCB8mYA","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[4040,2500],"id":"3431c954-5fd4-48ad-b6be-66a44b5c42ed","name":"Single AI Agent4"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[4480,2480],"id":"bb200458-cd8a-4159-966a-147c070e96e1","name":"Respond to Webhook5"},{"parameters":{"path":"0d371159-8fe6-4016-b804-497f8861be65","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[3840,2500],"id":"f2f5505f-8320-491a-ae8c-c3adb89ffd63","name":"Webhook3","webhookId":"0d371159-8fe6-4016-b804-497f8861be65"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4280,2680],"id":"78dfffb5-cd04-404d-95d4-8b9c9399b5dd","name":"Call n8n Workflow Tool4"},{"parameters":{"content":"# Sequential + Tools","height":440,"width":880,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5000,320],"id":"4b519fc4-3aaf-4063-afb6-66a1a2067ade","name":"Sticky Note23"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[5200,620],"id":"d62f294a-5941-456a-bb4f-232799e51344","name":"OpenAI Chat Model9","credentials":{"openAiApi":{"id":"Iy8nJTvO4bCB8mYA","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[5220,420],"id":"4d15f365-a4f6-48e2-91a5-659386a5644b","name":"Single AI Agent5"},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[5380,620],"id":"fbe2362b-33fa-4988-9485-6a3422bf0d47","name":"Get row(s) in sheet in Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"eTKPx0KklAvNhSz3","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[5640,420],"id":"fbda8195-9f91-496b-93f3-7e5de0ac409b","name":"Single AI Agent6"},{"parameters":{"path":"0d371159-8fe6-4016-b804-497f8861be65","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[5020,420],"id":"340b6f40-25b4-4396-a062-bd23c2ce2124","name":"Webhook4","webhookId":"0d371159-8fe6-4016-b804-497f8861be65"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[6040,420],"id":"a598727f-8a82-472b-86ae-36380f4c9493","name":"Respond to Webhook6"},{"parameters":{"content":"# Agents Hiearchy + Shared Tools + Parallel","height":440,"width":880,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5020,840],"id":"6258fe8e-5312-4532-a664-0891525ee223","name":"Sticky Note24"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[5220,1140],"id":"ba27014c-bf48-48e5-b4a8-ec8776f411b9","name":"OpenAI Chat Model10","credentials":{"openAiApi":{"id":"Iy8nJTvO4bCB8mYA","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[5240,940],"id":"a739abd7-d3be-4481-9b92-5070ac32c1b7","name":"Single AI Agent7"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[5880,880],"id":"ffd22b9a-5fa2-4286-bbea-49bb133a1e9e","name":"Single AI Agent8"},{"parameters":{"path":"0d371159-8fe6-4016-b804-497f8861be65","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[5040,940],"id":"12341327-02d4-4c3e-83d1-c48b4544d406","name":"Webhook5","webhookId":"0d371159-8fe6-4016-b804-497f8861be65"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[6320,920],"id":"cb4dd7bb-f08b-41b4-bd3f-c98eb28a0545","name":"Respond to Webhook7"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"},"id":"8eb37cef-08b8-437d-86e6-4d0c52f09ee6"}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[5600,1040],"id":"1a26cee4-73e7-4652-a796-03de23e38f26","name":"Switch"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[5880,1180],"id":"c07ea6dc-d39d-4616-90b3-a1a4fa44ecc8","name":"Single AI Agent9"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Import":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Call n8n Workflow Tool1":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Cleansing":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Call n8n Workflow Tool2":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"Simple Memory2":{"ai_memory":[[{"node":"AI Agent3","type":"ai_memory","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Code","type":"main","index":0}]]},"Call n8n Workflow Tool3":{"ai_tool":[[{"node":"AI Agent4","type":"ai_tool","index":0}]]},"Simple Memory3":{"ai_memory":[[{"node":"AI Agent4","type":"ai_memory","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent4","type":"ai_languageModel","index":0}]]},"Code":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Get many files","type":"main","index":0}]]},"Simple Memory4":{"ai_memory":[[{"node":"Single AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Single AI Agent","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"Single AI Agent","type":"main","index":0}]]},"Simple Memory5":{"ai_memory":[[{"node":"Single AI Agent1","type":"ai_memory","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Single AI Agent1","type":"ai_languageModel","index":0}]]},"Single AI Agent1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Single AI Agent1","type":"main","index":0}]]},"Get row(s) in sheet in Google Sheets":{"ai_tool":[[{"node":"Single AI Agent","type":"ai_tool","index":0}]]},"Create an event in Google Calendar":{"ai_tool":[[{"node":"Single AI Agent","type":"ai_tool","index":0}]]},"Send a message in Gmail":{"ai_tool":[[{"node":"Single AI Agent","type":"ai_tool","index":0}]]},"Simple Memory6":{"ai_memory":[[{"node":"Single AI Agent2","type":"ai_memory","index":0}]]},"OpenAI Chat Model6":{"ai_languageModel":[[{"node":"Single AI Agent2","type":"ai_languageModel","index":0}]]},"Single AI Agent2":{"main":[[{"node":"If","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Single AI Agent2","type":"main","index":0}]]},"If":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}],[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Simple Memory7":{"ai_memory":[[{"node":"Single AI Agent3","type":"ai_memory","index":0}]]},"OpenAI Chat Model7":{"ai_languageModel":[[{"node":"Single AI Agent3","type":"ai_languageModel","index":0}]]},"Single AI Agent3":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Webhook2":{"main":[[{"node":"Single AI Agent3","type":"main","index":0}]]},"If1":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}],[{"node":"Respond to Webhook4","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"If1","type":"main","index":0}]]},"Simple Memory8":{"ai_memory":[[{"node":"Single AI Agent4","type":"ai_memory","index":0}]]},"OpenAI Chat Model8":{"ai_languageModel":[[{"node":"Single AI Agent4","type":"ai_languageModel","index":0}]]},"Single AI Agent4":{"main":[[{"node":"Respond to Webhook5","type":"main","index":0}]]},"Webhook3":{"main":[[{"node":"Single AI Agent4","type":"main","index":0}]]},"Call n8n Workflow Tool4":{"ai_tool":[[{"node":"Single AI Agent4","type":"ai_tool","index":0}]]},"OpenAI Chat Model9":{"ai_languageModel":[[{"node":"Single AI Agent5","type":"ai_languageModel","index":0}]]},"Get row(s) in sheet in Google Sheets1":{"ai_tool":[[{"node":"Single AI Agent5","type":"ai_tool","index":0}]]},"Single AI Agent5":{"main":[[{"node":"Single AI Agent6","type":"main","index":0}]]},"Webhook4":{"main":[[{"node":"Single AI Agent5","type":"main","index":0}]]},"Single AI Agent6":{"main":[[{"node":"Respond to Webhook6","type":"main","index":0}]]},"OpenAI Chat Model10":{"ai_languageModel":[[{"node":"Single AI Agent7","type":"ai_languageModel","index":0}]]},"Single AI Agent7":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Single AI Agent8":{"main":[[{"node":"Respond to Webhook7","type":"main","index":0}]]},"Webhook5":{"main":[[{"node":"Single AI Agent7","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Single AI Agent8","type":"main","index":0},{"node":"Single AI Agent9","type":"main","index":0}]]},"Single AI Agent9":{"main":[[{"node":"Respond to Webhook7","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e8cf67fa-785f-4674-ab6f-7e7969dc075b","triggerCount":0,"shared":[{"createdAt":"2025-06-26T22:11:33.571Z","updatedAt":"2025-06-26T22:11:33.571Z","role":"workflow:owner","workflowId":"mcfJcf5chNvHcseP","projectId":"sjNgDrdbhRMMF6SK"}],"tags":[{"createdAt":"2025-06-30T22:59:56.805Z","updatedAt":"2025-06-30T22:59:56.805Z","id":"5RtSKparz6559GT3","name":"template"},{"createdAt":"2025-06-25T04:00:38.130Z","updatedAt":"2025-06-25T04:00:38.130Z","id":"EyGUZypc5DKHVUyY","name":"패스트캠퍼스"}]}