workflows/[W7YTmTj00BevFTQU]obsidian---google-drive.json
{"createdAt":"2025-07-24T02:07:23.110Z","updatedAt":"2025-08-24T10:58:53.446Z","id":"W7YTmTj00BevFTQU","name":"Obsidian - Google Drive","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1FENsXxIzM3gzpT32xR0P8oakFW_3345n","mode":"list","cachedResultName":"Clippings-n8n-scrap","cachedResultUrl":"https://drive.google.com/drive/folders/1FENsXxIzM3gzpT32xR0P8oakFW_3345n"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,0],"id":"d9cc3cd7-902d-40f8-84bc-7ddd99622fff","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"DapyzERN9Buo346F","name":"(DP) Google Drive account"}}},{"parameters":{"content":"## 데이터를 수집하는 과정에서 사용하기.\n\n- 애플 실적 보고 https://www.apple.com/newsroom/pdfs/fy2025-q2/FY25_Q2_Consolidated_Financial_Statements.pdf\n- 원자재 https://www.investing.com/commodities\n- 교보문고 https://store.kyobobook.co.kr/bestseller/online/daily","height":176,"width":528},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[432,-192],"id":"5e8faaef-cf45-4768-8976-a4f4f70a80f9","name":"Sticky Note1"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.webViewLink }}","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[224,0],"id":"f7a02ce2-5466-4b6a-9244-25a18f9e288f","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"DapyzERN9Buo346F","name":"(DP) Google Drive account"}}},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[448,0],"id":"a67a977b-e947-48ce-af46-b152c380cce1","name":"Extract from File"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[640,208],"id":"37c50b0b-c54d-4ce4-91b4-39367cff85f5","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Iy8nJTvO4bCB8mYA","name":"OpenAi account"}}},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C07PH5BRN1X","mode":"list","cachedResultName":"automation-n8n"},"text":"={{ $json.output.text }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1072,0],"id":"a822e0ba-9210-4951-aaf3-fbcbe3c9eb83","name":"Send a message","webhookId":"dbfe7348-4e94-4910-aeb6-fba558606560","credentials":{"slackOAuth2Api":{"id":"uuTaxNZGMuNDjn2R","name":"(DP) OAuth2 Slack account"}}},{"parameters":{"options":{"summarizationMethodAndPrompts":{"values":{"combineMapPrompt":"(In Korean한국어로)\nWrite a concise summary of the following:\n\n\n\"{text}\"\n\n\nCONCISE SUMMARY:","prompt":"(In Korean한국어로)\nWrite a concise summary of the following:\n\n\n\"{text}\"\n\n\nCONCISE SUMMARY:"}}}},"type":"@n8n/n8n-nodes-langchain.chainSummarization","typeVersion":2.1,"position":[672,0],"id":"601772ea-0b1b-411a-a415-5cda408b2ab8","name":"Summarization Chain"},{"parameters":{"content":"# Obsidian - Google Drive 연동 방법\n## 사전준비\n1. [obsidian](https://obsidian.md/) 설치.\n2. Google Drive 폴더 생성 후 연동\n3. 크롬 확장 도구[Obsidian Web Cliper](https://chromewebstore.google.com/detail/cnjifjpddelmedmihgijeibhnjfabmlf?utm_source=item-share-cb) 설치.\n4. 웹 클리퍼로 저장하면 자동으로 내용을 요약하고 슬랙으로 메시지 전송하기.","height":256,"width":560},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-144,-288],"id":"b4dcd693-47cd-49f1-afd3-34d17a981503","name":"Sticky Note"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Summarization Chain","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Summarization Chain","type":"ai_languageModel","index":0}]]},"Summarization Chain":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2025-09-05T08:53:03Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"69141164-d715-4bcc-ac28-242860b1e26c","triggerCount":1,"shared":[{"createdAt":"2025-07-24T02:07:23.110Z","updatedAt":"2025-07-24T02:07:23.110Z","role":"workflow:owner","workflowId":"W7YTmTj00BevFTQU","projectId":"sjNgDrdbhRMMF6SK"}],"tags":[{"createdAt":"2025-06-25T04:00:38.130Z","updatedAt":"2025-06-25T04:00:38.130Z","id":"EyGUZypc5DKHVUyY","name":"패스트캠퍼스"}]}