workflows/[ZHmivpYIaqB5apcx]아기-이름-분석-프로젝트.json
{"createdAt":"2025-09-03T08:01:35.041Z","updatedAt":"2025-09-03T09:26:30.111Z","id":"ZHmivpYIaqB5apcx","name":"아기 이름 분석 프로젝트","active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"e2b8f1df-6cd1-472f-ba30-96a6a9c8ce68","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[-1888,1536],"typeVersion":1},{"parameters":{"projectId":{"__rl":true,"value":"datapopcorn","mode":"list","cachedResultName":"datapopcorn","cachedResultUrl":"https://console.cloud.google.com/bigquery?project=datapopcorn"},"sqlQuery":"SELECT \n  name, \n  SUM(number) AS total_count\nFROM \n  `bigquery-public-data.usa_names.usa_1910_2013`\nGROUP BY \n  name\nORDER BY \n  total_count DESC\nLIMIT \n  10;","options":{}},"id":"6ae2b43c-7b62-4b22-984d-18af6187e52c","name":"Google BigQuery","type":"n8n-nodes-base.googleBigQuery","typeVersion":2.1,"position":[-1664,1808],"credentials":{"googleBigQueryOAuth2Api":{"id":"PoAJO9GtbedbryLg","name":"Google BigQuery account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"b6aca4e9-108c-41ab-8f41-e9bb0c19a843","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1440,1536]},{"parameters":{"assignments":{"assignments":[{"id":"520f6e57-7737-4b3f-8655-b494e123425b","name":"data","value":"={{ $json.data }}","type":"string"}]},"options":{}},"id":"5bb4fb6b-c85f-410f-bc93-4c08a8105ea8","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1248,1536]},{"parameters":{"name":"generate_a_chart","description":"Call this tool whenever you need to generate a chart.","workflowId":"={{ $workflow.id }}","specifyInputSchema":true,"schemaType":"manual","inputSchema":"{\n\"type\": \"object\",\n\"properties\": {\n\t\"query\": {\n\t\t\"type\": \"string\",\n\t\t\"description\": \"a query describing the chart to generate\"\n\t\t}\n\t}\n}"},"id":"0444f358-1677-479d-a01a-5470b518f562","name":"Generate a chart","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[-736,1760],"typeVersion":1.1},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"=Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"model\": \"gpt-4.1-mini\",\n    \"messages\": [\n        {\n            \"role\": \"system\",\n            \"content\": \"Based on the user request, generate a valid Chart.js definition. Important: - Be careful with the data scale and ensure that all data are visible. For example, if plotting data 2 and 3 on a bar chart, the baseline should be 0. - Charts colors should be different only if there are multiple datasets. - The output should be a valid JSON structure starting with {'chart':. Ensure that the structure matches this example: `{'chart': {'type': 'bar', 'data': {'labels': ['Hello', 'World'], 'datasets': [{'label': 'Foo', 'data': [1, 2]}]}}}`. In scales, min and max are numbers. Example: `{scales:{yAxes:[{ticks:{min:0,max:3}`\"\n        },\n        {\n            \"role\": \"user\",\n            \"content\": \"{{ JSON.stringify($json.query) }}\"\n        }\n    ],\n    \"response_format\": {\n  \"type\": \"json_schema\",\n  \"json_schema\": {\n    \"name\": \"chart_configuration\",\n    \"description\": \"Configuration schema for Chart.js charts\",\n    \"strict\": true,\n    \"schema\": {\n  \"type\": \"object\",\n  \"properties\": {\n    \"chart\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"type\": {\n          \"type\": \"string\",\n          \"enum\": [\"bar\", \"line\", \"radar\", \"pie\", \"doughnut\", \"polarArea\", \"bubble\", \"scatter\", \"area\"]\n        },\n        \"data\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"labels\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": \"string\"\n              }\n            },\n            \"datasets\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                  \"label\": {\n                    \"type\": [\"string\", \"null\"]\n                  },\n                  \"data\": {\n                    \"type\": \"array\",\n                    \"items\": {\n                      \"type\": \"number\"\n                    }\n                  },\n                  \"backgroundColor\": {\n                    \"type\": [\"array\", \"null\"],\n                    \"items\": {\n                      \"type\": \"string\"\n                    }\n                  },\n                  \"borderColor\": {\n                    \"type\": [\"array\", \"null\"],\n                    \"items\": {\n                      \"type\": \"string\"\n                    }\n                  },\n                  \"borderWidth\": {\n                    \"type\": [\"number\", \"null\"]\n                  }\n                },\n                \"required\": [\"data\", \"label\", \"backgroundColor\", \"borderColor\", \"borderWidth\"],\n                \"additionalProperties\": false\n              }\n            }\n          },\n          \"required\": [\"labels\", \"datasets\"],\n          \"additionalProperties\": false\n        }\n      },\n      \"required\": [\"type\", \"data\"],\n      \"additionalProperties\": false\n    },\n    \"options\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"scales\": {\n          \"type\": [\"object\", \"null\"],\n          \"properties\": {\n            \"yAxes\": {\n              \"type\": \"array\",\n              \"items\": {\n                \"type\": [\"object\", \"null\"],\n                \"properties\": {\n                  \"ticks\": {\n                    \"type\": [\"object\", \"null\"],\n                    \"properties\": {\n                      \"max\": {\n                        \"type\": [\"number\", \"null\"]\n                      },\n                      \"min\": {\n                        \"type\": [\"number\", \"null\"]\n                      },\n                      \"stepSize\": {\n                        \"type\": [\"number\", \"null\"]\n                      },\n                      \"beginAtZero\": {\n                        \"type\": [\"boolean\", \"null\"]\n                      }\n                    },\n                    \"required\": [\"max\", \"min\", \"stepSize\", \"beginAtZero\"],\n                    \"additionalProperties\": false\n                  },\n                  \"stacked\": {\n                    \"type\": [\"boolean\", \"null\"]\n                  }\n                },\n                \"required\": [\"ticks\", \"stacked\"],\n                \"additionalProperties\": false\n              }},\n              \"xAxes\": {\n                \"type\": [\"object\", \"null\"],\n                \"properties\": {\n                  \"stacked\": {\n                    \"type\": [\"boolean\", \"null\"]\n                  }\n                },\n                \"required\": [\"stacked\"],\n                \"additionalProperties\": false\n              }\n          },\n          \"required\": [\"yAxes\", \"xAxes\"],\n          \"additionalProperties\": false\n        },\n        \"plugins\": {\n          \"type\": [\"object\", \"null\"],\n          \"properties\": {\n            \"title\": {\n              \"type\": [\"object\", \"null\"],\n              \"properties\": {\n                \"display\": {\n                  \"type\": [\"boolean\", \"null\"]\n                },\n                \"text\": {\n                  \"type\": [\"string\", \"null\"]\n                }\n              },\n              \"required\": [\"display\", \"text\"],\n              \"additionalProperties\": false\n            },\n            \"legend\": {\n              \"type\": [\"object\", \"null\"],\n              \"properties\": {\n                \"display\": {\n                  \"type\": [\"boolean\", \"null\"]\n                },\n                \"position\": {\n                  \"type\": [\"string\", \"null\"],\n                  \"enum\": [\"top\", \"left\", \"bottom\", \"right\", null]\n                }\n              },\n              \"required\": [\"display\", \"position\"],\n              \"additionalProperties\": false\n            }\n          },\n          \"required\": [\"title\", \"legend\"],\n          \"additionalProperties\": false\n        }\n      },\n      \"required\": [\"scales\", \"plugins\"],\n      \"additionalProperties\": false\n    }\n  },\n  \"required\": [\"chart\", \"options\"],\n  \"additionalProperties\": false\n}\n}\n}\n}","options":{}},"id":"de826ba8-f977-4398-8065-c16a81fc4da7","name":"OpenAI - Generate Chart definition with Structured Output","type":"n8n-nodes-base.httpRequest","position":[-832,2368],"typeVersion":4.2,"credentials":{"openAiApi":{"id":"ledUugAWoH4Uadky","name":"(fastcampus)OpenAi account"}}},{"parameters":{"content":"## 퀵차트 정의 생성\n\n**HTTP 요청 노드**\n- OpenAI 노드에서 아직 구현되지 않았기 때문에 *HTTP 요청 노드를 사용하여 정의된 JSON 응답 형식으로 차트 쿼리를 OpenAI로 보냅니다*\n- JSON 구조는 차트JS 및 Quickchart.io 정의를 기반으로 하며, 이를 통해 멋진 그래프를 만들 수 있습니다.\n- 출력은 다음 노드로 전달되는 차트 정의가 포함된 JSON입니다.\n\n**응답 노드 설정**\n- Quickchart.io URL의 끝에 차트 정의를 추가합니다([문서 참조](https://quickchart.io/documentation/usage/parameters/)) )\n- 매개 변수에서 차트 인터페이스에 올바르게 표시하기 위해 너비를 250으로 지정한다는 점에 유의하세요.","height":503,"width":901.8390013107377,"color":7},"id":"5244df19-882b-4d86-b97a-1578c3a42a2c","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1120,2048],"typeVersion":1},{"parameters":{"content":"# TASK\n## 3. AI Agent \n- 이 에이전트는 주로 하위 워크플로를 사용하는 방법을 설명하기 위해 여기에 있습니다.\n- \"차트 생성\" 도구가 있는 기본 에이전트입니다\n- 이 도구는 하위 워크플로를 호출합니다\n- 하위 워크플로는 대화에 표시되는 퀵차트 URL로 응답합니다","height":698,"width":515,"color":7},"id":"77d8cfe7-810f-4022-95db-5a5a6d46a0f6","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-1104,1296],"typeVersion":1},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appSaP4qgu9KMaLKM","mode":"list","cachedResultName":"Korea baby name 2020-2024","cachedResultUrl":"https://airtable.com/appSaP4qgu9KMaLKM"},"table":{"__rl":true,"value":"tblx9ZR1rzMUhOIzH","mode":"list","cachedResultName":"ranking","cachedResultUrl":"https://airtable.com/appSaP4qgu9KMaLKM/tblx9ZR1rzMUhOIzH"},"options":{},"sort":{"property":[{"field":"sex"},{"field":"ranking"}]}},"id":"e99dad47-72ba-4cbb-aee6-ecbbd3a54d8e","name":"Airtable","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1648,1536],"credentials":{"airtableTokenApi":{"id":"ibznVVkXuJo2Y1kz","name":"(Personal)Airtable Personal Access Token account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C07PH5BRN1X","mode":"list","cachedResultName":"automation-n8n"},"messageType":"block","blocksUi":"={{ $json.output }}","text":"=","otherOptions":{}},"id":"d6e66d73-4ee0-47de-9a8c-e6fc6eb94e93","name":"Slack","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[-448,1600],"webhookId":"906f5a0f-5381-4355-ac9c-9e94291542fc","credentials":{"slackApi":{"id":"WZW1Kqym7BnJSCSZ","name":"(n8n-agent-bot) Slack account"}}},{"parameters":{"content":"![](https://raw.githubusercontent.com/2innnnn0/assets/refs/heads/master/image/datapopcorn_logo_50px.png)\n## 데이터분석 자동화 리포트(1) 한국 아기 이름 분석\n> [한국인의 이름 통계](https://koreanname.me/)에서 2020~2024년 사이동안 태어난 아이의 TOP 10의 이름을 분석하는 워크플로우\n\n1. 데이터 연결 : 분석할 데이터를 데이터베이스나 API 등에서 불러옵니다.\n2. 필터링 : 분석에 필요한 데이터만 선별하고, 불필요한 데이터를 제거합니다.\n3. AI 에이전트 활용 데이터 분석 : AI 에이전트를 통해 데이터를 분석하고, 시각화 차트를 생성합니다.\n4. 결과 공유 : 분석 결과를 슬랙, 이메일 등 원하는 채널에 공유합니다.\n\n\n[워크플로우 레퍼런스](https://n8n.io/workflows/2400-ai-agent-with-charts-capabilities-using-openai-structured-output-and-quickchart/)\n","height":341.10982178853214,"width":629.6088867449115},"id":"4d504a98-cd02-46c9-9ac0-87e067b4c936","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1904,1008]},{"parameters":{"content":"# TASK\n## 1. 데이터 연결\n1. DB (BigQuery)\n2. Google Sheet\n3. Airtable\n4. Excel 365 (O365 계정필요)\n5. Google Drive(CSV)","height":396,"width":215,"color":2},"id":"958536af-e02d-4605-b151-f9dcf23f6d8c","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1696,1312]},{"parameters":{"resource":"worksheet","workbook":{"__rl":true,"mode":"list","value":""},"filters":{}},"id":"a8e3f543-8b84-491e-89d4-8c9c79c4d243","name":"Microsoft Excel 365","type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[-1472,1808],"disabled":true},{"parameters":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"id":"8169e770-9cd3-46b7-9258-f4879ff64b15","name":"Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1664,1952],"disabled":true},{"parameters":{"content":"## 다른 데이터소스","height":338.7344183238225,"width":426.2685492024003},"id":"8480e5fb-a353-4dfe-b977-8750c6a3cb89","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1712,1760],"disabled":true},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"id":"68e76057-5da1-4493-bd88-99049275e6b4","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1472,1952],"disabled":true},{"parameters":{"content":"# TARGET\n## 4. 공유","height":306,"width":258,"color":7},"id":"cb4f7b12-93a8-447a-8a81-7682281f6975","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-512,1456],"typeVersion":1},{"parameters":{"content":"# TASK\n## 2. 데이터 조작\nAI Agent가 전체 데이터를 읽게 모아주는 역할","height":317,"width":325,"color":2},"id":"2482a96a-cf57-4042-8d5b-0ec6f2849661","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1456,1392]},{"parameters":{"model":"gpt-4o-mini-2024-07-18","options":{}},"id":"0ad016c9-e946-4492-bd91-0d628ed60ffb","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-1056,1760],"typeVersion":1,"credentials":{"openAiApi":{"id":"ledUugAWoH4Uadky","name":"(fastcampus)OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"ea9e9ab6-4d6c-4662-9027-5b5b30762c4f","name":"response","value":"={{ $json.url }}","type":"string"}]},"options":{}},"id":"2ec7fbaf-6466-4bda-addd-2aa8153f037f","name":"Quickchart Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-336,2368]},{"parameters":{"method":"POST","url":"https://quickchart.io/chart/create","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.choices[0].message.content }}","options":{}},"id":"a4df4b4b-5218-4390-b7c6-96bf8a198fe8","name":"Chart Create","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-576,2368]},{"parameters":{"promptType":"define","text":"=2020~2024년 동안 한국에서 인기 있었던 남녀 이름 TOP 50 리스트를 분석해줘.\n\n\t1.\t이름들의 공통적인 특징은 무엇인지(예: 자음/모음 패턴 등) 찾아주고, 남녀 이름 간의 차이점도 알려줘.\n\t2.\t남자와 여자 이름 간에 연관성이 있다면 어떤 패턴이나 트렌드가 있는지 분석해줘.\n\t3.\t이 데이터를 바탕으로 남녀 이름별로 각 TOP 10 차트를 시각화해줘. (X:NAME, Y:COUNT)\n\n{{ $json.data }}","needsFallback":true,"options":{"systemMessage":"=- 너는 데이터분석 전문가야. \n- 결과는 최대 2000글자를 넘지 않게 해야해.\n- 결과 구조를 반드시 아래 Block Kit Builder에 따라 만들어줘.\n- 결과는 반드시 { \"blocks\": 으로 시작해야해.\n--\n\n{\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"안녕하세요, 데이터팝콘 입니다.\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"1. 분석결과\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"2. 차트 <https://quickchart.io/chart?~|chart> : 차트의 URL을 반드시 클릭 가능한 메시지로 구성하기\"\n\t\t\t}\n\t\t}\n\t]\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-960,1536],"id":"ac21d224-281d-4ebc-be3b-b206c62de7c4","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-912,1760],"id":"729a5f5a-2771-4bf9-b065-6eba2c16a8bd","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"DtxarAHwdH4CJjwC","name":"(DP)Anthropic account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1008,1888],"id":"28a65e8b-818e-4752-a424-b2cf44bac6df","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"8Mn7IcG6GNbBBRV7","name":"OpenRouter account"}}},{"parameters":{"public":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[112,1664],"id":"6c02e0ae-650a-41af-9817-08abb3f43e0d","name":"When chat message received","webhookId":"c30ae6a0-cdff-44e1-97e7-c404dc498ad3"},{"parameters":{"model":"gpt-4.1","options":{}},"id":"48c6604e-56ed-4751-a34f-a0db3ec647be","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[224,1888],"typeVersion":1,"credentials":{"openAiApi":{"id":"ledUugAWoH4Uadky","name":"(fastcampus)OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[400,1872],"id":"9e550c4c-a283-4fdc-8323-111354946a3f","name":"Anthropic Chat Model1","credentials":{"anthropicApi":{"id":"DtxarAHwdH4CJjwC","name":"(DP)Anthropic account"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appSaP4qgu9KMaLKM","mode":"list","cachedResultName":"Korea baby name 2020-2024","cachedResultUrl":"https://airtable.com/appSaP4qgu9KMaLKM"},"table":{"__rl":true,"value":"tblx9ZR1rzMUhOIzH","mode":"list","cachedResultName":"ranking","cachedResultUrl":"https://airtable.com/appSaP4qgu9KMaLKM/tblx9ZR1rzMUhOIzH"},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[576,1872],"id":"b1648286-d32a-425e-8621-f37f04950ce4","name":"Search records in Airtable","credentials":{"airtableTokenApi":{"id":"ibznVVkXuJo2Y1kz","name":"(Personal)Airtable Personal Access Token account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"query"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1104,2368],"id":"ef5803d1-5517-4b73-a066-208559d6c32e","name":"When Executed by Another Workflow"},{"parameters":{"description":"Call this tool whenever you need to generate a chart.","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"type":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('type', ``, 'string') }}","properties":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('properties', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"properties","displayName":"properties","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[736,1872],"id":"1db6fb9d-0bf8-4b63-b74b-5681bafe3094","name":"generate_a_chart"},{"parameters":{"jsCode":"// 슬랙에서 전송된 데이터 파싱\nconst data = $input.first().json.body || {};\n\ntry {\n  // Slack 명령어 데이터 안전하게 추출\n  const command = data.command || '';\n  const text = data.text || '';\n  const channelId = data.channel_id || '';\n  const userId = data.user_id || '';\n  const userName = data.user_name || '';\n  const responseUrl = data.response_url || '';\n\n  // 명령어 타입 추출 (슬래시 제거)\n  let commandType = '';\n  if (command && command.startsWith('/')) {\n    commandType = command.substring(1);\n  } else {\n    // 명령어가 없거나 예상치 못한 형식인 경우 기본값 설정\n    commandType = 'unknown';\n  }\n\n  let params = {\n    logToNotion: true, // 기본값\n    query: '', // 기본값\n  };\n\n  // 명령어 처리\n  switch (commandType) {\n    case 'ask':\n      const words = text.trim().split(' ');\n      if (words.length > 0 && words[0].toLowerCase() === 'nolog') {\n        // 'nolog' 옵션이 있는 경우\n        params.logToNotion = false;\n        // 'nolog' 제거하고 나머지 텍스트를 쿼리로 사용\n        params.query = words.slice(1).join(' ').trim();\n      } else {\n        // 일반 질문인 경우\n        params.logToNotion = true;\n        params.query = text.trim();\n      }\n      break;\n    case 'notion':\n    case 'rss':\n      // notion과 rss 명령어는 텍스트를 그대로 전달\n      params.query = text.trim();\n      break;\n    default:\n      // 알 수 없는 명령어 처리\n      console.log(`알 수 없는 명령어: ${commandType}`);\n  }\n\n  // 출력 데이터 구성\n  return {\n    json: {\n      command: commandType,\n      params,\n      channelId,\n      userId,\n      userName,\n      fullText: text,\n      responseUrl,\n      QuerySource : \"Slack\",\n      originalData: data,\n      timestamp: new Date().toISOString()\n    }\n  };\n} catch (error) {\n  console.error(\"명령어 파싱 오류:\", error);\n  // 오류 발생 시 기본 응답\n  return {\n    json: {\n      command: \"error\",\n      error: error.message,\n      originalData: data,\n      timestamp: new Date().toISOString()\n    }\n  };\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,2208],"id":"c1ba4729-089b-40d7-9fea-e986b13dc183","name":"Parse Command"},{"parameters":{"content":"## Chat 대화형","height":96,"width":272},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[16,1568],"id":"98b07eb5-0f29-4e80-a2c4-0737d71a7549","name":"Sticky Note7"},{"parameters":{"needsFallback":true,"options":{"systemMessage":"=당신은 유능한 데이터 분석가입니다.  \n최대한 친절하고 상세하게 답변하세요.  \n아래 규칙을 반드시 준수하십시오:\n\nDataSource : \"Search records in Airtable\" tool\n\n목표 : 유저의 질문에 성실하게 답 합니다.\ne.g) 2020~2024년 동안 한국에서 인기 있었던 남녀 이름 TOP 50 리스트를 분석해줘.\n\n\t1.\t이름들의 공통적인 특징은 무엇인지(예: 자음/모음 패턴 등) 찾아주고, 남녀 이름 간의 차이점도 알려줘.\n\t2.\t남자와 여자 이름 간에 연관성이 있다면 어떤 패턴이나 트렌드가 있는지 분석해줘.\n\t3.\t이 데이터를 바탕으로 남녀 이름별로 각 TOP 10 차트를 시각화해줘. (X:NAME, Y:COUNT) 데이터 검색은 \"Search records in Airtable\" tool을 반드시 통해서.\n\n\n1. **보고서 형식**  \n   - 분석 결과는 항상 마크다운 보고서 형식으로 제공합니다. 단, 코드블럭이나 JSON으로 감싸지 않게 합니다.\n   - 보고서는 다음 세 섹션으로 구성합니다:  \n     1. **서론**: 분석 배경과 목적  \n     2. **본론**: 데이터 처리 과정, 주요 통계·시각화, 인사이트  \n     3. **결론**: 핵심 요약 및 제언  \n\n2. **차트 임베딩**\n   - \"generate_a_chart\" 도구를 반드시 사용\n   - 차트는 Airtable에서 불러온 데이터로 생성.\n   - QuickChart 형식의 차트 이미지는 대화 내에 바로 삽입합니다.  \n   - 예시:  \n     ![](https://quickchart.io/chart/render/sf-06749ed8-10e3-4a7e-b3e8-3ced960973ed)\n   - 새로운 차트를 생성할 때도 동일한 방식으로 URL을 제공하고, 이미지가 보이도록 합니다.\n\n3. **스타일 가이드**  \n   - 전문적이고 공적인 어조를 유지합니다.  \n   - 비즈니스·분석 용어를 사용하여 실질적이고 명확하게 서술합니다.  \n   - 불필요한 수식어는 배제하고, 핵심 정보 위주로 압축적으로 전달합니다.  \n   - 코드나 쿼리 예시가 필요할 경우, 코드 블록(```)을 활용해 명확히 구분합니다.\n\n4. **추가 지침**  \n   - 사용자가 질문한 데이터·도메인 특성에 맞춰 사례를 들어 설명합니다.  \n   - 가정 사항은 명시하고, 출처가 있는 통계·지표는 출처를 함께 표시합니다.  \n   - 질문의 의도가 모호할 경우, 필요한 추가 정보를 요청하세요.\n\n이상 규칙을 철저히 준수하여, 요청받은 모든 분석 업무를 완벽하게 수행하십시오."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[400,1664],"id":"4021ba6a-75cc-4083-862c-ff76346f8f2f","name":"Baby Name Analysis Agent"},{"parameters":{"model":"gpt-4.1","options":{}},"id":"2231b1b7-88ac-42c5-a51f-79de6bfc1ac7","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[352,2384],"typeVersion":1,"credentials":{"openAiApi":{"id":"ledUugAWoH4Uadky","name":"(fastcampus)OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[512,2384],"id":"a327e1be-5b35-4fc3-9a7c-3bfaba86bb8d","name":"Anthropic Chat Model2","credentials":{"anthropicApi":{"id":"DtxarAHwdH4CJjwC","name":"(DP)Anthropic account"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appSaP4qgu9KMaLKM","mode":"list","cachedResultName":"Korea baby name 2020-2024","cachedResultUrl":"https://airtable.com/appSaP4qgu9KMaLKM"},"table":{"__rl":true,"value":"tblx9ZR1rzMUhOIzH","mode":"list","cachedResultName":"ranking","cachedResultUrl":"https://airtable.com/appSaP4qgu9KMaLKM/tblx9ZR1rzMUhOIzH"},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[672,2384],"id":"668bad89-335b-4296-8114-63db34e947b7","name":"Search records in Airtable1","credentials":{"airtableTokenApi":{"id":"ibznVVkXuJo2Y1kz","name":"(Personal)Airtable Personal Access Token account"}}},{"parameters":{"description":"Call this tool whenever you need to generate a chart.","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true},{"id":"properties","displayName":"properties","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[816,2384],"id":"0af4bf2e-c4f8-41c1-ae92-839a7d25b087","name":"generate_a_chart1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1056,2224],"id":"2f56b9ee-8b1b-4b1b-aff2-b667d246694a","name":"Respond to Webhook"},{"parameters":{"content":"## Slack - Slash Command\n`/baby`","height":96,"width":384},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,2080],"id":"c79c3dd9-b249-4b3a-8ac6-96525fa55a72","name":"Sticky Note8"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C07PH5BRN1X","mode":"list","cachedResultName":"automation-n8n"},"messageType":"block","blocksUi":"={{ $json.output }}","text":"=","otherOptions":{}},"id":"66f81e77-f61b-4f90-ad20-38fcb2a767af","name":"Send Result Slack","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[880,2208],"webhookId":"906f5a0f-5381-4355-ac9c-9e94291542fc","credentials":{"slackApi":{"id":"WZW1Kqym7BnJSCSZ","name":"(n8n-agent-bot) Slack account"}}},{"parameters":{"promptType":"define","text":"={{ $json.fullText }}","needsFallback":true,"options":{"systemMessage":"=당신은 유능한 데이터 분석가입니다.  \n최대한 친절하고 상세하게 답변하세요.  \n아래 규칙을 반드시 준수하십시오:\n\nDataSource : \"Search records in Airtable\" tool\n\n목표 : 유저의 질문에 성실하게 답 합니다.\ne.g) 2020~2024년 동안 한국에서 인기 있었던 남녀 이름 TOP 50 리스트를 분석해줘.\n\n\t1.\t이름들의 공통적인 특징은 무엇인지(예: 자음/모음 패턴 등) 찾아주고, 남녀 이름 간의 차이점도 알려줘.\n\t2.\t남자와 여자 이름 간에 연관성이 있다면 어떤 패턴이나 트렌드가 있는지 분석해줘.\n\t3.\t이 데이터를 바탕으로 남녀 이름별로 각 TOP 10 차트를 시각화해줘. (X:NAME, Y:COUNT) 데이터 검색은 \"Search records in Airtable\" tool을 반드시 통해서.\n\nFORMAT:\n답변은 Slack Block Kit JSON 형식으로 작성하세요.\n아래 예시처럼 제목, 핵심 인사이트, 데이터 요약, 제안 사항을 구조화해 주세요:\nSlack으로 바로 전송 가능하도록 코드펜스(```json)`나 불필요한 텍스트 없이 순수 JSON만 출력\n\n\n1. **보고서 형식**  \n   - 분석 결과는 항상 마크다운 보고서 형식으로 제공합니다. 단, 코드블럭이나 JSON으로 감싸지 않게 합니다.\n   - 보고서는 다음 세 섹션으로 구성합니다:  \n     1. **서론**: 분석 배경과 목적  \n     2. **본론**: 데이터 처리 과정, 주요 통계·시각화, 인사이트  \n     3. **결론**: 핵심 요약 및 제언  \n\n2. **차트 임베딩**\n   - \"generate_a_chart\" 도구를 반드시 사용\n   - 차트는 Airtable에서 불러온 데이터로 생성.\n   - QuickChart 형식의 차트 이미지는 대화 내에 바로 삽입합니다.  \n   - 예시:  \n     ![](https://quickchart.io/chart/render/sf-06749ed8-10e3-4a7e-b3e8-3ced960973ed)\n   - 새로운 차트를 생성할 때도 동일한 방식으로 URL을 제공하고, 이미지가 보이도록 합니다.\n\n3. **스타일 가이드**  \n   - 전문적이고 공적인 어조를 유지합니다.  \n   - 비즈니스·분석 용어를 사용하여 실질적이고 명확하게 서술합니다.  \n   - 불필요한 수식어는 배제하고, 핵심 정보 위주로 압축적으로 전달합니다.  \n   - 코드나 쿼리 예시가 필요할 경우, 코드 블록(```)을 활용해 명확히 구분합니다.\n\n4. **추가 지침**  \n   - 사용자가 질문한 데이터·도메인 특성에 맞춰 사례를 들어 설명합니다.  \n   - 가정 사항은 명시하고, 출처가 있는 통계·지표는 출처를 함께 표시합니다.  \n   - 질문의 의도가 모호할 경우, 필요한 추가 정보를 요청하세요.\n\n이상 규칙을 철저히 준수하여, 요청받은 모든 분석 업무를 완벽하게 수행하십시오."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[496,2176],"id":"69dcb929-7226-4cc5-b526-34c17d5d93b8","name":"Baby Name Analysis Agent(for Slack)"},{"parameters":{"httpMethod":"POST","path":"baby","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[80,2208],"id":"19105183-cf03-4000-bf35-ca42248fc3c2","name":"Slack Trigger Webhook(baby)","webhookId":"bb08297d-b8dc-40a1-b813-b53160e76119"},{"parameters":{"content":"# TRIGGER","height":256,"width":224},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1984,1424],"id":"de4fe59e-3ca5-4513-909c-e081a3510a43","name":"Sticky Note9"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Generate a chart":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI - Generate Chart definition with Structured Output":{"main":[[{"node":"Chart Create","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Chart Create":{"main":[[{"node":"Quickchart Response","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":1}]]},"OpenRouter Chat Model":{"ai_languageModel":[[]]},"AI Agent":{"main":[[{"node":"Slack","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Baby Name Analysis Agent","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Baby Name Analysis Agent","type":"ai_languageModel","index":0}]]},"Anthropic Chat Model1":{"ai_languageModel":[[{"node":"Baby Name Analysis Agent","type":"ai_languageModel","index":1}]]},"Search records in Airtable":{"ai_tool":[[{"node":"Baby Name Analysis Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"OpenAI - Generate Chart definition with Structured Output","type":"main","index":0}]]},"generate_a_chart":{"ai_tool":[[{"node":"Baby Name Analysis Agent","type":"ai_tool","index":0}]]},"Parse Command":{"main":[[{"node":"Baby Name Analysis Agent(for Slack)","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Baby Name Analysis Agent(for Slack)","type":"ai_languageModel","index":0}]]},"Anthropic Chat Model2":{"ai_languageModel":[[{"node":"Baby Name Analysis Agent(for Slack)","type":"ai_languageModel","index":1}]]},"Search records in Airtable1":{"ai_tool":[[{"node":"Baby Name Analysis Agent(for Slack)","type":"ai_tool","index":0}]]},"generate_a_chart1":{"ai_tool":[[{"node":"Baby Name Analysis Agent(for Slack)","type":"ai_tool","index":0}]]},"Send Result Slack":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Baby Name Analysis Agent(for Slack)":{"main":[[{"node":"Send Result Slack","type":"main","index":0}]]},"Slack Trigger Webhook(baby)":{"main":[[{"node":"Parse Command","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e3b0da84-d522-4aeb-aadc-462834187401","triggerCount":2,"shared":[{"createdAt":"2025-09-03T08:01:35.041Z","updatedAt":"2025-09-03T08:01:35.041Z","role":"workflow:owner","workflowId":"ZHmivpYIaqB5apcx","projectId":"sjNgDrdbhRMMF6SK"}],"tags":[{"createdAt":"2025-06-25T04:00:38.130Z","updatedAt":"2025-06-25T04:00:38.130Z","id":"EyGUZypc5DKHVUyY","name":"패스트캠퍼스"}]}