workflows/[부록]-🚨-report-n8n-workflow-errors-to-slack(공유용).json
{"updatedAt":"2025-09-21T15:10:20.531Z","createdAt":"2025-09-21T15:09:14.685Z","id":"BjEjRZsODrGiWAGx","name":"[부록] 🚨 Report n8n workflow errors to Slack(공유용)","active":false,"isArchived":false,"nodes":[{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C080PD1TH60","mode":"list","cachedResultName":"alerts-n8n-workflows"},"text":"={{ $json.message }}","otherOptions":{}},"id":"9963887f-5df0-43c1-bced-a33e400e47a3","name":"Slack","type":"n8n-nodes-base.slack","position":[1040,528],"typeVersion":2.1,"webhookId":"74c93494-6b2d-4e08-9442-4efb0f0561a0"},{"parameters":{},"id":"bc71436a-5f15-45cf-aa95-07761cb114c4","name":"On Error","type":"n8n-nodes-base.errorTrigger","position":[464,448],"typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"message","value":"=:warning: [prod] workflow `{{$json[\"workflow\"][\"name\"]}}` failed to run! <{{ $json.execution.url }}|execution>\n\nerror message from node: {{ $json.execution.lastNodeExecuted }}\n {{ $json.execution.error.message }}"}]},"options":{}},"id":"b88df8f0-e766-4973-978c-72715a76fa51","name":"Set message","type":"n8n-nodes-base.set","position":[720,448],"typeVersion":1},{"parameters":{"content":"### 👨‍🎤 Setup\n1. Add Slack creds\n2. Add this error workflow to other workflows\nhttps://docs.n8n.io/flow-logic/error-handling/#create-and-set-an-error-workflow","height":154.7766688696994,"width":424.4907862645661,"color":5},"id":"59b883fe-e23a-4fd6-9766-73d4df25bdbe","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[384,240],"typeVersion":1},{"parameters":{"content":"### 👆🏽 Adjust error message here","height":80,"width":241},"id":"74a00210-d0bd-404a-ae14-087b9f685fdb","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[544,592],"typeVersion":1},{"parameters":{"authentication":"webhook","content":"={{ $json.message }}","options":{}},"id":"0164b886-acc4-45ab-83ba-56b5d2a49049","name":"Discord","type":"n8n-nodes-base.discord","typeVersion":2,"position":[1040,320],"webhookId":"cb284de4-5192-41d6-b91b-c3412a9aa16e"},{"parameters":{"method":"POST","url":"https://kauth.kakao.com/oauth/token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/x-www-form-urlencoded;charset=utf-8"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"refresh_token"},{"name":"client_id","value":"<YOUR_CLIENT_ID>"},{"name":"redirect_uri","value":"https://datapopcorn.win"},{"name":"refresh_token","value":"<YOUR_REFRESH_TOKEN>"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,704],"id":"1f373c4c-ab4e-436c-b780-d9c2e001f600","name":"Refresh Token > Access Token","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://kapi.kakao.com/v2/api/talk/memo/default/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.access_token }}"},{"name":"Content-Type","value":"application/x-www-form-urlencoded;charset=utf-8"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"template_object","value":"={\n  \"object_type\": \"feed\",\n  \"content\": {\n    \"title\": \"🚨 워크플로우 오류 발생\",\n    \"description\": \"{{ $('On Error').item.json.workflow.name }} | {{ $('On Error').item.json.execution.error.node.name }} | {{ $('On Error').item.json.execution.error.message }}\",\n    \"image_url\": \"https://www.gousypet.com/cdn/shop/files/1_5b83353e-96b8-402e-a3c0-d2ed3aefb9d2.png?v=1713500559&width=1445\",\n    \"link\": {\n      \"web_url\": \"{{ $('On Error').item.json.execution.url }}\",\n      \"mobile_web_url\": \"{{ $('On Error').item.json.execution.url }}\"\n    }\n  },\n  \"buttons\": [\n    {\n      \"title\": \"🔎 워크플로우 확인\",\n      \"link\": {\n        \"web_url\": \"{{ $('On Error').item.json.execution.url }}\",\n        \"mobile_web_url\": \"{{ $('On Error').item.json.execution.url }}\"\n      }\n    }\n  ]\n}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,704],"id":"5e8a686c-5c18-49cd-ace2-3ce1712c53aa","name":"메시지 전송을 위한 HTTP Request1","onError":"continueRegularOutput"}],"connections":{"On Error":{"main":[[{"node":"Set message","type":"main","index":0}]]},"Set message":{"main":[[{"node":"Discord","type":"main","index":0},{"node":"Slack","type":"main","index":0},{"node":"Refresh Token > Access Token","type":"main","index":0}]]},"Refresh Token > Access Token":{"main":[[{"node":"메시지 전송을 위한 HTTP Request1","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"2150","templateCredsSetupCompleted":true},"pinData":{},"versionId":"85f1d89c-9660-4078-965c-7981ba3c1c16","triggerCount":0,"shared":[{"updatedAt":"2025-09-21T15:09:14.685Z","createdAt":"2025-09-21T15:09:14.685Z","role":"workflow:owner","workflowId":"BjEjRZsODrGiWAGx","projectId":"sjNgDrdbhRMMF6SK"}],"tags":[{"updatedAt":"2025-09-19T05:46:22.728Z","createdAt":"2025-06-25T04:00:38.130Z","id":"EyGUZypc5DKHVUyY","name":"패스트캠퍼스_관리자"}]}