workflows/core-node(onboarding).json
{"createdAt":"2025-06-16T07:00:54.231Z","updatedAt":"2025-09-22T01:32:56.644Z","id":"43Vy8zn2UXBcHW5s","name":"Core Node(Onboarding)","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[64,448],"id":"29c7fe0a-3f8a-48e5-a141-55dae5587a7d","name":"When clicking ‘Test workflow’"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[368,448],"id":"a523f2d5-37ee-4191-9948-d50ac3519d5a","name":"Split Out"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1312,208],"id":"3ec7f46d-dcbf-4c29-a6aa-c2bed241d687","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"60272891-602d-4b48-b312-4c6f12fdd24c","name":"email","value":"={{ $json.id }}@email.com","type":"string"},{"id":"137ca611-4292-4250-b3ee-e03b5468d56d","name":"email_with_blank","value":"={{ $json.id }}@email.com ","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,448],"id":"8ea800a7-2547-4833-b4f1-0b7ffa85b1ec","name":"Edit Fields"},{"parameters":{"content":"\"edit\"을 더미값을 넣을 수 있습니다. 그리고 \"pin\"으로 고정하면 새로고침해도 계속해서 데이터를 쓸수가 있어요.","height":240},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,352],"id":"4c0ef7db-8631-4d71-82f9-58cab070ee92","name":"Sticky Note3"},{"parameters":{"content":"데이터를 split 기능을 합니다. 이중중첩되어 있는 LIST일때 사용합니다.","height":240},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[304,352],"id":"5cf20221-807c-4713-865d-08647ce8ef99","name":"Sticky Note4"},{"parameters":{"content":"일부 컬럼을 추가,삭제,수정할때 사용합니다. 기존 컬럼을 그대로 가져오려면 include 옵션을 켜주세요.","height":260,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[592,352],"id":"777518c9-9d3f-4edb-b745-3dec443d0067","name":"Sticky Note5"},{"parameters":{"content":"Split의 역 기능입니다. 다시 Group을 해주는 건데 모든 컬럼을 Group할수도 있지만 특정 컬럼만도 가능합니다. items -> item으로 변화되는 것에 주목하세요.","height":240},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1248,112],"id":"38183899-2e9b-4e2a-b812-7b9b1e8e228e","name":"Sticky Note6"},{"parameters":{"jsCode":"const rowCount = $input.all().length;\n\nreturn [\n  {\n    json: {\n      rowCount: rowCount\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,1008],"id":"bdd78466-b71f-448f-8225-cd7bea7e75f7","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b256dc98-3f39-4eab-9ab6-ac4bbb5836f1","leftValue":"={{ $json.name }}","rightValue":"최지우","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1632,192],"id":"c2b70aef-6269-47d8-bcb1-b3af8170808b","name":"Filter"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[944,448],"id":"17af9224-0e51-41c2-8091-897394738b46","name":"Remove Duplicates"},{"parameters":{"maxItems":3},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[2512,448],"id":"c23438da-e323-4b90-b212-6422bbf3a709","name":"Limit"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"average","field":"age"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1,"position":[1312,704],"id":"a10f75a1-b977-4b53-b9fe-18df957cc5fc","name":"Summarize"},{"parameters":{"options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3552,448],"id":"fc10ab17-2898-4565-bd25-fba2ffee58e7","name":"Convert to File"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1904,448],"id":"993f916a-09d7-4301-a72b-f388f8558a6a","name":"Merge","executeOnce":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1d085c64-095f-411c-bd9d-f629f09a4f41","leftValue":"={{ $json.age }}","rightValue":15,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1312,448],"id":"609d2e7d-20e2-4613-9ed4-df39526b31e4","name":"If"},{"parameters":{"content":"커스텀한 조작이 필요할 때 사용.\n- 자바스크립트, 파이썬 내장 함수 지원\n- 외부 라이브러리 사용은 별도 서버로 실행 후 불러오기 가능 (보안상)","height":240,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1248,912],"id":"8dd2e095-9e60-4b88-a481-698c752f1ce4","name":"Sticky Note7"},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[3792,704],"id":"4e08088b-3bb6-4046-81db-9420734c06ca","name":"Extract from File"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"name"}]},"options":{}},"id":"318cb3ec-e33c-45b1-8b79-e93fca37445b","name":"Sort","type":"n8n-nodes-base.sort","typeVersion":1,"position":[2192,448]},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3120,512],"id":"407d92f8-f882-4890-b5ff-275b2398736c","name":"Wait","webhookId":"e8fcd6e2-d394-4afe-ae22-344319584d4d"},{"parameters":{"content":"집계함수 사용\n(COUNT, SUM, AVG, MAX, MIN, CONCAT, APPEND)","height":240},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1248,624],"id":"8ab0c952-d819-4603-9888-e00bd3304808","name":"Sticky Note8"},{"parameters":{"content":"조건절\nTrue / False","height":240},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1248,368],"id":"bfcf2be2-0d85-4ca6-82e2-9f045795792d","name":"Sticky Note9"},{"parameters":{"content":"조건절\nTrue / False","height":240,"width":220},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1568,112],"id":"60ddb8cc-fa25-4783-abfd-77e7f7d73913","name":"Sticky Note10"},{"parameters":{"content":"중복을 제거합니다","height":240},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,352],"id":"4878dd12-7bb7-4aed-9f71-0cece57aa21d","name":"Sticky Note11"},{"parameters":{"content":"여러 Input들을 합칠 수 있습니다.","height":240,"width":220},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1840,368],"id":"4b993f21-01a3-4221-9c30-5ca7464a896c","name":"Sticky Note12"},{"parameters":{"content":"갯수제한Limit\n- First, Last","height":240},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2432,368],"id":"b208c1f7-5b5a-4154-a1c9-b312e06019ea","name":"Sticky Note13"},{"parameters":{"content":"정렬Sort\n- 오름차순, 내림차순\n- 랜덤","height":240},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2128,368],"id":"9bcfc10b-6c83-4433-bdd5-7e58e2b8fcc7","name":"Sticky Note14"},{"parameters":{},"id":"5ce7e25a-a271-4f69-b78f-2ac53c35fb89","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[4080,704],"typeVersion":1},{"parameters":{"content":"파일변환\n- Convert to CSV\n- Convert to HTML\n- Convert to ICS\n- Convert to JSON\n- Convert to ODS\n- Convert to RTF\n- Convert to Text File\n- Convert to XLS\n- Convert to XLSX\n- Move Base64 String to File","height":260,"width":300},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3360,368],"id":"4f394f70-7262-4b44-8609-28a0c5b6786e","name":"Sticky Note15"},{"parameters":{"content":"대기Wait\n- 시간, 특정 조건까지 일시 대기","height":300},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3072,368],"id":"4356ad96-fd63-410a-9713-7f0d575e5dce","name":"Sticky Note17"},{"parameters":{"content":"여러개의 파일을 압축(zip,Gzip)\n- 반대도 있음","height":240},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3712,368],"id":"5e44f52a-29e9-4322-acbb-67e5d1556b2b","name":"Sticky Note18"},{"parameters":{"content":"파일에서 데이터 추출 \n- Extract From CSV\n- Extract From HTML\n- Extract From JSON\n- Extract From ICS\n- Extract From ODS\n- Extract From PDF\n- Extract From RTF\n- Extract From Text File\n- Extract From XLS\n- Extract From XLSX\n- Move File to Base64 String","height":280,"width":360},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3584,640],"id":"823561ea-c848-4815-93d5-9b6c341fcfbc","name":"Sticky Note19"},{"parameters":{"errorMessage":"I'm Error"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[4080,448],"id":"c99bbd66-79ad-4684-ad30-35fe85e62d76","name":"Stop and Error","onError":"continueRegularOutput"},{"parameters":{"content":"(명시적)아무 동작도 하지 않음","height":240},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4032,640],"id":"8ec43cb5-0c27-42c1-b605-ddeb25ac21c7","name":"Sticky Note20"},{"parameters":{"content":"에러를 의도적으로 발생.\nRaise Error","height":240},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4032,368],"id":"026e6429-a6ff-4e00-a1c9-762365e08e44","name":"Sticky Note21"},{"parameters":{"operation":"compress","fileName":"data.zip"},"type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[3792,448],"id":"7c3c382f-6281-4c04-8d9f-b95cd14728d0","name":"Compression"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2800,464],"id":"30ab849d-d5e4-493d-9afe-9c915d0c0fd0","name":"Loop Over Items"},{"parameters":{"content":"배치loop\n- Items를 차례대로 하나씩 보내주는 역할","height":240},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2752,368],"id":"506ca97a-18c9-4ac0-9bfa-5c75624e6c29","name":"Sticky Note22"},{"parameters":{"mode":"jsonToxml","options":{}},"type":"n8n-nodes-base.xml","typeVersion":1,"position":[3440,144],"id":"03d05a3a-c3f9-4ec3-87a7-10d34088ec13","name":"XML"},{"parameters":{"content":"XML변환","height":240},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3392,80],"id":"7043c95d-8fb0-4dce-8cc8-1f478ee02a6d","name":"Sticky Note26"},{"parameters":{"keys":{"key":[{"currentKey":"name","newKey":"student_name"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[2192,192],"id":"a70a777a-540d-4bd1-9130-1ffb81213525","name":"Rename Keys"},{"parameters":{"content":"컬럼명 변경","height":240},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2128,112],"id":"9a61c3bd-0cd9-4570-baeb-cbcff3867585","name":"Sticky Note16"},{"parameters":{"value":"={{ $json.name }}","dataPropertyName":"hash_name"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[1904,192],"id":"6b97ca10-3131-4f33-b3b2-e7e8c54e461f","name":"Crypto"},{"parameters":{"html":"<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>My HTML document</title>\n</head>\n<body>\n  <div class=\"container\">\n    <h1><{{ $json.data[0].name }}/h1>\n    <h2>{{ $json.data[0].grade }} {{ $json.data[0].email }}</h2>\n    <p>{{ $json.data[0].subjects }}</p>\n  </div>\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: center;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n\n<script>\nconsole.log(\"Hello World!\");\n</script>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1904,688],"id":"dd17975d-2072-4227-ae54-ccd8b2c161ba","name":"HTML"},{"parameters":{"content":"암호화","height":240,"width":220},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1840,112],"id":"8c6c1dd0-a147-40d1-9a91-f93d1af2c2f0","name":"Sticky Note27"},{"parameters":{"content":"HTML","height":240,"width":220},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1840,624],"id":"c90a56d1-4521-4a0a-aaf8-cc7e8f89e663","name":"Sticky Note28"},{"parameters":{"content":"Markdown","height":240,"width":220},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2128,624],"id":"8a6631e8-8a9b-4f73-99f9-ba357ca327e1","name":"Sticky Note29"},{"parameters":{"html":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[2192,688],"id":"14a2c045-3835-4b66-97fb-a386854b7b8f","name":"Markdown"},{"parameters":{"content":"![](https://raw.githubusercontent.com/2innnnn0/assets/refs/heads/master/image/datapopcorn_logo_50px.png)\n# Core Node\n\n## Instructions\n- \"Test Workflow\"를 실행해보세요.\n- 노드를 하나씩 클릭해보면서 노드들의 역할을 이해해봅시다.","height":280,"width":400},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"c448fb03-db50-4075-b1af-a7a110e2dadd","name":"Sticky Note"},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[368,688],"id":"e2c47cdd-a243-4e3b-b405-972a4422916a","name":"Date & Time"},{"parameters":{"content":"날짜 & 시간을 조작하는 노드.\n(현재날짜, 시간계산, 변환, 추출 등)","height":240},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[304,608],"id":"6c8f36b1-d455-4a6e-b121-9e7131dd03c7","name":"Sticky Note23"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"},"id":"becb9a3a-23df-41db-80d8-3f847ec8239f"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ac050954-67f7-4558-a978-c5623f3a695a","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c315396b-64db-4814-8404-7752aa5e537b","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"db888b72-f96c-4eda-8896-fa11bca7ba8c","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"27ff8117-a787-49df-aee7-0cc8e5651899","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1584,688],"id":"bc45a300-775d-424f-ad31-b13ffb7b19b2","name":"Switch"},{"parameters":{"content":"두 개 이상의 조건을 사용할 때(다양한 Branch 설정가능)","height":240},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1520,624],"id":"0f06cc59-69b1-495b-98a2-5d546cf40aa5","name":"Sticky Note24"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Split Out","type":"main","index":0},{"node":"Date & Time","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Crypto","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Summarize","type":"main","index":0},{"node":"If","type":"main","index":0},{"node":"Code","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Extract from File","type":"main","index":0},{"node":"Compression","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Sort","type":"main","index":0},{"node":"Rename Keys","type":"main","index":0}]]},"If":{"main":[[{"node":"Filter","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}]]},"Extract from File":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Compression":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Convert to File","type":"main","index":0},{"node":"XML","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Markdown","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Test workflow’":[{"json":{"data":[{"id":1,"name":"김철수","age":15,"grade":"9학년","subjects":["국어","수학","영어"]},{"id":2,"name":"이영희","age":16,"grade":"10학년","subjects":["사회","과학","미술"]},{"id":3,"name":"박민수","age":14,"grade":"8학년","subjects":["체육","음악","수학"]},{"id":4,"name":"최지우","age":17,"grade":"11학년","subjects":["영어","물리","화학"]},{"id":5,"name":"정하나","age":15,"grade":"9학년","subjects":["역사","지리","컴퓨터"]},{"id":5,"name":"정하나","age":15,"grade":"9학년","subjects":["역사","지리","컴퓨터"]}]}}]},"versionId":"32400021-7d4c-4f64-be52-6d597c387750","triggerCount":0,"shared":[{"createdAt":"2025-06-16T07:00:54.231Z","updatedAt":"2025-06-16T07:00:54.231Z","role":"workflow:owner","workflowId":"43Vy8zn2UXBcHW5s","projectId":"sjNgDrdbhRMMF6SK"}],"tags":[{"createdAt":"2025-06-25T04:00:38.130Z","updatedAt":"2025-09-19T05:46:22.728Z","id":"EyGUZypc5DKHVUyY","name":"패스트캠퍼스_관리자"}]}