workflows/fastcampus.json
{"createdAt":"2025-06-26T09:38:45.357Z","updatedAt":"2025-06-26T10:19:12.179Z","id":"AJnfPZRUdnP5wVZQ","name":"fastcampus","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"![](https://raw.githubusercontent.com/2innnnn0/assets/refs/heads/master/image/datapopcorn_logo_50px.png)\n## 매우 빠른 퀵스타트\n\n이 워크플로는 [very quick quickstart](https://docs.n8n.io//try-it-out/quickstart/) 튜토리얼에 사용되는 불완전한 워크플로입니다.\n\n1. 하단에 Test Workflow를 누릅니다.\n2. 각 노드별로 하나씩 눌러보며 노드의 설정을 살펴보고 Input, Ouput이 어떻게 나왔는지 한번 살펴봅시다.\n3. 본 워크플로우는 고객 데이터스토어 노드에서 데이터를 로드한 다음 필드 편집을 통해 데이터를 변환합니다.","height":331,"width":496},"id":"b42f1898-38f6-4adc-ae0c-bb88d73fed9e","name":"Note","type":"n8n-nodes-base.stickyNote","position":[480,420],"typeVersion":1,"disabled":true},{"parameters":{"content":"**Get fake sample data**","height":220,"width":220},"id":"27126554-11c7-4353-831c-23b533727bda","name":"Note1","type":"n8n-nodes-base.stickyNote","position":[760,780],"typeVersion":1},{"parameters":{"content":"**Extract data and prepare it for use in the next node**","height":220,"width":200},"id":"c564b666-f374-4064-95bd-b5aa4a68d6fb","name":"Note2","type":"n8n-nodes-base.stickyNote","position":[1000,780],"typeVersion":1},{"parameters":{},"id":"8bbd2536-15f6-4b4b-80c6-4cdda9b9043b","name":"When clicking \"Test Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[1620,1080],"typeVersion":1,"disabled":true},{"parameters":{"customerId":"={{ $json.customer_id }}","message":"=Hi {{$json.customer_name}},  Your description is {{$json.customer_description}}"},"id":"abf4a08a-77ab-4111-a192-fea345a097e1","name":"Customer Messenger (n8n training)","type":"n8n-nodes-base.n8nTrainingCustomerMessenger","typeVersion":1,"position":[1260,840]},{"parameters":{"operation":"getAllPeople","returnAll":true},"id":"c5002636-0728-4f42-91fd-62eb1d2ffd36","name":"Customer Datastore (1st)","type":"n8n-nodes-base.n8nTrainingCustomerDatastore","position":[840,840],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"df041e3c-fc09-4ba2-8e6b-37f2c6a02526","name":"customer_id","type":"number","value":"={{ $json.id }}"},{"id":"bf288953-4fef-4f55-a45f-c223714919c0","name":"customer_name","type":"string","value":"={{ $json.name }}"},{"id":"1cff0b21-6740-4697-9d2c-9bcb045af0be","name":"customer_description","type":"string","value":"={{ $json.notes }}"},{"id":"e1908d93-c750-4e9f-abfc-bc572755ea1b","name":"customer_country","value":"={{ $json.country }}","type":"string"}]},"options":{}},"id":"1a787940-8cac-4aab-be00-5f835307ca94","name":"Edit Fields","type":"n8n-nodes-base.set","position":[1060,840],"typeVersion":3.3},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1480,640],"id":"81ea13c8-f2b2-4967-82c4-da995ec13682","name":"Schedule Trigger","disabled":true},{"parameters":{"path":"c72429cb-1ee5-4cae-a66a-a8f808ff0749","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1480,460],"id":"7b33fb0e-8c0f-4b50-9dd9-4c87483d7a55","name":"Webhook","webhookId":"c72429cb-1ee5-4cae-a66a-a8f808ff0749","disabled":true},{"parameters":{"formTitle":"Survey","formDescription":"Hello","formFields":{"values":[{"fieldLabel":"Name","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[1740,460],"id":"d6096d23-ccf9-4c6e-a681-602d96cc2b2b","name":"On form submission","webhookId":"d66ce60b-6248-4ea2-820a-0c778f0aeb4a","disabled":true},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[640,840],"id":"71ce916e-adc4-437e-a363-63ea7b6463d1","name":"When Executed by Another Workflow","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"AJnfPZRUdnP5wVZQ","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[740,1040],"id":"c2eeaa58-b59d-40be-a416-51bceb324d7c","name":"Execute Workflow","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1900,580],"id":"04993468-fb4e-4f18-ac7a-00b2f5375c14","name":"No Operation, do nothing","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[1700,860],"id":"1010211a-c89a-4d29-adfe-1fb2ae08de6c","name":"When chat message received","webhookId":"e5b952e4-1059-4b8a-bacf-b18a3489bb31"},{"parameters":{"options":{"systemMessage":"You are a helpful assistant"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1920,860],"id":"0886ca17-b336-45c6-b941-478195354cea","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1860,1080],"id":"b2451929-7baa-4716-a05b-806954c2bedc","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"Iy8nJTvO4bCB8mYA","name":"OpenAi account"}}}],"connections":{"When clicking \"Test Workflow\"":{"main":[[]]},"Customer Datastore (1st)":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Customer Messenger (n8n training)","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Customer Datastore (1st)","type":"main","index":0}]]},"Execute Workflow":{"main":[[]]},"No Operation, do nothing":{"main":[[]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dd9e27e0-1b2d-4c3e-a48f-6e2f3f36ea9d","triggerCount":2,"shared":[{"createdAt":"2025-06-26T09:38:45.357Z","updatedAt":"2025-06-26T09:38:45.357Z","role":"workflow:owner","workflowId":"AJnfPZRUdnP5wVZQ","projectId":"sjNgDrdbhRMMF6SK"}],"tags":[{"createdAt":"2025-06-25T04:00:38.130Z","updatedAt":"2025-06-25T04:00:38.130Z","id":"EyGUZypc5DKHVUyY","name":"패스트캠퍼스"}]}