workflows/localfile-upload-via-telegram.json
{"createdAt":"2025-06-23T09:17:54.994Z","updatedAt":"2025-08-25T00:13:04.898Z","id":"vsi2eyqfAMIMFVg2","name":"LocalFile Upload via Telegram","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-160,220],"id":"f47af648-4631-4afb-8641-e73887444f53","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[500,120],"id":"8f18bfbc-39e7-40ee-90fd-e86606a79bd4","name":"Read/Write Files from Disk","disabled":true},{"parameters":{"url":"https://n8n.io/n8n-logo.png","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,220],"id":"d7effa45-5bee-4287-a129-586a3eefdb2f","name":"HTTP Request1","disabled":true},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"bfcda513-7e91-4a78-8e10-0079bdea6eb5","name":"Listen for incoming events","type":"n8n-nodes-base.telegramTrigger","position":[-140,420],"webhookId":"322dce18-f93e-4f86-b9b1-3305519b7834","typeVersion":1,"credentials":{"telegramApi":{"id":"9auPNi1bb9FBoAuM","name":"Telegram account"}}},{"parameters":{"resource":"file","fileId":"={{ $('Listen for incoming events').item.json.message.voice.file_id }}"},"id":"b6a0d1cd-bc35-4a8e-a4ef-a69befae53b5","name":"Get Voice File","type":"n8n-nodes-base.telegram","position":[100,420],"typeVersion":1.1,"webhookId":"7dab401a-fd4d-48a8-9846-67477be3c1a7","credentials":{"telegramApi":{"id":"9auPNi1bb9FBoAuM","name":"Telegram account"}}},{"parameters":{"content":"참고 \nhttps://datapopcorn.win/workflow/hy8cYUNtaLF9u4Kq"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-200,580],"id":"8e7dc43b-f0ed-4320-83ea-ef3db088e043","name":"Sticky Note"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[]]},"Listen for incoming events":{"main":[[{"node":"Get Voice File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ab907aa4-c26f-4203-a460-4623dfa09a76","triggerCount":1,"shared":[{"createdAt":"2025-06-23T09:17:54.994Z","updatedAt":"2025-06-23T09:17:54.994Z","role":"workflow:owner","workflowId":"vsi2eyqfAMIMFVg2","projectId":"sjNgDrdbhRMMF6SK"}],"tags":[{"createdAt":"2025-06-25T04:00:38.130Z","updatedAt":"2025-06-25T04:00:38.130Z","id":"EyGUZypc5DKHVUyY","name":"패스트캠퍼스"}]}