workflows/very-quick-quickstart.json
{"createdAt":"2024-10-21T12:37:40.240Z","updatedAt":"2025-09-22T01:32:22.815Z","id":"XsJ9xbAPiuPOUP8A","name":"very quick quickstart","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## 매우 빠른 퀵스타트\n\n이 워크플로는 [very quick quickstart](https://docs.n8n.io//try-it-out/quickstart/) 튜토리얼에 사용되는 불완전한 워크플로입니다.\n\n1. 하단에 Test Workflow를 누릅니다.\n2. 각 노드별로 하나씩 눌러보며 노드의 설정을 살펴보고 Input, Ouput이 어떻게 나왔는지 한번 살펴봅시다.\n3. 본 워크플로우는 고객 데이터스토어 노드에서 데이터를 로드한 다음 필드 편집을 통해 데이터를 변환합니다.","height":251.41190829904593,"width":495.8703809326191},"id":"27d001a7-d117-46f3-b2eb-1294d092fc48","name":"Note","type":"n8n-nodes-base.stickyNote","position":[1344,208],"typeVersion":1},{"parameters":{"content":"**Get fake sample data**","height":220,"width":220},"id":"57970d36-0186-4202-ae99-37210ded0980","name":"Note1","type":"n8n-nodes-base.stickyNote","position":[1632,528],"typeVersion":1},{"parameters":{"content":"**Extract data and prepare it for use in the next node**","height":220,"width":200},"id":"e54e0d27-6c6c-4fef-aca5-1d5783259573","name":"Note2","type":"n8n-nodes-base.stickyNote","position":[1856,528],"typeVersion":1},{"parameters":{},"id":"d8f49f1b-84b9-429b-87b9-9ad4d933003a","name":"When clicking \"Test Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[1472,592],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"99c2ae3e-f0c0-4e5c-813a-18075fea5a06","name":"id","value":"={{ $json.id }}","type":"number"},{"id":"32405df7-1b52-4b85-be9d-c1ee25aa1f48","name":"country_lowercase","value":"={{ $json.country.toLowerCase() }}","type":"string"},{"id":"4056dbba-3039-4a76-ae1d-a1050e27b2ae","name":"now","value":"={{ $today.format('yyyy-MM-dd') }}","type":"string"},{"id":"87dd6fa8-43db-43ab-b8cb-743d55b9e2e0","name":"email_split","value":"={{ $json.email.split('@') }}","type":"array"},{"id":"2a9e0747-f340-4c09-b92a-959fc38c2b04","name":"empty_country","value":"={{ $json.country || 'KR' }}","type":"string"},{"id":"26358a83-873f-4702-9304-6126a99c0b3f","name":"notes_length","value":"={{ $json.notes.length > 25 ? 'long' : 'short' }}","type":"string"},{"id":"6c19fb29-af49-46c1-b691-74e9933d7217","name":"notes_green_to_red","value":"={{ $json.notes.replaceAll('green', 'red') }}","type":"string"},{"id":"9f8606ed-7d19-4c0d-b391-38c5f5cf2315","name":"created_diff_now","value":"={{ $json.created.toDateTime().diffTo($now, 'year').abs().round(1) }}","type":"number"}]},"options":{}},"id":"decd39cc-a8ca-4dc5-bba3-4bf308c3c881","name":"Edit Fields1","type":"n8n-nodes-base.set","position":[1904,592],"typeVersion":3.3},{"parameters":{"customerId":"={{ $json.customer_id }}","message":"=Hi {{$json.customer_name}},  Your description is {{$json.customer_description}}"},"id":"d6234a18-a9f1-4760-8cd2-85213a1e9e69","name":"Customer Messenger (n8n training)","type":"n8n-nodes-base.n8nTrainingCustomerMessenger","typeVersion":1,"position":[2128,592]},{"parameters":{"operation":"getAllPeople","returnAll":true},"id":"8629cd49-9c9d-4ec9-96a9-8a3447c98b1b","name":"Customer Datastore (1st)","type":"n8n-nodes-base.n8nTrainingCustomerDatastore","position":[1680,592],"typeVersion":1}],"connections":{"When clicking \"Test Workflow\"":{"main":[[{"node":"Customer Datastore (1st)","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Customer Messenger (n8n training)","type":"main","index":0}]]},"Customer Datastore (1st)":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Customer Messenger (n8n training)":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"886078b2-166e-46d9-92ed-e0c365837000","triggerCount":0,"shared":[{"createdAt":"2025-05-19T06:50:02.563Z","updatedAt":"2025-05-19T06:50:02.563Z","role":"workflow:owner","workflowId":"XsJ9xbAPiuPOUP8A","projectId":"sjNgDrdbhRMMF6SK"}],"tags":[{"createdAt":"2025-06-25T04:00:38.130Z","updatedAt":"2025-09-19T05:46:22.728Z","id":"EyGUZypc5DKHVUyY","name":"패스트캠퍼스_관리자"}]}