workflows/소셜-미디어:-유튜브-인기-콘텐츠-트렌드-분석-자동화.json
{"createdAt":"2025-09-03T02:28:43.106Z","updatedAt":"2025-09-04T09:39:06.307Z","id":"lQePODOcVQqRUOBM","name":"소셜 미디어: 유튜브 인기 콘텐츠 트렌드 분석 자동화","active":false,"isArchived":false,"nodes":[{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-5200,1280],"id":"bc7980d2-1384-4abd-9ecf-b14e481cdbd8","name":"Aggregate1"},{"parameters":{"assignments":{"assignments":[{"id":"8c378ca1-870a-460f-8bef-e258ec539ef4","name":"url","value":"={{ $json.id }}","type":"string"},{"id":"0679c64a-12f1-4135-9a05-1a5d09007d74","name":"publishedAt","value":"={{ $json.publishedAt }}","type":"string"},{"id":"fa80eac3-a0af-4b47-936c-254bb5220662","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"7c7f6f5a-42d6-48f6-a1d1-1b22a700c393","name":"description","value":"={{ $json.description }}","type":"string"},{"id":"0fbe4d47-5298-44d3-a2c8-65b2ef9a7b8d","name":"duration","value":"={{ $json.duration }}","type":"number"},{"id":"fc143482-379f-48b0-914f-fd2c87e65c53","name":"viewCount","value":"={{ $json.viewCount }}","type":"number"},{"id":"d91a4c75-7720-4b46-bbbf-5b2db4646135","name":"likeCount","value":"={{ $json.likeCount }}","type":"number"},{"id":"2a5a85a8-52fe-4927-a125-695b03256f73","name":"commentCount","value":"={{ $json.commentCount }}","type":"number"},{"id":"4a2929db-16bc-4099-9706-0189338f5e82","name":"engagement_ratio","value":"={{ $json.engagement_ratio }}","type":"number"},{"id":"0b38a027-af48-49b9-8742-ef652e7ff15a","name":"commentToViewRatio","value":"={{ $json.commentToViewRatio }}","type":"number"},{"id":"603591c6-0b6d-40ad-ae81-0e2c4d14ca3a","name":"likesPerView","value":"={{ $json.likesPerView }}","type":"number"},{"id":"2564393a-5e51-41c2-8df3-91b3f3a82ea5","name":"commentsPerView","value":"={{ $json.commentsPerView }}","type":"number"},{"id":"5bf83817-ed1e-4aa0-b853-601139402da5","name":"interactionToViewRate","value":"={{ $json.interactionToViewRate }}","type":"number"},{"id":"11465530-1832-4561-b2d0-b68ad76a642d","name":"interactionToLikeRatio","value":"={{ $json.interactionToLikeRatio }}","type":"number"},{"id":"fc7b962f-ed1a-431f-a06c-bc42d7f62fa9","name":"channel_total_viewCount","value":"={{ $json.total_viewCount }}","type":"number"},{"id":"2d48fce1-e734-449a-ad41-a84fb1d96154","name":"channel_subscriberCount","value":"={{ $json.subscriberCount }}","type":"string"},{"id":"790fff48-d81d-4c29-ad73-834ad4986b5e","name":"channel_total_videoCount","value":"={{ $json.videoCount }}","type":"number"},{"id":"257011d7-c536-4781-8759-d3bc95c2e8d4","name":"keywords","value":"={{ $json.keywords }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5424,1280],"id":"92a932b5-f1a9-4855-ab2e-0ade27935187","name":"Edit Fields"},{"parameters":{"jsonSchemaExample":"{\n  \"high_performance_segments\": [\n    {\n      \"date\": \"string\",\n      \"age\": \"string\",\n      \"device\": \"string\",\n      \"audience_type\": \"string\",\n      \"creative_type\": \"string\",\n      \"CTR\": \"float\",\n      \"CPC\": \"float\",\n      \"CVR\": \"float\"\n    }\n  ],\n  \"low_performance_segments\": [\n    {\n      \"date\": \"string\",\n      \"age\": \"string\",\n      \"device\": \"string\",\n      \"audience_type\": \"string\",\n      \"creative_type\": \"string\",\n      \"CTR\": \"float\",\n      \"CPC\": \"float\",\n      \"CVR\": \"float\"\n    }\n  ],\n  \"insights\": [\n    {\n      \"summary\": \"string\",\n      \"evidence\": \"string\"\n    }\n  ],\n  \"recommendations\": {\n    \"budget_focus_segments\": [\n      {\n        \"date\": \"string\",\n        \"age\": \"string\",\n        \"device\": \"string\",\n        \"audience_type\": \"string\",\n        \"creative_type\": \"string\"\n      }\n    ],\n    \"segments_to_pause_or_optimize\": [\n      {\n        \"date\": \"string\",\n        \"age\": \"string\",\n        \"device\": \"string\",\n        \"audience_type\": \"string\",\n        \"creative_type\": \"string\",\n        \"reason\": \"string\"\n      }\n    ]\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-4736,1472],"id":"33be7ee9-0b17-48a6-97ab-2d311cf77acf","name":"Structured Output Parser"},{"parameters":{"content":"## TASK\n- AI Agent","height":440,"width":400,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4992,1152],"id":"3e86acf5-c29e-4223-9342-880e413ea930","name":"Sticky Note3"},{"parameters":{"content":"## TASK\n- 데이터불러오기 & 전처리","height":296,"width":672,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5696,1152],"id":"f3879e4e-3c2b-4db2-bf0a-10118e514f6f","name":"Sticky Note2"},{"parameters":{"content":"## TRIGGER","height":300,"width":220},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5936,1152],"id":"9d6aba4a-c7ad-4702-af9a-4d188ccebda2","name":"Sticky Note1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-4976,1472],"id":"c5fc4878-763c-4e93-8e6c-c5b97e1c08d5","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"ledUugAWoH4Uadky","name":"(fastcampus)OpenAi account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1lwjQf8Hiyxh-QuauJKAtGYIJ1ZLGjWnnDK2ie5nfkRo","mode":"list","cachedResultName":"유튜브 인기동영상 분석기","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lwjQf8Hiyxh-QuauJKAtGYIJ1ZLGjWnnDK2ie5nfkRo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lwjQf8Hiyxh-QuauJKAtGYIJ1ZLGjWnnDK2ie5nfkRo/edit#gid=0"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRange","firstDataRow":3}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-5648,1280],"id":"96a33b19-1f95-4fc1-aa63-e398ac985bf1","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"91ar5Cg6JmPJpWXZ","name":"(DP) Google Sheets account"}}},{"parameters":{"content":"![](https://raw.githubusercontent.com/2innnnn0/assets/refs/heads/master/image/datapopcorn_logo_50px.png)\n# 소셜 미디어: 유튜브 인기 콘텐츠 트렌드 분석 자동화\n\n\"(수집)\n유튜브 트렌드 데이터 주기적 수집 (#27 또는 API 사용 가능)\n채널명, 조회수, 구독자 수, 게시일, 수집일 확보\n\n(전처리)\n조회수 / 구독자 수 → 숫자형으로 변환 (1.3M → 1300000)\n게시일 x days ago → 실제 날짜 계산 (Claude 사용 가능)\n채널별 컨텐츠 묶음 정리\n\n(분석)\n인기 급상승 콘텐츠 추출 (최근 업로드 대비 조회수 비율)\n채널별 평균 조회수 vs 최고 조회수 비교\n콘텐츠 제목 분석 (Claude 활용: 주제/톤/포맷 분류)\n\n(시각화)\nTop 콘텐츠 순위 차트 (조회수 기준)\n주간 트렌드 요약문 생성 및 Slack 전송\"","height":512,"width":792},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5936,624],"id":"bca2a41d-fcea-475b-87a2-bba88705c682","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-5872,1280],"id":"eaf3d925-e3f5-4e55-a0ea-111a563434a0","name":"When clicking ‘Execute workflow’"},{"parameters":{"content":"## SYSTEM MESSGAGE GUIDE\n\n#### 사용 목적\n다음 용도를 위해, n8n에서 바로 사용할 수 있는 완전하고 독립적인 에이전트 프롬프트를 만들어라:\n1. [ TRIGGER -> TASK -> TARGET 으로 정리된 내용 입력하기 ]\n2. 데이터 구조 예시 넣어주기\n\n⸻\n#### 프롬프트에 반드시 포함해야 할 섹션\n텍스트 그대로 아래 항목들을 포함해야 한다:\n\t1.\tRole (역할) – 에이전트가 누구이며 어떤 역할을 하는지.\n\t2.\tInputs (입력) – 사용자가 제공하는 필드.\n\t3.\tTask (작업) – 에이전트가 수행하는 단계별 절차.\n\t4.\tOutput (출력) – 최종 산출물의 구체적인 설명 (톤, 구조 포함).\n\t5.\tConstraints (제약조건) – 규칙과 제한사항.\n\t6.\tCapabilities & Reminders (능력과 주의사항) – 도구, 기술, 품질 관련 팁.","height":432,"width":672,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4992,704],"id":"4d834f95-a27c-4b98-9b19-a2234e43b199","name":"Sticky Note4"},{"parameters":{"promptType":"define","text":"={{ $json.data }}","hasOutputParser":true,"options":{"systemMessage":"=Role:\n당신은 데이터 자동화 및 분석 전문가 에이전트입니다.  \nYouTube 트렌드 데이터를 주기적으로 수집하고, 전처리 및 분석 후 시각화/리포트를 자동으로 생성해 Slack 등으로 전달하는 역할을 맡습니다.  \n\nInputs:\n1. 유튜브 API/스크레이퍼에서 수집한 트렌드 데이터 (채널명, 조회수, 구독자 수, 게시일, 수집일)\n2. 분석 기간 설정 값 (예: 최근 7일)\n3. Slack Webhook URL\n4. 데이터 저장소 연결 정보 (옵션: Supabase, Google Sheets 등)\n\nTask:\n1. 데이터 수집\n   - YouTube API 또는 스크레이퍼(#27 등)를 활용해 인기 콘텐츠 데이터를 주기적으로 수집\n   - 필드: 채널명, 조회수, 구독자 수, 게시일, 수집일\n2. 데이터 전처리\n   - 조회수/구독자 수 단위를 숫자형으로 변환 (예: 1.3M → 1,300,000)\n   - \"x days ago\" 형식을 실제 날짜로 변환\n   - 채널별 콘텐츠 묶음으로 정리\n3. 데이터 분석\n   - 최근 업로드 대비 조회수 비율을 기반으로 인기 급상승 콘텐츠 선별\n   - 채널별 평균 조회수 vs 최고 조회수 비교\n   - Claude 또는 LLM을 활용해 콘텐츠 제목 주제/톤/포맷 분석\n4. 시각화 생성\n   - 조회수 기준 Top 콘텐츠 차트 제작\n   - 주간 트렌드 요약 텍스트 생성\n5. 결과 전송\n   - 분석 결과를 Slack 메시지 또는 이메일로 자동 발송\n\nOutput:\n- Slack 또는 이메일로 전달되는 분석 리포트\n  - 📊 Top 5~10 인기 콘텐츠 차트 이미지\n  - 📝 주간 트렌드 핵심 요약문\n  - 📈 채널별 성과 비교 테이블\n- 톤: 전문가 보고서 스타일, 핵심 포인트 중심, 읽기 쉬운 간결한 문장\n- 구조: \"요약 → 인사이트 → 데이터 차트 → 제안\" 순서\n\nConstraints:\n- 모든 JSON, 차트, 메시지는 n8n에서 직접 파싱 가능하도록 완전한 JSON 구조 유지\n- 데이터는 중복 없이 누적 저장 (Upsert 방식)\n- API Rate Limit 고려하여 요청 주기 및 배치 처리 설정\n- AI 분석 결과는 주제/톤 분류만 요약, 원문 텍스트는 그대로 보존\n\nCapabilities & Reminders:\n- YouTube API, Supabase, Google Sheets, Slack API, Chart.js 활용\n- Claude 또는 GPT 계열 모델로 텍스트 분석\n- 데이터 파이프라인 자동화: CRON Trigger → 데이터 수집 → 전처리 → 분석 → 시각화 → 전송\n- 오류 발생 시 알림을 별도 채널로 전송\n- n8n Expression 사용 시, 한국 시간대(KST) 기반으로 DATE 변환"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-4928,1280],"id":"e093b421-27be-4525-93ff-78e1dd035cf0","name":"Youtube Analysis AI Agent"}],"connections":{"Aggregate1":{"main":[[{"node":"Youtube Analysis AI Agent","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Youtube Analysis AI Agent","type":"ai_languageModel","index":0}]]},"Google Sheets":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Youtube Analysis AI Agent":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7a5ca58d-95e4-4bff-b4de-69f244c694fd","triggerCount":0,"shared":[{"createdAt":"2025-09-03T02:28:43.106Z","updatedAt":"2025-09-03T02:28:43.106Z","role":"workflow:owner","workflowId":"lQePODOcVQqRUOBM","projectId":"sjNgDrdbhRMMF6SK"}],"tags":[{"createdAt":"2025-06-25T04:00:38.130Z","updatedAt":"2025-06-25T04:00:38.130Z","id":"EyGUZypc5DKHVUyY","name":"패스트캠퍼스"}]}