workflows/입사자-알림.json
{"createdAt":"2025-09-17T12:41:21.865Z","updatedAt":"2025-09-18T02:35:47.751Z","id":"gKRy40GMryP9Q7QS","name":"HR 알림봇 - 생일/입사자 알림","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-640,336],"id":"c1997435-3e3b-4888-bda6-f391672fe8b2","name":"Every 9am"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"birthday-condition","leftValue":"={{ $json.birthday }}","rightValue":"={{ $now.format('yyyy-MM-dd') }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-birthday","name":"Check Birthday","type":"n8n-nodes-base.if","typeVersion":2,"position":[-192,240]},{"parameters":{"resource":"user","operation":"getAll"},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-1120,432],"id":"13c39ec1-d2c3-4edb-8f64-22866fdd76a7","name":"Get many users","webhookId":"e73b374d-43cc-4c2c-88a4-02308c7fe317","credentials":{"slackApi":{"id":"WZW1Kqym7BnJSCSZ","name":"(n8n-agent-bot) Slack account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a9620fd9-3796-47cf-aa31-c6477e5c1c95","name":"name","value":"={{ $json.name }}","type":"string"},{"id":"e95e4eb5-e796-49b9-a360-471a19488430","name":"updated","value":"={{ $json.updated.toDateTime('s') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-896,432],"id":"ff896d33-65ba-4043-8631-76248b09fe65","name":"Edit Fields","onError":"continueRegularOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1WunV0GNEGekgvhrx-yshmb7kujWdTE6silP0mWpucko","mode":"list","cachedResultName":"[HR] Slack HBD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WunV0GNEGekgvhrx-yshmb7kujWdTE6silP0mWpucko/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"users","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WunV0GNEGekgvhrx-yshmb7kujWdTE6silP0mWpucko/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-416,336],"id":"e4f91074-db5e-4256-a28b-6a8642dd3603","name":"Get Employee","credentials":{"googleSheetsOAuth2Api":{"id":"91ar5Cg6JmPJpWXZ","name":"(DP) Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"vacation-condition","leftValue":"={{ $json.joined_date }}","rightValue":"={{ $now.format('yyyy-MM-dd')}}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-vacation","name":"Check Joined","type":"n8n-nodes-base.if","typeVersion":2,"position":[-192,432]},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C07PH5BRN1X","mode":"list","cachedResultName":"automation-n8n"},"messageType":"block","blocksUi":"={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"[{{ $now.format('yyyy-MM-dd') }}] 생일자 🎉\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"오늘은 *<@{{ $json.userid }}>* 님의 생일입니다! 🎂\\n생일 축하드립니다! 🎈\"\n      }\n    },\n    {\n      \"type\": \"image\",\n      \"image_url\": \"https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExdjNlcXByMGxvMzY2ZmE3aDlkZW9ubGFjejVqejE3N29jcm5hNmh6cSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/cNTixPR4FC4zNe4fkC/giphy.gif\",\n      \"alt_text\": \"생일 축하 GIF\"\n    }\n  ]\n}","text":"=???","otherOptions":{}},"id":"slack-birthday","name":"Send HBD Message","type":"n8n-nodes-base.slack","typeVersion":2,"position":[32,240],"webhookId":"e6c6ab64-ebcc-4b91-9fa7-88a912b0c168","credentials":{"slackApi":{"id":"WZW1Kqym7BnJSCSZ","name":"(n8n-agent-bot) Slack account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C07PH5BRN1X","mode":"list","cachedResultName":"automation-n8n"},"messageType":"block","blocksUi":"={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"[{{ $now.format('yyyy-MM-dd') }}] 입사 1주년 축하 🎉\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"오늘은 <@{{ $json.userid }}> 님의 첫 출근일입니다! ✨\\n함께하게 되어 기쁩니다. 환영합니다! 🎊\"\n      }\n    },\n    {\n      \"type\": \"image\",\n      \"image_url\": \"https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExcjlxaTBueHo0eXcxMm95ZXJiemQ1NWM0YXd0enI0MjU3ajNpNms5ZyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/kyLYXonQYYfwYDIeZl/giphy.gif\",\n      \"alt_text\": \"입사 축하 GIF\"\n    }\n  ]\n}","text":"=???","otherOptions":{}},"id":"d590970f-ef1d-4f7b-92e2-a9702d0d0dc6","name":"Send Anniversary","type":"n8n-nodes-base.slack","typeVersion":2,"position":[32,432],"webhookId":"e6c6ab64-ebcc-4b91-9fa7-88a912b0c168","credentials":{"slackApi":{"id":"WZW1Kqym7BnJSCSZ","name":"(n8n-agent-bot) Slack account"}}},{"parameters":{"trigger":["reaction_added"],"watchWorkspace":true,"options":{}},"type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[-640,848],"id":"cfba5844-aafe-420e-845d-8f7ce38f6efa","name":"Slack Trigger","webhookId":"777e27ed-4c2c-4641-b1f7-71702b7c3fd5","credentials":{"slackApi":{"id":"7WvwDwnoeTvjfaig","name":"slack-bot"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.reaction }}","rightValue":"white_check_mark","operator":{"type":"string","operation":"equals"},"id":"ddd97977-1671-4eb9-9fd1-6fb18241e500"}],"combinator":"and"},"renameOutput":true,"outputKey":"white_check_mark"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5ef20bc-3ca5-4fd0-b8db-6b03992c470e","leftValue":"={{ $json.reaction }}","rightValue":"+1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"thumbs_up"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3f48ee6b-d66e-4032-b586-d378b1b33bbb","leftValue":"={{ $json.reaction }}","rightValue":"hearts","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"hearts"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-416,832],"id":"85b25433-5f67-42bf-8dbc-009991b1822c","name":"Switch Emoji"},{"parameters":{"content":"![](https://raw.githubusercontent.com/2innnnn0/assets/refs/heads/master/image/datapopcorn_logo_50px.png)\n# Slack 생일/입사자 알림","height":208,"width":464},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1184,240],"id":"d8234a6f-03fd-49ad-906f-12ff048f63f2","name":"Sticky Note"},{"parameters":{"content":"# Slack Reaction Trigger\n- (사전필요)Slack API 및 Slack Bot 발급 필요\n- 이모지에 따라 다른 반응을 만든 워크플로우\n- 응용하다면, 임직원들의 반응에 따라 다른 흐름을 만들 수 있음.\n예) 체크표시를 하면 동의한 인원으로 체크하고 메일발송.","height":240,"width":480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1184,688],"id":"07c4754b-8b80-4366-bfe7-ef3a5be411cd","name":"Sticky Note1"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C07PH5BRN1X","mode":"list","cachedResultName":"automation-n8n"},"messageType":"attachment","attachments":[{"image_url":"https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYTlmbjZuOThpMzZqYTByaG9hbjVncGo1ZjZ2Znc0czh3ejR0a3RxayZlcD12MV9naWZzX3NlYXJjaCZjdD1n/KbvZsN07K9Hy9ZoyR7/giphy.gif","fallback":"고마워요!","text":"Text","title":"Title","title_link":"https://n8n.datapopcorn.xyz/","color":"#ff0000","footer":"footer","ts":0,"pretext":"pretext","author_name":"n8n Bot","thumb_url":"https://raw.githubusercontent.com/2innnnn0/assets/refs/heads/master/image/datapopcorn_logo_50px.png","footer_icon":"hearts","fields":{"item":[{"title":"gg","value":"gg","short":true}]},"author_icon":"hearts"}],"otherOptions":{"includeLinkToWorkflow":true,"thread_ts":{"replyValues":{"thread_ts":"={{ $json.item.ts }}"}}}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-192,656],"id":"c2a6063b-8d03-48e1-8b62-d4f481945e3d","name":"Check emoji","webhookId":"2ae80a17-8333-4747-b179-749677fdd752","credentials":{"slackApi":{"id":"WZW1Kqym7BnJSCSZ","name":"(n8n-agent-bot) Slack account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C07PH5BRN1X","mode":"list","cachedResultName":"automation-n8n"},"messageType":"attachment","attachments":[{"image_url":"https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExeWJjeWdhOGwwczJ0dmthdmRpdWxueWI0bDQ4ZmJpMHU2cWFpaDI4dyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/09JvyACwWFrbUyz3qA/giphy.gif","fallback":"thumbs-up","title_link":"https://n8n.datapopcorn.xyz/","color":"#ff0000","text":"Thumbs-up"}],"otherOptions":{"includeLinkToWorkflow":true,"thread_ts":{"replyValues":{"thread_ts":"={{ $json.item.ts }}"}}}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-192,848],"id":"ab234f1f-7a68-4b11-9928-d229ec2f1cb4","name":"Thumbs-up emoji","webhookId":"2ae80a17-8333-4747-b179-749677fdd752","credentials":{"slackApi":{"id":"WZW1Kqym7BnJSCSZ","name":"(n8n-agent-bot) Slack account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C07PH5BRN1X","mode":"list","cachedResultName":"automation-n8n"},"messageType":"attachment","attachments":[{"image_url":"https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNHdhZDBhZGI1c2ZnMDRramM1ZTc5YXFobHA4b2ppZHNma2tmeWV3NyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/tpVKvAabWt3G5csMkT/giphy.gif","fallback":"고마워요!","text":"Text","title":"Title","title_link":"https://n8n.datapopcorn.xyz/","color":"#ff0000","footer":"footer","ts":0,"pretext":"pretext","author_name":"n8n Bot","thumb_url":"https://raw.githubusercontent.com/2innnnn0/assets/refs/heads/master/image/datapopcorn_logo_50px.png","footer_icon":"hearts","fields":{"item":[{"title":"gg","value":"gg","short":true}]},"author_icon":"hearts"}],"otherOptions":{"includeLinkToWorkflow":true,"thread_ts":{"replyValues":{"thread_ts":"={{ $json.item.ts }}"}}}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-192,1040],"id":"4926dd84-82c7-41bd-a411-a754d1185eac","name":"Hearts emoji","webhookId":"2ae80a17-8333-4747-b179-749677fdd752","credentials":{"slackApi":{"id":"WZW1Kqym7BnJSCSZ","name":"(n8n-agent-bot) Slack account"}}},{"parameters":{"content":"## Trigger\n- 매일 아침 9시","height":224,"width":224,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-704,240],"id":"00ff27aa-1823-443d-9177-39916ededf7a","name":"Sticky Note3"},{"parameters":{"content":"## Task\n- 임직원들의 생일/기념일을 불러오기.\n- 조건에 맞는 경우 진행. 아니면 종료","height":368,"width":416,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-464,192],"id":"b5214945-82b6-44f5-a87a-cb8c16bc1093","name":"Sticky Note4"},{"parameters":{"content":"## Target\n- 메시지 발송","height":432,"width":272,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-32,144],"id":"ea418f0f-553a-4452-b602-49ede0bf77a9","name":"Sticky Note5"}],"connections":{"Every 9am":{"main":[[{"node":"Get Employee","type":"main","index":0}]]},"Check Birthday":{"main":[[{"node":"Send HBD Message","type":"main","index":0}]]},"Get many users":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Check Joined":{"main":[[{"node":"Send Anniversary","type":"main","index":0}]]},"Get Employee":{"main":[[{"node":"Check Birthday","type":"main","index":0},{"node":"Check Joined","type":"main","index":0}]]},"Slack Trigger":{"main":[[{"node":"Switch Emoji","type":"main","index":0}]]},"Switch Emoji":{"main":[[{"node":"Check emoji","type":"main","index":0}],[{"node":"Thumbs-up emoji","type":"main","index":0}],[{"node":"Hearts emoji","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Every 9am":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Get many users":[{"json":{"id":"USLACKBOT","name":"slackbot","is_bot":false,"updated":0,"is_app_user":false,"team_id":"T42C9CN8G","deleted":false,"color":"757575","is_email_confirmed":false,"real_name":"Slackbot","tz":"America/Los_Angeles","tz_label":"Pacific Daylight Time","tz_offset":-25200,"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"who_can_share_contact_card":"EVERYONE","profile":{"real_name":"Slackbot","display_name":"Slackbot","avatar_hash":"sv41d8cd98f0","real_name_normalized":"Slackbot","display_name_normalized":"Slackbot","image_24":"https://a.slack-edge.com/80588/img/slackbot_24.png","image_32":"https://a.slack-edge.com/80588/img/slackbot_32.png","image_48":"https://a.slack-edge.com/80588/img/slackbot_48.png","image_72":"https://a.slack-edge.com/80588/img/slackbot_72.png","image_192":"https://a.slack-edge.com/80588/marketing/img/avatars/slackbot/avatar-slackbot.png","image_512":"https://a.slack-edge.com/80588/img/slackbot_512.png","first_name":"slackbot","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","fields":{},"status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"always_active":true}}},{"json":{"id":"U42D3C69F","name":"newturn_ceo","is_bot":false,"updated":1754224641,"is_app_user":false,"team_id":"T42C9CN8G","deleted":false,"color":"9f69e7","is_email_confirmed":true,"real_name":"Nathan","tz":"Asia/Seoul","tz_label":"Korea Standard Time","tz_offset":32400,"is_admin":true,"is_owner":true,"is_primary_owner":true,"is_restricted":false,"is_ultra_restricted":false,"who_can_share_contact_card":"EVERYONE","profile":{"real_name":"Nathan","display_name":"DataPopcorn","avatar_hash":"e77cad34d761","real_name_normalized":"Nathan","display_name_normalized":"DataPopcorn","image_24":"https://avatars.slack-edge.com/2025-06-05/8996092093974_e77cad34d76142e67bb6_24.png","image_32":"https://avatars.slack-edge.com/2025-06-05/8996092093974_e77cad34d76142e67bb6_32.png","image_48":"https://avatars.slack-edge.com/2025-06-05/8996092093974_e77cad34d76142e67bb6_48.png","image_72":"https://avatars.slack-edge.com/2025-06-05/8996092093974_e77cad34d76142e67bb6_72.png","image_192":"https://avatars.slack-edge.com/2025-06-05/8996092093974_e77cad34d76142e67bb6_192.png","image_512":"https://avatars.slack-edge.com/2025-06-05/8996092093974_e77cad34d76142e67bb6_512.png","image_1024":"https://avatars.slack-edge.com/2025-06-05/8996092093974_e77cad34d76142e67bb6_1024.png","image_original":"https://avatars.slack-edge.com/2025-06-05/8996092093974_e77cad34d76142e67bb6_original.png","is_custom_image":true,"first_name":"Nathan","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0}}},{"json":{"id":"U436A4NG5","name":"deactivateduser888811","is_bot":false,"updated":1758113210,"is_app_user":false,"team_id":"T42C9CN8G","deleted":true,"is_forgotten":true,"profile":{"real_name":"Deactivated User","display_name":"deactivateduser","avatar_hash":"g849cc56ed76","real_name_normalized":"Deactivated User","display_name_normalized":"deactivateduser","image_24":"https://secure.gravatar.com/avatar/bca08cf32400c87762bd560013c7b69c.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0005-24.png","image_32":"https://secure.gravatar.com/avatar/bca08cf32400c87762bd560013c7b69c.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0005-32.png","image_48":"https://secure.gravatar.com/avatar/bca08cf32400c87762bd560013c7b69c.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0005-48.png","image_72":"https://secure.gravatar.com/avatar/bca08cf32400c87762bd560013c7b69c.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0005-72.png","image_192":"https://secure.gravatar.com/avatar/bca08cf32400c87762bd560013c7b69c.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0005-192.png","image_512":"https://secure.gravatar.com/avatar/bca08cf32400c87762bd560013c7b69c.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0005-512.png","first_name":"Deactivated","last_name":"User","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"huddle_state":"default_unset"}}},{"json":{"id":"U45ANU945","name":"busybot","is_bot":true,"updated":1712537711,"is_app_user":false,"team_id":"T42C9CN8G","deleted":true,"profile":{"real_name":"Teamline","display_name":"busybot","avatar_hash":"c6d22553a3a8","real_name_normalized":"Teamline","display_name_normalized":"busybot","image_24":"https://avatars.slack-edge.com/2018-06-29/391713088662_c6d22553a3a88575b09b_24.png","image_32":"https://avatars.slack-edge.com/2018-06-29/391713088662_c6d22553a3a88575b09b_32.png","image_48":"https://avatars.slack-edge.com/2018-06-29/391713088662_c6d22553a3a88575b09b_48.png","image_72":"https://avatars.slack-edge.com/2018-06-29/391713088662_c6d22553a3a88575b09b_72.png","image_192":"https://avatars.slack-edge.com/2018-06-29/391713088662_c6d22553a3a88575b09b_192.png","image_512":"https://avatars.slack-edge.com/2018-06-29/391713088662_c6d22553a3a88575b09b_512.png","image_1024":"https://avatars.slack-edge.com/2018-06-29/391713088662_c6d22553a3a88575b09b_1024.png","image_original":"https://avatars.slack-edge.com/2018-06-29/391713088662_c6d22553a3a88575b09b_original.png","is_custom_image":true,"first_name":"Teamline","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"bot_id":"B45UDC0A3","api_app_id":"A0S35UGTC","always_active":true}}},{"json":{"id":"U45UE42P9","name":"trello","is_bot":true,"updated":1718524722,"is_app_user":false,"team_id":"T42C9CN8G","deleted":true,"profile":{"real_name":"Trello","display_name":"","avatar_hash":"db519bc6f5ea","real_name_normalized":"Trello","display_name_normalized":"","image_24":"https://avatars.slack-edge.com/2022-07-11/3785685233651_db519bc6f5eaf5fe0f80_24.png","image_32":"https://avatars.slack-edge.com/2022-07-11/3785685233651_db519bc6f5eaf5fe0f80_32.png","image_48":"https://avatars.slack-edge.com/2022-07-11/3785685233651_db519bc6f5eaf5fe0f80_48.png","image_72":"https://avatars.slack-edge.com/2022-07-11/3785685233651_db519bc6f5eaf5fe0f80_72.png","image_192":"https://avatars.slack-edge.com/2022-07-11/3785685233651_db519bc6f5eaf5fe0f80_192.png","image_512":"https://avatars.slack-edge.com/2022-07-11/3785685233651_db519bc6f5eaf5fe0f80_512.png","image_1024":"https://avatars.slack-edge.com/2022-07-11/3785685233651_db519bc6f5eaf5fe0f80_1024.png","image_original":"https://avatars.slack-edge.com/2022-07-11/3785685233651_db519bc6f5eaf5fe0f80_original.png","is_custom_image":true,"first_name":"Trello","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"bot_id":"B44HHHXGR","api_app_id":"A074YH40Z","always_active":true}}},{"json":{"id":"U054EGLFU93","name":"patterns","is_bot":true,"updated":1712537782,"is_app_user":false,"team_id":"T42C9CN8G","deleted":true,"profile":{"real_name":"patterns","display_name":"","avatar_hash":"g383759d44ab","real_name_normalized":"patterns","display_name_normalized":"","image_24":"https://secure.gravatar.com/avatar/383759d44ab8b88b764663c06107ba1b.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-24.png","image_32":"https://secure.gravatar.com/avatar/383759d44ab8b88b764663c06107ba1b.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-32.png","image_48":"https://secure.gravatar.com/avatar/383759d44ab8b88b764663c06107ba1b.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-48.png","image_72":"https://secure.gravatar.com/avatar/383759d44ab8b88b764663c06107ba1b.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-72.png","image_192":"https://secure.gravatar.com/avatar/383759d44ab8b88b764663c06107ba1b.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-192.png","image_512":"https://secure.gravatar.com/avatar/383759d44ab8b88b764663c06107ba1b.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0010-512.png","first_name":"patterns","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"bot_id":"B054HB710AX","api_app_id":"A054ASET9F0","always_active":false}}},{"json":{"id":"U05D8BHNMK7","name":"reflow","is_bot":true,"updated":1712537816,"is_app_user":false,"team_id":"T42C9CN8G","deleted":true,"profile":{"real_name":"reflow","display_name":"","avatar_hash":"5498244c978d","real_name_normalized":"reflow","display_name_normalized":"","image_24":"https://avatars.slack-edge.com/2023-06-20/5455761956660_5498244c978d4cac0400_24.png","image_32":"https://avatars.slack-edge.com/2023-06-20/5455761956660_5498244c978d4cac0400_32.png","image_48":"https://avatars.slack-edge.com/2023-06-20/5455761956660_5498244c978d4cac0400_48.png","image_72":"https://avatars.slack-edge.com/2023-06-20/5455761956660_5498244c978d4cac0400_72.png","image_192":"https://avatars.slack-edge.com/2023-06-20/5455761956660_5498244c978d4cac0400_192.png","image_512":"https://avatars.slack-edge.com/2023-06-20/5455761956660_5498244c978d4cac0400_512.png","image_1024":"https://avatars.slack-edge.com/2023-06-20/5455761956660_5498244c978d4cac0400_1024.png","image_original":"https://avatars.slack-edge.com/2023-06-20/5455761956660_5498244c978d4cac0400_original.png","is_custom_image":true,"first_name":"reflow","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"bot_id":"B05DB9Q6PTL","api_app_id":"A03RJK822T1","always_active":false}}},{"json":{"id":"U06CP7ZNF37","name":"patterns2","is_bot":true,"updated":1718524704,"is_app_user":false,"team_id":"T42C9CN8G","deleted":true,"profile":{"real_name":"Patterns","display_name":"","avatar_hash":"573410e3227a","real_name_normalized":"Patterns","display_name_normalized":"","image_24":"https://avatars.slack-edge.com/2024-01-06/6434203141682_573410e3227aea2730a5_24.png","image_32":"https://avatars.slack-edge.com/2024-01-06/6434203141682_573410e3227aea2730a5_32.png","image_48":"https://avatars.slack-edge.com/2024-01-06/6434203141682_573410e3227aea2730a5_48.png","image_72":"https://avatars.slack-edge.com/2024-01-06/6434203141682_573410e3227aea2730a5_72.png","image_192":"https://avatars.slack-edge.com/2024-01-06/6434203141682_573410e3227aea2730a5_192.png","image_512":"https://avatars.slack-edge.com/2024-01-06/6434203141682_573410e3227aea2730a5_512.png","image_1024":"https://avatars.slack-edge.com/2024-01-06/6434203141682_573410e3227aea2730a5_1024.png","image_original":"https://avatars.slack-edge.com/2024-01-06/6434203141682_573410e3227aea2730a5_original.png","is_custom_image":true,"first_name":"Patterns","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"bot_id":"B06CS5Z3LD8","api_app_id":"A065XP51MDF","always_active":false}}},{"json":{"id":"U06FWBTPVGT","name":"careerly","is_bot":true,"updated":1750059908,"is_app_user":false,"team_id":"T42C9CN8G","deleted":true,"profile":{"real_name":"Careerly","display_name":"","avatar_hash":"ed9d5c7566d3","real_name_normalized":"Careerly","display_name_normalized":"","image_24":"https://avatars.slack-edge.com/2024-01-26/6540514209346_ed9d5c7566d3ffb43fd0_24.png","image_32":"https://avatars.slack-edge.com/2024-01-26/6540514209346_ed9d5c7566d3ffb43fd0_32.png","image_48":"https://avatars.slack-edge.com/2024-01-26/6540514209346_ed9d5c7566d3ffb43fd0_48.png","image_72":"https://avatars.slack-edge.com/2024-01-26/6540514209346_ed9d5c7566d3ffb43fd0_72.png","image_192":"https://avatars.slack-edge.com/2024-01-26/6540514209346_ed9d5c7566d3ffb43fd0_192.png","image_512":"https://avatars.slack-edge.com/2024-01-26/6540514209346_ed9d5c7566d3ffb43fd0_512.png","image_1024":"https://avatars.slack-edge.com/2024-01-26/6540514209346_ed9d5c7566d3ffb43fd0_1024.png","image_original":"https://avatars.slack-edge.com/2024-01-26/6540514209346_ed9d5c7566d3ffb43fd0_original.png","is_custom_image":true,"first_name":"Careerly","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"bot_id":"B06FPRNUXU6","api_app_id":"A06C1HNDDJS","always_active":false}}},{"json":{"id":"U06P5B4J4BX","name":"statuspage","is_bot":true,"updated":1712537851,"is_app_user":false,"team_id":"T42C9CN8G","deleted":true,"profile":{"real_name":"Statuspage","display_name":"","avatar_hash":"874092425a11","real_name_normalized":"Statuspage","display_name_normalized":"","image_24":"https://avatars.slack-edge.com/2024-03-12/6783661645878_874092425a11bbba2eaa_24.png","image_32":"https://avatars.slack-edge.com/2024-03-12/6783661645878_874092425a11bbba2eaa_32.png","image_48":"https://avatars.slack-edge.com/2024-03-12/6783661645878_874092425a11bbba2eaa_48.png","image_72":"https://avatars.slack-edge.com/2024-03-12/6783661645878_874092425a11bbba2eaa_72.png","image_192":"https://avatars.slack-edge.com/2024-03-12/6783661645878_874092425a11bbba2eaa_192.png","image_512":"https://avatars.slack-edge.com/2024-03-12/6783661645878_874092425a11bbba2eaa_512.png","image_1024":"https://avatars.slack-edge.com/2024-03-12/6783661645878_874092425a11bbba2eaa_1024.png","image_original":"https://avatars.slack-edge.com/2024-03-12/6783661645878_874092425a11bbba2eaa_original.png","is_custom_image":true,"first_name":"Statuspage","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"bot_id":"B06PLU1B0KB","api_app_id":"A018LTP1YH4","always_active":true}}},{"json":{"id":"U078ZV7PWL8","name":"disquiet2","is_bot":true,"updated":1749087369,"is_app_user":false,"team_id":"T42C9CN8G","deleted":true,"profile":{"real_name":"Disquiet","display_name":"","avatar_hash":"bf8017c7fbb2","real_name_normalized":"Disquiet","display_name_normalized":"","image_24":"https://avatars.slack-edge.com/2024-06-16/7268641388807_bf8017c7fbb20337e263_24.png","image_32":"https://avatars.slack-edge.com/2024-06-16/7268641388807_bf8017c7fbb20337e263_32.png","image_48":"https://avatars.slack-edge.com/2024-06-16/7268641388807_bf8017c7fbb20337e263_48.png","image_72":"https://avatars.slack-edge.com/2024-06-16/7268641388807_bf8017c7fbb20337e263_72.png","image_192":"https://avatars.slack-edge.com/2024-06-16/7268641388807_bf8017c7fbb20337e263_192.png","image_512":"https://avatars.slack-edge.com/2024-06-16/7268641388807_bf8017c7fbb20337e263_512.png","image_1024":"https://avatars.slack-edge.com/2024-06-16/7268641388807_bf8017c7fbb20337e263_1024.png","image_original":"https://avatars.slack-edge.com/2024-06-16/7268641388807_bf8017c7fbb20337e263_original.png","is_custom_image":true,"first_name":"Disquiet","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"bot_id":"B07888V4CTX","api_app_id":"A02D1USJM9D","always_active":false}}},{"json":{"id":"U07B7QT4P51","name":"integromat","is_bot":true,"updated":1750980300,"is_app_user":false,"team_id":"T42C9CN8G","deleted":true,"profile":{"real_name":"Integromat","display_name":"","avatar_hash":"b58b40cb1772","real_name_normalized":"Integromat","display_name_normalized":"","image_24":"https://avatars.slack-edge.com/2024-07-05/7384436740372_b58b40cb17723d23aba0_24.png","image_32":"https://avatars.slack-edge.com/2024-07-05/7384436740372_b58b40cb17723d23aba0_32.png","image_48":"https://avatars.slack-edge.com/2024-07-05/7384436740372_b58b40cb17723d23aba0_48.png","image_72":"https://avatars.slack-edge.com/2024-07-05/7384436740372_b58b40cb17723d23aba0_72.png","image_192":"https://avatars.slack-edge.com/2024-07-05/7384436740372_b58b40cb17723d23aba0_192.png","image_512":"https://avatars.slack-edge.com/2024-07-05/7384436740372_b58b40cb17723d23aba0_512.png","image_1024":"https://avatars.slack-edge.com/2024-07-05/7384436740372_b58b40cb17723d23aba0_1024.png","image_original":"https://avatars.slack-edge.com/2024-07-05/7384436740372_b58b40cb17723d23aba0_original.png","is_custom_image":true,"first_name":"Integromat","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"bot_id":"B07B51JT41K","api_app_id":"A0X0JM3SB","always_active":false}}},{"json":{"id":"U07E8MY2FNY","name":"apify","is_bot":true,"updated":1721978496,"is_app_user":false,"team_id":"T42C9CN8G","deleted":false,"color":"df3dc0","is_email_confirmed":false,"real_name":"Apify","tz":"America/Los_Angeles","tz_label":"Pacific Daylight Time","tz_offset":-25200,"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"who_can_share_contact_card":"EVERYONE","profile":{"real_name":"Apify","display_name":"","avatar_hash":"964a063708a6","real_name_normalized":"Apify","display_name_normalized":"","image_24":"https://avatars.slack-edge.com/2024-07-26/7505053321312_964a063708a63758e0e1_24.png","image_32":"https://avatars.slack-edge.com/2024-07-26/7505053321312_964a063708a63758e0e1_32.png","image_48":"https://avatars.slack-edge.com/2024-07-26/7505053321312_964a063708a63758e0e1_48.png","image_72":"https://avatars.slack-edge.com/2024-07-26/7505053321312_964a063708a63758e0e1_72.png","image_192":"https://avatars.slack-edge.com/2024-07-26/7505053321312_964a063708a63758e0e1_192.png","image_512":"https://avatars.slack-edge.com/2024-07-26/7505053321312_964a063708a63758e0e1_512.png","image_1024":"https://avatars.slack-edge.com/2024-07-26/7505053321312_964a063708a63758e0e1_1024.png","image_original":"https://avatars.slack-edge.com/2024-07-26/7505053321312_964a063708a63758e0e1_original.png","is_custom_image":true,"first_name":"Apify","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"bot_id":"B07E3ANTRHT","api_app_id":"A8E620ZK7","always_active":true}}},{"json":{"id":"U07NXKWEX4Y","name":"google_cloud_monitori","is_bot":true,"updated":1753344675,"is_app_user":false,"team_id":"T42C9CN8G","deleted":true,"profile":{"real_name":"Google Cloud Monitoring","display_name":"","avatar_hash":"245681e86f43","real_name_normalized":"Google Cloud Monitoring","display_name_normalized":"","image_24":"https://avatars.slack-edge.com/2024-09-19/7779676549440_245681e86f43523a6fd2_24.png","image_32":"https://avatars.slack-edge.com/2024-09-19/7779676549440_245681e86f43523a6fd2_32.png","image_48":"https://avatars.slack-edge.com/2024-09-19/7779676549440_245681e86f43523a6fd2_48.png","image_72":"https://avatars.slack-edge.com/2024-09-19/7779676549440_245681e86f43523a6fd2_72.png","image_192":"https://avatars.slack-edge.com/2024-09-19/7779676549440_245681e86f43523a6fd2_192.png","image_512":"https://avatars.slack-edge.com/2024-09-19/7779676549440_245681e86f43523a6fd2_512.png","image_1024":"https://avatars.slack-edge.com/2024-09-19/7779676549440_245681e86f43523a6fd2_1024.png","image_original":"https://avatars.slack-edge.com/2024-09-19/7779676549440_245681e86f43523a6fd2_original.png","is_custom_image":true,"first_name":"Google","last_name":"Cloud Monitoring","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"bot_id":"B07N60ETPS9","api_app_id":"A03EA2WU3","always_active":true}}},{"json":{"id":"U07P1JNEWJ1","name":"n8n","is_bot":true,"updated":1752758350,"is_app_user":false,"team_id":"T42C9CN8G","deleted":false,"color":"e7392d","is_email_confirmed":false,"real_name":"n8n","tz":"America/Los_Angeles","tz_label":"Pacific Daylight Time","tz_offset":-25200,"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"who_can_share_contact_card":"EVERYONE","profile":{"real_name":"n8n","display_name":"","avatar_hash":"1973bb0dc804","real_name_normalized":"n8n","display_name_normalized":"","image_24":"https://avatars.slack-edge.com/2025-07-17/9236049131360_1973bb0dc804a9d64d5b_24.png","image_32":"https://avatars.slack-edge.com/2025-07-17/9236049131360_1973bb0dc804a9d64d5b_32.png","image_48":"https://avatars.slack-edge.com/2025-07-17/9236049131360_1973bb0dc804a9d64d5b_48.png","image_72":"https://avatars.slack-edge.com/2025-07-17/9236049131360_1973bb0dc804a9d64d5b_72.png","image_192":"https://avatars.slack-edge.com/2025-07-17/9236049131360_1973bb0dc804a9d64d5b_192.png","image_512":"https://avatars.slack-edge.com/2025-07-17/9236049131360_1973bb0dc804a9d64d5b_512.png","image_1024":"https://avatars.slack-edge.com/2025-07-17/9236049131360_1973bb0dc804a9d64d5b_1024.png","image_original":"https://avatars.slack-edge.com/2025-07-17/9236049131360_1973bb0dc804a9d64d5b_original.png","is_custom_image":true,"first_name":"n8n","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"bot_id":"B07P4ER6M3L","api_app_id":"A07NXQJJPFG","always_active":false}}},{"json":{"id":"U081P5JVDS4","name":"airtable","is_bot":true,"updated":1750059932,"is_app_user":false,"team_id":"T42C9CN8G","deleted":true,"profile":{"real_name":"Airtable","display_name":"","avatar_hash":"27add3c419ac","real_name_normalized":"Airtable","display_name_normalized":"","image_24":"https://avatars.slack-edge.com/2024-11-14/8034388252034_27add3c419acfbe75784_24.png","image_32":"https://avatars.slack-edge.com/2024-11-14/8034388252034_27add3c419acfbe75784_32.png","image_48":"https://avatars.slack-edge.com/2024-11-14/8034388252034_27add3c419acfbe75784_48.png","image_72":"https://avatars.slack-edge.com/2024-11-14/8034388252034_27add3c419acfbe75784_72.png","image_192":"https://avatars.slack-edge.com/2024-11-14/8034388252034_27add3c419acfbe75784_192.png","image_512":"https://avatars.slack-edge.com/2024-11-14/8034388252034_27add3c419acfbe75784_512.png","image_1024":"https://avatars.slack-edge.com/2024-11-14/8034388252034_27add3c419acfbe75784_1024.png","image_original":"https://avatars.slack-edge.com/2024-11-14/8034388252034_27add3c419acfbe75784_original.png","is_custom_image":true,"first_name":"Airtable","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"bot_id":"B080TNS5PRU","api_app_id":"A08HJAPG9","always_active":false}}},{"json":{"id":"U08QSDS2JTX","name":"inflearnn8n","is_bot":true,"updated":1756104155,"is_app_user":false,"team_id":"T42C9CN8G","deleted":true,"profile":{"real_name":"inflearn-n8n","display_name":"","avatar_hash":"ga8a7e9d7926","real_name_normalized":"inflearn-n8n","display_name_normalized":"","image_24":"https://secure.gravatar.com/avatar/a8a7e9d7926488e7897d78eeb8f3cc60.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0009-24.png","image_32":"https://secure.gravatar.com/avatar/a8a7e9d7926488e7897d78eeb8f3cc60.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0009-32.png","image_48":"https://secure.gravatar.com/avatar/a8a7e9d7926488e7897d78eeb8f3cc60.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0009-48.png","image_72":"https://secure.gravatar.com/avatar/a8a7e9d7926488e7897d78eeb8f3cc60.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0009-72.png","image_192":"https://secure.gravatar.com/avatar/a8a7e9d7926488e7897d78eeb8f3cc60.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0009-192.png","image_512":"https://secure.gravatar.com/avatar/a8a7e9d7926488e7897d78eeb8f3cc60.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0009-512.png","first_name":"inflearn-n8n","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"bot_id":"B08QSDS1TT7","api_app_id":"A08QY3LSJKW","always_active":false}}},{"json":{"id":"U0903DFTF2N","name":"n8ncloud","is_bot":true,"updated":1753344672,"is_app_user":false,"team_id":"T42C9CN8G","deleted":true,"profile":{"real_name":"n8n.cloud","display_name":"","avatar_hash":"a5ed53d9ed05","real_name_normalized":"n8n.cloud","display_name_normalized":"","image_24":"https://avatars.slack-edge.com/2025-06-04/8995968962086_a5ed53d9ed050144d9d1_24.png","image_32":"https://avatars.slack-edge.com/2025-06-04/8995968962086_a5ed53d9ed050144d9d1_32.png","image_48":"https://avatars.slack-edge.com/2025-06-04/8995968962086_a5ed53d9ed050144d9d1_48.png","image_72":"https://avatars.slack-edge.com/2025-06-04/8995968962086_a5ed53d9ed050144d9d1_72.png","image_192":"https://avatars.slack-edge.com/2025-06-04/8995968962086_a5ed53d9ed050144d9d1_192.png","image_512":"https://avatars.slack-edge.com/2025-06-04/8995968962086_a5ed53d9ed050144d9d1_512.png","image_1024":"https://avatars.slack-edge.com/2025-06-04/8995968962086_a5ed53d9ed050144d9d1_1024.png","image_original":"https://avatars.slack-edge.com/2025-06-04/8995968962086_a5ed53d9ed050144d9d1_original.png","is_custom_image":true,"first_name":"n8n.cloud","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"bot_id":"B0903DFTCV8","api_app_id":"A016X0AT6QL","always_active":false}}},{"json":{"id":"U091DJ26RRU","name":"zapier","is_bot":true,"updated":1750059952,"is_app_user":false,"team_id":"T42C9CN8G","deleted":false,"color":"965d1b","is_email_confirmed":false,"real_name":"Zapier","tz":"America/Los_Angeles","tz_label":"Pacific Daylight Time","tz_offset":-25200,"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"who_can_share_contact_card":"EVERYONE","profile":{"real_name":"Zapier","display_name":"","avatar_hash":"c5a9214b9ea4","real_name_normalized":"Zapier","display_name_normalized":"","image_24":"https://avatars.slack-edge.com/2025-06-16/9067150950289_c5a9214b9ea4602c680f_24.png","image_32":"https://avatars.slack-edge.com/2025-06-16/9067150950289_c5a9214b9ea4602c680f_32.png","image_48":"https://avatars.slack-edge.com/2025-06-16/9067150950289_c5a9214b9ea4602c680f_48.png","image_72":"https://avatars.slack-edge.com/2025-06-16/9067150950289_c5a9214b9ea4602c680f_72.png","image_192":"https://avatars.slack-edge.com/2025-06-16/9067150950289_c5a9214b9ea4602c680f_192.png","image_512":"https://avatars.slack-edge.com/2025-06-16/9067150950289_c5a9214b9ea4602c680f_512.png","image_1024":"https://avatars.slack-edge.com/2025-06-16/9067150950289_c5a9214b9ea4602c680f_1024.png","image_original":"https://avatars.slack-edge.com/2025-06-16/9067150950289_c5a9214b9ea4602c680f_original.png","is_custom_image":true,"first_name":"Zapier","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"bot_id":"B091DJ25MLN","api_app_id":"A024R9PQM","always_active":true}}},{"json":{"id":"U092VG1EYD7","name":"cursor","is_bot":true,"updated":1751060343,"is_app_user":false,"team_id":"T42C9CN8G","deleted":false,"color":"8469bc","is_email_confirmed":false,"real_name":"Cursor","tz":"America/Los_Angeles","tz_label":"Pacific Daylight Time","tz_offset":-25200,"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"who_can_share_contact_card":"EVERYONE","profile":{"real_name":"Cursor","display_name":"","avatar_hash":"aac6221545a5","real_name_normalized":"Cursor","display_name_normalized":"","image_24":"https://avatars.slack-edge.com/2025-06-27/9111011966483_aac6221545a530b29a40_24.png","image_32":"https://avatars.slack-edge.com/2025-06-27/9111011966483_aac6221545a530b29a40_32.png","image_48":"https://avatars.slack-edge.com/2025-06-27/9111011966483_aac6221545a530b29a40_48.png","image_72":"https://avatars.slack-edge.com/2025-06-27/9111011966483_aac6221545a530b29a40_72.png","image_192":"https://avatars.slack-edge.com/2025-06-27/9111011966483_aac6221545a530b29a40_192.png","image_512":"https://avatars.slack-edge.com/2025-06-27/9111011966483_aac6221545a530b29a40_512.png","image_1024":"https://avatars.slack-edge.com/2025-06-27/9111011966483_aac6221545a530b29a40_1024.png","image_original":"https://avatars.slack-edge.com/2025-06-27/9111011966483_aac6221545a530b29a40_original.png","is_custom_image":true,"first_name":"Cursor","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"bot_id":"B092VG1EYCR","api_app_id":"A08SKDT6QUW","always_active":true}}},{"json":{"id":"U097AB414AY","name":"n8nbot2","is_bot":true,"updated":1756104162,"is_app_user":false,"team_id":"T42C9CN8G","deleted":true,"profile":{"real_name":"n8n-bot2","display_name":"","avatar_hash":"8233c29bc2cf","real_name_normalized":"n8n-bot2","display_name_normalized":"","image_24":"https://avatars.slack-edge.com/2025-08-16/9350528195111_8233c29bc2cf32384df7_24.png","image_32":"https://avatars.slack-edge.com/2025-08-16/9350528195111_8233c29bc2cf32384df7_32.png","image_48":"https://avatars.slack-edge.com/2025-08-16/9350528195111_8233c29bc2cf32384df7_48.png","image_72":"https://avatars.slack-edge.com/2025-08-16/9350528195111_8233c29bc2cf32384df7_72.png","image_192":"https://avatars.slack-edge.com/2025-08-16/9350528195111_8233c29bc2cf32384df7_192.png","image_512":"https://avatars.slack-edge.com/2025-08-16/9350528195111_8233c29bc2cf32384df7_512.png","image_1024":"https://avatars.slack-edge.com/2025-08-16/9350528195111_8233c29bc2cf32384df7_1024.png","image_original":"https://avatars.slack-edge.com/2025-08-16/9350528195111_8233c29bc2cf32384df7_original.png","is_custom_image":true,"first_name":"n8n-bot2","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"bot_id":"B097AB3S9HA","api_app_id":"A097NF7HG0Z","always_active":false}}},{"json":{"id":"U0987U8S4PM","name":"sunoo2468","is_bot":false,"updated":1753962189,"is_app_user":false,"team_id":"T42C9CN8G","deleted":false,"color":"4ec0d6","is_email_confirmed":true,"real_name":"정선우","tz":"Asia/Seoul","tz_label":"Korea Standard Time","tz_offset":32400,"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"who_can_share_contact_card":"EVERYONE","profile":{"real_name":"정선우","display_name":"정선우","avatar_hash":"5f2f8d4b46c2","real_name_normalized":"정선우","display_name_normalized":"정선우","image_24":"https://avatars.slack-edge.com/2025-07-31/9279961285523_5f2f8d4b46c2c2feb67c_24.png","image_32":"https://avatars.slack-edge.com/2025-07-31/9279961285523_5f2f8d4b46c2c2feb67c_32.png","image_48":"https://avatars.slack-edge.com/2025-07-31/9279961285523_5f2f8d4b46c2c2feb67c_48.png","image_72":"https://avatars.slack-edge.com/2025-07-31/9279961285523_5f2f8d4b46c2c2feb67c_72.png","image_192":"https://avatars.slack-edge.com/2025-07-31/9279961285523_5f2f8d4b46c2c2feb67c_192.png","image_512":"https://avatars.slack-edge.com/2025-07-31/9279961285523_5f2f8d4b46c2c2feb67c_512.png","image_1024":"https://avatars.slack-edge.com/2025-07-31/9279961285523_5f2f8d4b46c2c2feb67c_1024.png","image_original":"https://avatars.slack-edge.com/2025-07-31/9279961285523_5f2f8d4b46c2c2feb67c_original.png","is_custom_image":true,"first_name":"정선우","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0}}},{"json":{"id":"U09882JHXEX","name":"yeon7657","is_bot":false,"updated":1753963760,"is_app_user":false,"team_id":"T42C9CN8G","deleted":false,"color":"3c989f","is_email_confirmed":true,"real_name":"김다연","tz":"Asia/Seoul","tz_label":"Korea Standard Time","tz_offset":32400,"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"who_can_share_contact_card":"EVERYONE","profile":{"real_name":"김다연","display_name":"김다연","avatar_hash":"42e58e4115b5","real_name_normalized":"김다연","display_name_normalized":"김다연","image_24":"https://avatars.slack-edge.com/2025-07-31/9280087374019_42e58e4115b5b96af512_24.png","image_32":"https://avatars.slack-edge.com/2025-07-31/9280087374019_42e58e4115b5b96af512_32.png","image_48":"https://avatars.slack-edge.com/2025-07-31/9280087374019_42e58e4115b5b96af512_48.png","image_72":"https://avatars.slack-edge.com/2025-07-31/9280087374019_42e58e4115b5b96af512_72.png","image_192":"https://avatars.slack-edge.com/2025-07-31/9280087374019_42e58e4115b5b96af512_192.png","image_512":"https://avatars.slack-edge.com/2025-07-31/9280087374019_42e58e4115b5b96af512_512.png","image_1024":"https://avatars.slack-edge.com/2025-07-31/9280087374019_42e58e4115b5b96af512_1024.png","image_original":"https://avatars.slack-edge.com/2025-07-31/9280087374019_42e58e4115b5b96af512_original.png","is_custom_image":true,"first_name":"김다연","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0}}},{"json":{"id":"U0988LB7CG6","name":"firstscooop","is_bot":false,"updated":1753962249,"is_app_user":false,"team_id":"T42C9CN8G","deleted":false,"color":"50a0cf","is_email_confirmed":true,"real_name":"유형준","tz":"Asia/Seoul","tz_label":"Korea Standard Time","tz_offset":32400,"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"who_can_share_contact_card":"EVERYONE","profile":{"real_name":"유형준","display_name":"유형준","avatar_hash":"9e970e90fe1e","real_name_normalized":"유형준","display_name_normalized":"유형준","image_24":"https://avatars.slack-edge.com/2025-07-31/9280691864966_9e970e90fe1e07e036d0_24.png","image_32":"https://avatars.slack-edge.com/2025-07-31/9280691864966_9e970e90fe1e07e036d0_32.png","image_48":"https://avatars.slack-edge.com/2025-07-31/9280691864966_9e970e90fe1e07e036d0_48.png","image_72":"https://avatars.slack-edge.com/2025-07-31/9280691864966_9e970e90fe1e07e036d0_72.png","image_192":"https://avatars.slack-edge.com/2025-07-31/9280691864966_9e970e90fe1e07e036d0_192.png","image_512":"https://avatars.slack-edge.com/2025-07-31/9280691864966_9e970e90fe1e07e036d0_512.png","image_1024":"https://avatars.slack-edge.com/2025-07-31/9280691864966_9e970e90fe1e07e036d0_1024.png","image_original":"https://avatars.slack-edge.com/2025-07-31/9280691864966_9e970e90fe1e07e036d0_original.png","is_custom_image":true,"first_name":"유형준","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0}}},{"json":{"id":"U0988MMN6BY","name":"prun000111","is_bot":false,"updated":1754038919,"is_app_user":false,"team_id":"T42C9CN8G","deleted":false,"color":"5a4592","is_email_confirmed":true,"real_name":"권혁민","tz":"Asia/Seoul","tz_label":"Korea Standard Time","tz_offset":32400,"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"who_can_share_contact_card":"EVERYONE","profile":{"real_name":"권혁민","display_name":"권혁민","avatar_hash":"e3d06c6a555d","real_name_normalized":"권혁민","display_name_normalized":"권혁민","image_24":"https://avatars.slack-edge.com/2025-08-01/9286544803062_e3d06c6a555d9fbb0742_24.jpg","image_32":"https://avatars.slack-edge.com/2025-08-01/9286544803062_e3d06c6a555d9fbb0742_32.jpg","image_48":"https://avatars.slack-edge.com/2025-08-01/9286544803062_e3d06c6a555d9fbb0742_48.jpg","image_72":"https://avatars.slack-edge.com/2025-08-01/9286544803062_e3d06c6a555d9fbb0742_72.jpg","image_192":"https://avatars.slack-edge.com/2025-08-01/9286544803062_e3d06c6a555d9fbb0742_192.jpg","image_512":"https://avatars.slack-edge.com/2025-08-01/9286544803062_e3d06c6a555d9fbb0742_512.jpg","image_1024":"https://avatars.slack-edge.com/2025-08-01/9286544803062_e3d06c6a555d9fbb0742_1024.jpg","image_original":"https://avatars.slack-edge.com/2025-08-01/9286544803062_e3d06c6a555d9fbb0742_original.jpg","is_custom_image":true,"first_name":"권혁민","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0}}},{"json":{"id":"U098DGS4MT7","name":"eunyoung030927","is_bot":false,"updated":1754007716,"is_app_user":false,"team_id":"T42C9CN8G","deleted":false,"color":"385a86","is_email_confirmed":true,"real_name":"은영","tz":"Asia/Seoul","tz_label":"Korea Standard Time","tz_offset":32400,"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"who_can_share_contact_card":"EVERYONE","profile":{"real_name":"은영","display_name":"","avatar_hash":"gd3822d63fc2","real_name_normalized":"은영","display_name_normalized":"","image_24":"https://secure.gravatar.com/avatar/d3822d63fc2596e7d9c851e25017ec40.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0002-24.png","image_32":"https://secure.gravatar.com/avatar/d3822d63fc2596e7d9c851e25017ec40.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0002-32.png","image_48":"https://secure.gravatar.com/avatar/d3822d63fc2596e7d9c851e25017ec40.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0002-48.png","image_72":"https://secure.gravatar.com/avatar/d3822d63fc2596e7d9c851e25017ec40.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0002-72.png","image_192":"https://secure.gravatar.com/avatar/d3822d63fc2596e7d9c851e25017ec40.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0002-192.png","image_512":"https://secure.gravatar.com/avatar/d3822d63fc2596e7d9c851e25017ec40.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0002-512.png","first_name":"은영","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0}}},{"json":{"id":"U09951MJ62W","name":"n8nagentbot","is_bot":true,"updated":1754454125,"is_app_user":false,"team_id":"T42C9CN8G","deleted":false,"color":"619a4f","is_email_confirmed":false,"real_name":"n8n-agent-bot","tz":"America/Los_Angeles","tz_label":"Pacific Daylight Time","tz_offset":-25200,"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"who_can_share_contact_card":"EVERYONE","profile":{"real_name":"n8n-agent-bot","display_name":"","avatar_hash":"gae9988f0482","real_name_normalized":"n8n-agent-bot","display_name_normalized":"","image_24":"https://secure.gravatar.com/avatar/ae9988f0482286039112e0afcce6bc9d.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0014-24.png","image_32":"https://secure.gravatar.com/avatar/ae9988f0482286039112e0afcce6bc9d.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0014-32.png","image_48":"https://secure.gravatar.com/avatar/ae9988f0482286039112e0afcce6bc9d.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0014-48.png","image_72":"https://secure.gravatar.com/avatar/ae9988f0482286039112e0afcce6bc9d.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0014-72.png","image_192":"https://secure.gravatar.com/avatar/ae9988f0482286039112e0afcce6bc9d.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0014-192.png","image_512":"https://secure.gravatar.com/avatar/ae9988f0482286039112e0afcce6bc9d.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0014-512.png","first_name":"n8n-agent-bot","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"bot_id":"B09951MJ0PL","api_app_id":"A09938PN12R","always_active":false}}},{"json":{"id":"U0995HV0Z6E","name":"n8nbot22","is_bot":true,"updated":1756104168,"is_app_user":false,"team_id":"T42C9CN8G","deleted":true,"profile":{"real_name":"n8n-bot2","display_name":"","avatar_hash":"g9cfeea9f00c","real_name_normalized":"n8n-bot2","display_name_normalized":"","image_24":"https://secure.gravatar.com/avatar/9cfeea9f00cba7925842acfde50cdbbd.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0008-24.png","image_32":"https://secure.gravatar.com/avatar/9cfeea9f00cba7925842acfde50cdbbd.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0008-32.png","image_48":"https://secure.gravatar.com/avatar/9cfeea9f00cba7925842acfde50cdbbd.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0008-48.png","image_72":"https://secure.gravatar.com/avatar/9cfeea9f00cba7925842acfde50cdbbd.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0008-72.png","image_192":"https://secure.gravatar.com/avatar/9cfeea9f00cba7925842acfde50cdbbd.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0008-192.png","image_512":"https://secure.gravatar.com/avatar/9cfeea9f00cba7925842acfde50cdbbd.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0008-512.png","first_name":"n8n-bot2","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"bot_id":"B0995HUTFB4","api_app_id":"A09979G8LFN","always_active":false}}},{"json":{"id":"U09A2SP44E4","name":"fptalsh","is_bot":false,"updated":1754564639,"is_app_user":false,"team_id":"T42C9CN8G","deleted":false,"color":"3c8c69","is_email_confirmed":true,"real_name":"이주영","tz":"Asia/Seoul","tz_label":"Korea Standard Time","tz_offset":32400,"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"who_can_share_contact_card":"EVERYONE","profile":{"real_name":"이주영","display_name":"이주영","avatar_hash":"g5fdb9508a37","real_name_normalized":"이주영","display_name_normalized":"이주영","image_24":"https://secure.gravatar.com/avatar/5fdb9508a37d4493f2590a952cf4ed43.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0026-24.png","image_32":"https://secure.gravatar.com/avatar/5fdb9508a37d4493f2590a952cf4ed43.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0026-32.png","image_48":"https://secure.gravatar.com/avatar/5fdb9508a37d4493f2590a952cf4ed43.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0026-48.png","image_72":"https://secure.gravatar.com/avatar/5fdb9508a37d4493f2590a952cf4ed43.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0026-72.png","image_192":"https://secure.gravatar.com/avatar/5fdb9508a37d4493f2590a952cf4ed43.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0026-192.png","image_512":"https://secure.gravatar.com/avatar/5fdb9508a37d4493f2590a952cf4ed43.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0026-512.png","first_name":"이주영","last_name":"","team":"T42C9CN8G","title":"","phone":"","skype":"","status_text":"","status_text_canonical":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0}}}],"Get Employee":[{"json":{"row_number":2,"username":"newturn_ceo","email":"jkikss@gmail.com","status":"Primary Owner","billing-active":1,"has-2fa":0,"has-sso":0,"userid":"U42D3C69F","fullname":"Nathan","displayname":"DataPopcorn","expiration-timestamp":"","birthday":"2025-09-01","joined_date":"2025-09-28"}},{"json":{"row_number":3,"username":"deactivateduser888811","email":"deactivateduser888811-datapopcorn@slack-corp.com","status":"Deactivated","billing-active":0,"has-2fa":0,"has-sso":0,"userid":"U436A4NG5","fullname":"Deactivated User","displayname":"deactivateduser","expiration-timestamp":"","birthday":"2025-09-02","joined_date":"2025-09-27"}},{"json":{"row_number":4,"username":"busybot","email":"botuser-T42C9CN8G-B45UDC0A3@slack-bots.com","status":"Deactivated","billing-active":0,"has-2fa":0,"has-sso":0,"userid":"U45ANU945","fullname":"Teamline","displayname":"busybot","expiration-timestamp":"","birthday":"2025-09-03","joined_date":"2025-09-26"}},{"json":{"row_number":5,"username":"trello","email":"botuser-T42C9CN8G-B44HHHXGR@slack-bots.com","status":"Deactivated","billing-active":0,"has-2fa":0,"has-sso":0,"userid":"U45UE42P9","fullname":"Trello","displayname":"","expiration-timestamp":"","birthday":"2025-09-04","joined_date":"2025-09-25"}},{"json":{"row_number":6,"username":"patterns","email":"botuser-T42C9CN8G-B054HB710AX@slack-bots.com","status":"Deactivated","billing-active":0,"has-2fa":0,"has-sso":0,"userid":"U054EGLFU93","fullname":"patterns","displayname":"","expiration-timestamp":"","birthday":"2025-09-05","joined_date":"2025-09-24"}},{"json":{"row_number":7,"username":"reflow","email":"botuser-T42C9CN8G-B05DB9Q6PTL@slack-bots.com","status":"Deactivated","billing-active":0,"has-2fa":0,"has-sso":0,"userid":"U05D8BHNMK7","fullname":"reflow","displayname":"","expiration-timestamp":"","birthday":"2025-09-06","joined_date":"2025-09-23"}},{"json":{"row_number":8,"username":"patterns2","email":"botuser-T42C9CN8G-B06CS5Z3LD8@slack-bots.com","status":"Deactivated","billing-active":0,"has-2fa":0,"has-sso":0,"userid":"U06CP7ZNF37","fullname":"Patterns","displayname":"","expiration-timestamp":"","birthday":"2025-09-07","joined_date":"2025-09-22"}},{"json":{"row_number":9,"username":"careerly","email":"botuser-T42C9CN8G-B06FPRNUXU6@slack-bots.com","status":"Deactivated","billing-active":0,"has-2fa":0,"has-sso":0,"userid":"U06FWBTPVGT","fullname":"Careerly","displayname":"","expiration-timestamp":"","birthday":"2025-09-08","joined_date":"2025-09-21"}},{"json":{"row_number":10,"username":"statuspage","email":"botuser-T42C9CN8G-B06PLU1B0KB@slack-bots.com","status":"Deactivated","billing-active":0,"has-2fa":0,"has-sso":0,"userid":"U06P5B4J4BX","fullname":"Statuspage","displayname":"","expiration-timestamp":"","birthday":"2025-09-09","joined_date":"2025-09-20"}},{"json":{"row_number":11,"username":"disquiet2","email":"botuser-T42C9CN8G-B07888V4CTX@slack-bots.com","status":"Deactivated","billing-active":0,"has-2fa":0,"has-sso":0,"userid":"U078ZV7PWL8","fullname":"Disquiet","displayname":"","expiration-timestamp":"","birthday":"2025-09-10","joined_date":"2025-09-19"}},{"json":{"row_number":12,"username":"integromat","email":"botuser-T42C9CN8G-B07B51JT41K@slack-bots.com","status":"Deactivated","billing-active":0,"has-2fa":0,"has-sso":0,"userid":"U07B7QT4P51","fullname":"Integromat","displayname":"","expiration-timestamp":"","birthday":"2025-09-11","joined_date":"2025-09-18"}},{"json":{"row_number":13,"username":"apify","email":"botuser-T42C9CN8G-B07E3ANTRHT@slack-bots.com","status":"Bot","billing-active":0,"has-2fa":0,"has-sso":0,"userid":"U07E8MY2FNY","fullname":"Apify","displayname":"","expiration-timestamp":"","birthday":"2025-09-12","joined_date":"2025-09-17"}},{"json":{"row_number":14,"username":"google_cloud_monitori","email":"botuser-T42C9CN8G-B07N60ETPS9@slack-bots.com","status":"Deactivated","billing-active":0,"has-2fa":0,"has-sso":0,"userid":"U07NXKWEX4Y","fullname":"Google Cloud Monitoring","displayname":"","expiration-timestamp":"","birthday":"2025-09-13","joined_date":"2025-09-16"}},{"json":{"row_number":15,"username":"n8n","email":"botuser-T42C9CN8G-B07P4ER6M3L@slack-bots.com","status":"Bot","billing-active":0,"has-2fa":0,"has-sso":0,"userid":"U07P1JNEWJ1","fullname":"n8n","displayname":"","expiration-timestamp":"","birthday":"2025-09-14","joined_date":"2025-09-15"}},{"json":{"row_number":16,"username":"airtable","email":"botuser-T42C9CN8G-B080TNS5PRU@slack-bots.com","status":"Deactivated","billing-active":0,"has-2fa":0,"has-sso":0,"userid":"U081P5JVDS4","fullname":"Airtable","displayname":"","expiration-timestamp":"","birthday":"2025-09-15","joined_date":"2025-09-14"}},{"json":{"row_number":17,"username":"inflearnn8n","email":"botuser-T42C9CN8G-B08QSDS1TT7@slack-bots.com","status":"Deactivated","billing-active":0,"has-2fa":0,"has-sso":0,"userid":"U08QSDS2JTX","fullname":"inflearn-n8n","displayname":"","expiration-timestamp":"","birthday":"2025-09-16","joined_date":"2025-09-13"}},{"json":{"row_number":18,"username":"n8ncloud","email":"botuser-T42C9CN8G-B0903DFTCV8@slack-bots.com","status":"Deactivated","billing-active":0,"has-2fa":0,"has-sso":0,"userid":"U0903DFTF2N","fullname":"n8n.cloud","displayname":"","expiration-timestamp":"","birthday":"2025-09-17","joined_date":"2025-09-12"}},{"json":{"row_number":19,"username":"zapier","email":"botuser-T42C9CN8G-B091DJ25MLN@slack-bots.com","status":"Bot","billing-active":0,"has-2fa":0,"has-sso":0,"userid":"U091DJ26RRU","fullname":"Zapier","displayname":"","expiration-timestamp":"","birthday":"2025-09-18","joined_date":"2025-09-11"}},{"json":{"row_number":20,"username":"cursor","email":"botuser-T42C9CN8G-B092VG1EYCR@slack-bots.com","status":"Bot","billing-active":0,"has-2fa":0,"has-sso":0,"userid":"U092VG1EYD7","fullname":"Cursor","displayname":"","expiration-timestamp":"","birthday":"2025-09-19","joined_date":"2025-09-10"}},{"json":{"row_number":21,"username":"n8nbot2","email":"botuser-T42C9CN8G-B097AB3S9HA@slack-bots.com","status":"Deactivated","billing-active":0,"has-2fa":0,"has-sso":0,"userid":"U097AB414AY","fullname":"n8n-bot2","displayname":"","expiration-timestamp":"","birthday":"2025-09-20","joined_date":"2025-09-09"}},{"json":{"row_number":22,"username":"sunoo2468","email":"sunoo2468@gmail.com","status":"Member","billing-active":0,"has-2fa":0,"has-sso":0,"userid":"U0987U8S4PM","fullname":"정선우","displayname":"정선우","expiration-timestamp":"","birthday":"2025-09-21","joined_date":"2025-09-08"}},{"json":{"row_number":23,"username":"yeon7657","email":"yeon7657@gmail.com","status":"Member","billing-active":0,"has-2fa":0,"has-sso":0,"userid":"U09882JHXEX","fullname":"김다연","displayname":"김다연","expiration-timestamp":"","birthday":"2025-09-22","joined_date":"2025-09-07"}},{"json":{"row_number":24,"username":"firstscooop","email":"firstscooop@gmail.com","status":"Member","billing-active":0,"has-2fa":0,"has-sso":0,"userid":"U0988LB7CG6","fullname":"유형준","displayname":"유형준","expiration-timestamp":"","birthday":"2025-09-23","joined_date":"2025-09-06"}},{"json":{"row_number":25,"username":"prun000111","email":"prun000111@gmail.com","status":"Member","billing-active":1,"has-2fa":0,"has-sso":0,"userid":"U0988MMN6BY","fullname":"권혁민","displayname":"권혁민","expiration-timestamp":"","birthday":"2025-09-24","joined_date":"2025-09-05"}},{"json":{"row_number":26,"username":"eunyoung030927","email":"eunyoung030927@gmail.com","status":"Member","billing-active":0,"has-2fa":0,"has-sso":0,"userid":"U098DGS4MT7","fullname":"은영","displayname":"","expiration-timestamp":"","birthday":"2025-09-25","joined_date":"2025-09-04"}},{"json":{"row_number":27,"username":"n8nagentbot","email":"botuser-T42C9CN8G-B09951MJ0PL@slack-bots.com","status":"Bot","billing-active":0,"has-2fa":0,"has-sso":0,"userid":"U09951MJ62W","fullname":"n8n-agent-bot","displayname":"","expiration-timestamp":"","birthday":"2025-09-26","joined_date":"2025-09-03"}},{"json":{"row_number":28,"username":"n8nbot22","email":"botuser-T42C9CN8G-B0995HUTFB4@slack-bots.com","status":"Deactivated","billing-active":0,"has-2fa":0,"has-sso":0,"userid":"U0995HV0Z6E","fullname":"n8n-bot2","displayname":"","expiration-timestamp":"","birthday":"2025-09-27","joined_date":"2025-09-02"}},{"json":{"row_number":29,"username":"fptalsh","email":"fptalsh@gmail.com","status":"Member","billing-active":0,"has-2fa":0,"has-sso":0,"userid":"U09A2SP44E4","fullname":"이주영","displayname":"이주영","expiration-timestamp":"","birthday":"2025-09-28","joined_date":"2025-09-01"}}]},"versionId":"de592a41-95b8-4dd6-a3cf-bbd0af4d1341","triggerCount":2,"shared":[{"createdAt":"2025-09-17T12:41:21.865Z","updatedAt":"2025-09-17T12:41:21.865Z","role":"workflow:owner","workflowId":"gKRy40GMryP9Q7QS","projectId":"sjNgDrdbhRMMF6SK"}],"tags":[{"createdAt":"2025-06-25T04:00:38.130Z","updatedAt":"2025-06-25T04:00:38.130Z","id":"EyGUZypc5DKHVUyY","name":"패스트캠퍼스"},{"createdAt":"2025-09-18T02:35:45.371Z","updatedAt":"2025-09-18T02:35:45.371Z","id":"vyODaWW9OWrf7I0w","name":"인프런"}]}