workflows/중대재해-사고-현황-수집기-(tableau).json
{"createdAt":"2025-09-03T04:07:21.621Z","updatedAt":"2025-09-03T07:14:35.817Z","id":"Du7HdD32S8KuI3Rw","name":"중대재해 사고 현황 수집기 (Tableau)","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-8432,-432],"id":"3d942590-5e7d-4cf0-8d13-eed848c3eb56","name":"Schedule Trigger"},{"parameters":{"options":{}},"id":"6f66271c-968b-43db-a593-fa14528da20f","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-7472,-752],"credentials":{"openAiApi":{"id":"ledUugAWoH4Uadky","name":"(fastcampus)OpenAi account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1OIxTSJdU8RECbXEl-0Q52AOFNnBf2MukoHqff7LZCYI","mode":"list","cachedResultName":"incident_data(twitter_scrap)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIxTSJdU8RECbXEl-0Q52AOFNnBf2MukoHqff7LZCYI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"시트1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIxTSJdU8RECbXEl-0Q52AOFNnBf2MukoHqff7LZCYI/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"arno","displayName":"arno","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"datetime","displayName":"datetime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"accident_space","displayName":"accident_space","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"cause_of_death","displayName":"cause_of_death","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"original_text","displayName":"original_text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"0f969f2c-533c-468f-850f-866f4b530856","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-6288,-416],"credentials":{"googleSheetsOAuth2Api":{"id":"91ar5Cg6JmPJpWXZ","name":"(DP) Google Sheets account"}}},{"parameters":{"content":"![](https://i.imgur.com/Oik0WAt.png)","height":520,"width":760,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-7152,-1040],"id":"0bb61e81-db27-456a-a2c1-4d8868f43548","name":"Sticky Note4"},{"parameters":{"content":"![](https://i.imgur.com/Y0bppG8.png)","height":680,"width":560},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6848,-112],"id":"e15a42c9-3ea6-4a2a-b1fb-474cb9ddc133","name":"Sticky Note5"},{"parameters":{"content":"## 2. 데이터 전처리","height":300,"width":1620,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-8000,-480],"id":"612b3e6b-cb87-4471-8ae9-0f0088a7e167","name":"Sticky Note6"},{"parameters":{"content":"## 3. 데이터 저장","height":440,"width":220,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-6352,-512],"id":"dbe4951d-b5c0-4a39-95bf-ec8f0bf1efb0","name":"Sticky Note7"},{"parameters":{"content":"![](https://raw.githubusercontent.com/2innnnn0/assets/refs/heads/master/image/datapopcorn_logo_50px.png)\n\n# 중대재해 사고 자동분석기\n\n[한국산업안전보건공단 홈페이지](https://www.kosha.or.kr/kosha/index.do)에서 제공 중인 사고사망 게시판 정보를 실시간으로 조회하실 수 있도록 제공하는 데이터입니다.\nDataSource : [한국산업안전보건공단_사고사망 게시판 정보 조회서비스](https://www.data.go.kr/data/15119137/openapi.do)","height":460,"width":540},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-8512,-976],"id":"22389bd1-e83c-41df-a060-02ffd2484a00","name":"Sticky Note8"},{"parameters":{},"id":"8574f549-d046-4de6-851b-b8ca0b43a587","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[-8432,-240],"typeVersion":1},{"parameters":{"content":"## 1. 데이터 수집(API)","height":300,"width":200,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-8224,-480],"id":"ab7fafb7-6b9c-4699-9e57-3f8e8fdf879f","name":"Sticky Note9"},{"parameters":{"url":"https://apis.data.go.kr/B552468/news_api01/getNews_api01","sendQuery":true,"queryParameters":{"parameters":[{"name":"serviceKey","value":"jVwm8WYdMpGK4BqfwpN6eZvd0gaG5oJ5HihWrIhNwhaEdvvtLZHVaChaUQh8fO5GaWlRqxFROPnItSiO7/lf+A=="},{"name":"pageNo","value":"1"},{"name":"numOfRows","value":"1000"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7440,-928],"id":"768b092a-5a94-4400-9dcd-4ec941c0aab1","name":"HTTP Request(Before)"},{"parameters":{"url":"https://apis.data.go.kr/B552468/news_api01/getNews_api01","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"numOfRows","value":"100"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"pageNo","value":"={{ $pageCount + 1 }}"}]},"limitPagesFetched":true,"maxRequests":1,"requestInterval":5}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8192,-336],"id":"888817e1-d255-47e0-9fc7-54eda47a95ac","name":"HTTP Request(After)","credentials":{"httpQueryAuth":{"id":"GosvPVldOnQw9Jog","name":"data.go.kr"}}},{"parameters":{"operation":"upload","bucketName":"bucket","additionalFields":{}},"type":"n8n-nodes-base.awsS3","typeVersion":2,"position":[-6288,-240],"id":"3180a5d0-a0ef-4673-a1e2-ace715c7c2be","name":"AWS S3","disabled":true},{"parameters":{"path":"incident"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[-7888,-832],"id":"75b7bded-9f3b-44bd-8542-a3c2a2310433","name":"MCP Server Trigger","webhookId":"6fd428be-86f9-4d3e-9886-1b19af04f137"},{"parameters":{"content":"## MCP Server\nhttps://datapopcorn.win/mcp/incident/sse","height":460,"width":720,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-7952,-976],"id":"d2334c6e-5b0f-41ac-b790-fb2e7e989028","name":"Sticky Note10"},{"parameters":{"content":"## TRIGGER","height":400,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-8496,-480],"id":"f906fc49-2399-42b4-a3ed-67aae20b4b95","name":"Sticky Note11"},{"parameters":{"content":"## 4. 데이터 분석 ","height":440,"width":920,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-8224,-112],"id":"1efe6603-92de-4c40-9127-3b8e0350990c","name":"Sticky Note"},{"parameters":{"documentId":{"__rl":true,"value":"1OIxTSJdU8RECbXEl-0Q52AOFNnBf2MukoHqff7LZCYI","mode":"list","cachedResultName":"incident_data(twitter_scrap)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIxTSJdU8RECbXEl-0Q52AOFNnBf2MukoHqff7LZCYI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"시트1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIxTSJdU8RECbXEl-0Q52AOFNnBf2MukoHqff7LZCYI/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-7872,-656],"id":"7837f7e7-a500-4110-b8df-c1234d6e642a","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"91ar5Cg6JmPJpWXZ","name":"(DP) Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"26cf31e8-7d47-4fb7-bff3-94438ea960d4","name":"arno","value":"={{ $json.output.arno }}","type":"string"},{"id":"633422fb-9c1e-43b8-b3d3-151126648615","name":"datetime","value":"={{ $json.output.datetime }}","type":"string"},{"id":"fef8ac20-b592-475b-91ec-15a36600f9fc","name":"location","value":"={{ $json.output.location }}","type":"string"},{"id":"67982226-39fb-4890-a38d-f55ec7dec122","name":"accident_space","value":"={{ $json.output.accident_space }}","type":"string"},{"id":"7c672c41-7a13-4b28-ae8b-185226522ce1","name":"cause_of_death","value":"={{ $json.output.cause_of_death }}","type":"string"},{"id":"bbb379bd-1a6d-426e-9b80-8956bb0bb7af","name":"original_text","value":"={{ $json.output.original_text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6944,-336],"id":"77bc93ee-2b38-4452-9ecb-a7e6c78df48b","name":"필요한 요소만 추출"},{"parameters":{"text":"=INPUT)\n사건번호 : {{ $json.arno }} \n키워드 : {{ $json.keyword }}\n콘텐츠 : {{ $json.contents }}\n---\nOUTPUT)\n사건번호, 날짜시간, 위치(시도 시군구 읍면동 단위까지), 사고현장, 사망원인(넘어짐, 깔림, 뒤집힘, 끼임, 떨어짐, 부딪힘, 감전, 물체에 맞음 등), 원본텍스트\n\n으로 JSON 형태로 코드블럭 없이 값만 추출해 줘.\n---\nOUTPUT 예시)\n455705, 2024-04-13 11:00:00, 경기도 용인시, 공장 지붕 보수 공사현장, 떨어짐, 사망사고 속보]\\n\\n2024. 12. 25. (수), 09:36경\\n\\n경기 용인시 소재 공장 지붕 보수 공사현장에서 재해자가 지붕 철거 작업 중 밟고 있는 채광창이 파손되며 아래로 떨어짐(4.6m) (사망 1명)\\n\\n※ 위 내용은 신고 및 현재 파악된 내용으로 조사결과에 따라 변경될 수 있습니다. https://t.co/qIwquVk1vi","schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n        \"arno\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"datetime\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"format\": \"datetime\",\n\t\t\t\"pattern\": \"^\\\\d{4}-\\\\d{2}-\\\\d{2} \\\\d{2}:\\\\d{2}:\\\\d{2}$\",\n\t\t\t\"description\": \"YYYY-MM-DD HH:MM:SS 형식의 날짜시간\"\n\t\t},\n\t\t\"location\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n      \t\"accident_space\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"cause_of_death\": {\n\t\t\t\"type\": \"string\"\n        },\n        \"original_text\": {\n\t\t\t\"type\": \"string\"\n        }\n\t}\n}","options":{"systemPromptTemplate":"You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."}},"id":"cc08b5c5-bbdb-4076-999a-71e77da94764","name":"Information Extractor","type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[-7328,-336],"onError":"continueRegularOutput"},{"parameters":{"fieldToSplitOut":"body.items.item","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-7984,-336],"id":"c7563609-d600-4677-89e1-22d0a721b839","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"6b42769b-9f0f-4f58-adb7-4e76032edc2e","name":"arno","value":"={{ $json.arno }}","type":"string"},{"id":"44cd2d39-63b2-45ac-bb1a-80f8716b1492","name":"keyword","value":"={{ $json.keyword }}","type":"string"},{"id":"652ae593-429c-48ef-9ebd-6160f33c26c3","name":"contents","value":"={{ $json.contents.removeTags().replaceAll('&nbsp;','').trim() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7760,-336],"id":"9abb5405-ecf3-42ac-ac08-ac0fcb64c0cc","name":"데이터 전처리"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4857ef20-56b3-44e5-8851-57a8d8a67900","leftValue":"={{ $json.datetime }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-6720,-336],"id":"adf71508-dfc4-402e-b5fe-23daadcb587a","name":"날짜가 있는 것만 추출"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"datetime"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-6512,-336],"id":"3f9e35ad-9e0d-4412-a054-5b148e3dcf76","name":"Sort"},{"parameters":{"content":"## 5. 리포트","height":700,"width":360,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-7232,-128],"id":"f2c35c2b-859f-4be1-94ec-7fb81e43a4d1","name":"Sticky Note1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-7568,-640],"id":"797760de-dcb9-4876-9b6e-47cec6185b9e","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"8Mn7IcG6GNbBBRV7","name":"OpenRouter account"}}},{"parameters":{"description":"Get Incident Data from Google sheet","workflowId":{"__rl":true,"value":"rbHX3wkIS1Se7v69","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-7728,-656],"id":"2b8d1717-8ff1-47cc-966f-6be0ffa23439","name":"Call n8n Workflow Tool"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-8192,-32],"id":"6b21e846-3c2b-47f0-828d-8b7242464bb1","name":"When Executed by Another Workflow"},{"parameters":{"hasOutputParser":true,"options":{"systemMessage":"You are a helpful assistant"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-7584,-32],"id":"9c70cd1a-feb7-47cf-a749-bcc983e18e55","name":"AI Agent"},{"parameters":{"sendTo":"datapopcorn@gmail.com","subject":"Incident Report","message":"Hello","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-7088,-48],"id":"e989ef3a-670d-479d-8f09-74c51553c3f1","name":"Gmail","webhookId":"ba0aeb7e-cae1-4dcd-85ad-cfa4b37a5851","credentials":{"gmailOAuth2":{"id":"FESGt8Wy0t1sRoJv","name":"(DP) Gmail account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C07PH5BRN1X","mode":"list","cachedResultName":"automation-n8n"},"text":"Hello","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-7088,160],"id":"8a36b788-6e11-473b-b78b-4e0a2cee16ca","name":"Slack","webhookId":"7e474301-7c0e-4562-abd6-da70bc11ded4","credentials":{"slackApi":{"id":"WZW1Kqym7BnJSCSZ","name":"(n8n-agent-bot) Slack account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1OIxTSJdU8RECbXEl-0Q52AOFNnBf2MukoHqff7LZCYI","mode":"list","cachedResultName":"incident_data(twitter_scrap)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIxTSJdU8RECbXEl-0Q52AOFNnBf2MukoHqff7LZCYI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"시트1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIxTSJdU8RECbXEl-0Q52AOFNnBf2MukoHqff7LZCYI/edit#gid=0"},"options":{"returnFirstMatch":false}},"id":"c3b64409-aa8d-419f-9a5b-fa7eefda6122","name":"Get Incident Data","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-7984,-32],"credentials":{"googleSheetsOAuth2Api":{"id":"91ar5Cg6JmPJpWXZ","name":"(DP) Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-7792,-32],"id":"d0142be5-1d03-450c-b553-97f5eecd0488","name":"Remove Duplicates"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-7088,368],"id":"2c76d3ca-7d15-442c-92e7-b2c8a07f4d68","name":"Tableau"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-7408,192],"id":"cb73980c-ec15-418d-aaa6-a89e4215a198","name":"Structured Output Parser"},{"parameters":{"maxItems":10},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-7552,-336],"id":"0b9370c4-0f3e-41a5-87ea-cfc9a92bc1ac","name":"Limit"},{"parameters":{"modelName":"models/gemini-2.0-flash-lite-001","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-7360,-640],"id":"ba76e817-ea0e-4c7b-ad82-87de36b16a3e","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"ihh044ZCMTJkbSAX","name":"Google Gemini(PaLM) Api account - 이인영"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-6256,-944],"id":"db912832-43f8-403d-9203-b6b10099f522","name":"Loop Over Items"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C080PD1TH60","mode":"list","cachedResultName":"alerts-n8n-workflows"},"text":"={{ $now }} \n중대재해 데이터 {{ $json.count_arno }}건 적재가 모두 완료 되었습니다.","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-5840,-1040],"id":"7562dc2f-daf8-4d34-96f9-b0e685498bd4","name":"Slack1","webhookId":"bbfaf41f-8482-404b-8b67-e45924c7b61a","credentials":{"slackApi":{"id":"WZW1Kqym7BnJSCSZ","name":"(n8n-agent-bot) Slack account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1OIxTSJdU8RECbXEl-0Q52AOFNnBf2MukoHqff7LZCYI","mode":"list","cachedResultName":"incident_data(twitter_scrap)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIxTSJdU8RECbXEl-0Q52AOFNnBf2MukoHqff7LZCYI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":490624861,"mode":"list","cachedResultName":"Result","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OIxTSJdU8RECbXEl-0Q52AOFNnBf2MukoHqff7LZCYI/edit#gid=490624861"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"9b6a92a6-29d3-4129-a7ff-c0686e26728a","name":"Append Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-6032,-784],"credentials":{"googleSheetsOAuth2Api":{"id":"91ar5Cg6JmPJpWXZ","name":"(DP) Google Sheets account"}}},{"parameters":{"fieldsToSummarize":{"values":[{"field":"arno"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-6032,-1040],"id":"c35b6b12-92c0-4595-8064-7a05aea82613","name":"Summarize"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-7232,-496],"id":"c533667f-c880-43f8-9ddb-ce03036ddb64","name":"Insert rows in a table","credentials":{"postgres":{"id":"66FzaDczUTYu1HC5","name":"Postgres account 2"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request(After)","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request(After)","type":"main","index":0}]]},"HTTP Request(After)":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Google Sheets1":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"필요한 요소만 추출":{"main":[[{"node":"날짜가 있는 것만 추출","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"필요한 요소만 추출","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"데이터 전처리","type":"main","index":0}]]},"데이터 전처리":{"main":[[{"node":"Limit","type":"main","index":0}]]},"날짜가 있는 것만 추출":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Incident Data","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Gmail","type":"main","index":0},{"node":"Slack","type":"main","index":0},{"node":"Tableau","type":"main","index":0}]]},"Get Incident Data":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Limit":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0},{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Loop Over Items":{"main":[[{"node":"Summarize","type":"main","index":0}],[{"node":"Append Google Sheets","type":"main","index":0}]]},"Append Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Slack1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2025-04-15T00:00:45.011+09:00","Readable date":"April 15th 2025, 12:00:45 am","Readable time":"12:00:45 am","Day of week":"Tuesday","Year":"2025","Month":"April","Day of month":"15","Hour":"00","Minute":"00","Second":"45","Timezone":"Asia/Seoul (UTC+09:00)"}}],"Tableau":[{"json":{"URL":"https://public.tableau.com/app/profile/.32907218/viz/20241_17250264272320/sheet0"}}]},"versionId":"b2b020e4-d3e1-4933-a1af-b0d1a0315ba2","triggerCount":0,"shared":[{"createdAt":"2025-09-03T04:07:21.621Z","updatedAt":"2025-09-03T04:07:21.621Z","role":"workflow:owner","workflowId":"Du7HdD32S8KuI3Rw","projectId":"sjNgDrdbhRMMF6SK"}],"tags":[{"createdAt":"2025-06-25T04:00:38.130Z","updatedAt":"2025-06-25T04:00:38.130Z","id":"EyGUZypc5DKHVUyY","name":"패스트캠퍼스"}]}